<li class="quick-cart dropdown pull-right">
    <a href="shop-home-1.html#" class="dropdown-toggle"><i class="fa fa-shopping-cart"></i> 3 ITEMS - $89.45 <i class="fa fa-angle-down"></i></a>
    <ul class="dropdown-menu pull-right">
        <li>
            <p><i class="fa fa-warning"></i> You have 3 products on your cart</p>

            <!-- CART CONTENT -->
            <div class="quick-cart-content">

                <a class="quick-cart-item" href="shop-page-cart.html">
                    <!-- item 1 -->
                    <img class="pull-left" src="@Url.Content("~/Content")/images/demo/shop/thumb/1.jpg" width="40" alt="quick cart">
                    <div class="inline-block">
                        <span class="title block">Man shirt XL</span>
                        <span class="price block">2 &times; $44.00</span>
                    </div>
                </a><!-- /item 1 -->

                <a class="quick-cart-item" href="shop-page-cart.html">
                    <!-- item 2 -->
                    <img class="pull-left" src="@Url.Content("~/Content")/images/demo/shop/thumb/2.jpg" width="40" alt="quick cart">
                    <div class="inline-block">
                        <span class="title block">Great Black Shoes For Man and Only Man...</span>
                        <span class="price block">2 &times; $44.00</span>
                    </div>
                </a><!-- /item 2 -->

                <a class="quick-cart-item" href="shop-page-cart.html">
                    <!-- item 3 -->
                    <img class="pull-left" src="@Url.Content("~/Content")/images/demo/shop/thumb/4.jpg" width="40" alt="quick cart">
                    <div class="inline-block">
                        <span class="title block">Pink Lady Perfect Shoes</span>
                        <span class="price block">1 &times; $67.32</span>
                    </div>
                </a><!-- /item 3 -->

                <div class="row cart-footer">
                    <!-- cart footer -->
                    <div class="col-md-6 nopadding-right">
                        <a href="shop-page-cart.html" class="btn btn-primary fullwidth">VIEW CART</a>
                    </div>
                    <div class="col-md-6 nopadding-left">
                        <a href="shop-page-checkout.html" class="btn btn-info fullwidth">CHECKOUT</a>
                    </div>
                </div><!-- /cart footer -->

            </div>
            <!-- /CART CONTENT -->

        </li>
    </ul>
</li>

