<!-- Top Bar -->
<header id="topBar" class="styleBackgroundColor">
    <div class="container">
        <div id="barMain">
            <nav class="nav-second">
                <ul class="nav nav-pills nav-second">
                    <li style="padding-right: 15%">
                        <a class="logo" href="@Url.Action("Index", "Home")">
                            <img src="@Url.Content("~/Content")/images/viLogo.png" height="70" alt="" />
                        </a>
                    </li>
                    <li><img src="@Url.Content("~/Content/images/slogan5.png")" alt="Slogan" style="height:46px;position:relative;top:11px;right:0px" /></li>
                    @*<li><a href="#" data-toggle="modal" data-target="#LoginModal"><i class="fa fa-angle-right"></i> Đăng Nhập</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#RegisterModal"><i class="fa fa-angle-right"></i> Đăng Kí</a></li>
                    <li class="hidden-xs"><a href="shop-home-1.html#"><i class="fa fa-angle-right"></i> Liên Hệ</a></li>
                    @Html.Partial("_Cart")*@
                </ul>
            </nav>
        </div>
    </div><!-- /.container -->
</header>
<!-- /Top Bar -->
