<!-- Top Bar -->
<header id="topBar" class="styleBackgroundColor">
    <div class="container">

        <div class="pull-left fsize13 hide_mobile">

            <div class="block text-right">
                <!-- social -->
                <a href="shop-home-1.html#" class="social fa fa-facebook"></a>
                <a href="shop-home-1.html#" class="social fa fa-twitter"></a>
                <a href="shop-home-1.html#" class="social fa fa-google-plus"></a>
                <a href="shop-home-1.html#" class="social fa fa-linkedin"></a>
                <a href="shop-home-1.html#" class="social fa fa-pinterest"></a>
            </div><!-- /social -->

        </div>

        <div id="barMain">
            <nav class="nav-second">
                <ul class="nav nav-pills nav-second">
                    <li class="hidden-xs"><a href="shop-home-1.html#"><i class="fa fa-angle-right"></i> Về Chúng Tôi</a></li>
                    <li><a href="shop-home-1.html#"><i class="fa fa-angle-right"></i> Đăng Kí</a></li>
                    <li class="hidden-xs"><a href="shop-home-1.html#"><i class="fa fa-angle-right"></i> Liên Hệ</a></li>
                    @Html.Partial("_Cart")
                </ul>
            </nav>
        </div>

    </div><!-- /.container -->
</header>
<!-- /Top Bar -->
