/* STRUCTURE */
/*	
	Ngoc Tham/ hiepdo / 2013
	1. IMPORT & RESET
	2. GRID 	
	3. TYPOGRAPHY
	4. MISC		
	5. MAIN
/*-------------------------------------------------------------- 
RESET
-------------------------------------------------------------- */
@font-face {
    font-family: 'myriadpro-cond-webfont';
    src: url('fonts/myriadpro-cond-webfont.eot');
    src: url('fonts/myriadpro-cond-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/myriadpro-cond-webfont.woff') format('woff'),
         url('fonts/myriadpro-cond-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,dialog,div,dl,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,hr,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,meter,nav,object,ol,output,p,pre,progress,q,rp,rt,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video,xmp{border:0;margin:0;padding:0;font-size:100%}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
b,strong{font-weight:bold}
img{color:transparent;font-size:0;vertical-align:middle;}
li{display:list-item}
table{border-collapse:collapse;border-spacing:0}
th,td,caption{font-weight:normal;vertical-align:top;text-align:left}
q{quotes:none}
q:before,q:after{content:'';content:none}
sub,sup,small{font-size:90%}
sub,sup{line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}
sup{top:-0.5em}
svg{overflow:hidden}
.alpha{margin-left:0!important}
.omega{margin-right:0!important}
.prefix_1{padding-left:5px!important}
.prefix_2{padding-left:10px!important}
.prefix_3{padding-left:15px!important}
.prefix_4{padding-left:20px!important}
.prefix_5{padding-left:25px!important}
.prefix_6{padding-left:30px!important}
.suffix_1{padding-right:5px!important}
.suffix_2{padding-right:10px!important}
.suffix_3{padding-right:15px!important}
.suffix_4{padding-right:20px!important}
.suffix_5{padding-right:25px!important}
.suffix_6{padding-right:30px!important}
.suffix_8{padding-right:40px!important}
.wrap01{padding:5px 0}
.wrap02{padding:10px 0}
.wrap03{padding:15px 0}
.wrap04{padding:20px 0}
.wrap05{padding:25px 0}
.wrap06{padding:30px 0}
.wrap1{padding:5px}
.wrap2{padding:10px}
.wrap3{padding:15px}
.wrap4{padding:20px}
.wrap5{padding:25px}
.wrap6{padding:30px}
.wrap0{padding:0}
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}
.cf:before,.cf:after{content:"\0020";display:block;overflow:hidden;visibility:hidden;width:0;height:0}
.cf:after{clear:both}
.left{float:left!important}
.right{float:right!important}
.text-left{text-align:left!important}
.text-right{text-align:right!important;}
.icon (background:url(images/btn_delete.png) no-repeat; width:100px;height:100px;)
.text-center{text-align:center!important}
.sfMenu,ul.otherNews,.breadcrum ul,.productList{margin:0;padding:0;list-style:none}
.banner img,figure img{display:block}
.figure,figure{overflow:hidden}
.figure img{height:100%;max-width:none}
.figure,figure{text-align:center;display:block}
.reset{margin-bottom:0}
.reset td{padding:0}
.cover img{width:100%}
.cover{overflow:hidden}
.relative{position:relative}
.figure2{display:block;overflow:hidden}
.figure2 img{width:100%;height:auto;min-height:100%}
[class^="grid_"] input[type='text'],[class^="grid_"] input[type='password'],[class^="grid_"] textarea{width:99%}
[class^="grid_"] select{width:99.7%}
.notext{border:0;text-indent:-999em;font-size:0}
.RadWindow
{
    background-color:#eaeaeb;
    border-radius: 10px;
    width:97%;
}
.RadWindow .rwPinButton,.RadWindow .rwReloadButton,.RadWindow .rwMinimizeButton,.RadWindow .rwMaximizeButton,.RadWindow .rwCloseButton
{
    background: url(/App_Themes/Cpanel1/images/PopupWindowIcon.gif)  no-repeat;
}

.RadWindow .rwPinButton{ background-position:-180px 0px}
.RadWindow .rwReloadButton{ background-position:-120px 0px}
.RadWindow .rwMinimizeButton{ background-position:0px 0px}
.RadWindow .rwMaximizeButton{ background-position:-60px 0px}
.RadWindow .rwCloseButton  { background-position:-90px 0px} 
.container_28
{
	margin-left: auto;
	margin-right: auto;
	width: 980px;
}
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16,
.grid_17,
.grid_18,
.grid_19,
.grid_20,
.grid_21,
.grid_22,
.grid_23,
.grid_24,
.grid_25,
.grid_26,
.grid_27,
.grid_28 {
	display: inline;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
}
.container_28 .grid_1 {width: 25px;}
.container_28 .grid_2 {width: 60px;}
.container_28 .grid_3 {width: 95px;}
.container_28 .grid_4 {width: 130px;}
.container_28 .grid_5 {width: 165px;}
.container_28 .grid_6 {width: 200px;}
.container_28 .grid_7 {width: 235px;}
.container_28 .grid_8 {width: 270px;}
.container_28 .grid_9 {width: 305px;}
.container_28 .grid_10 {width: 340px;}
.container_28 .grid_11 {width: 375px;}
.container_28 .grid_12 {width: 410px;}
.container_28 .grid_13 {width: 445px;}
.container_28 .grid_14 {width: 480px;}
.container_28 .grid_15 {width: 515px;}
.container_28 .grid_16 {width: 550px;}
.container_28 .grid_17 {width: 585px;}
.container_28 .grid_18 {width: 620px;}
.container_28 .grid_19 {width: 655px;}
.container_28 .grid_20 {width: 690px;}
.container_28 .grid_21 {width: 725px;}
.container_28 .grid_22 {width: 760px;}
.container_28 .grid_23 {width: 795px;}
.container_28 .grid_24 {width: 830px;}
.container_28 .grid_25 {width: 865px;}
.container_28 .grid_26 {width: 900px;}
.container_28 .grid_27 {width: 935px;}
.container_28 .grid_28 {width: 970px;}
/* --------------------------------------------------------------
TYPOGRAPHY
-------------------------------------------------------------- */
html{font-size:100.01%}
body{font-size:75%;color:#3a3a3a;line-height:1.4;font-family:Tahoma,Arial,sans-serif}
h1,h2,h3,h4,h5,h6{font-weight:bold;line-height:1.3}
h1{font-size:150%;font-weight:normal}
h2{font-size:125%;margin-bottom:10px}
h3{font-size:100%;margin-bottom:10px}
h4{font-size:87.5%;margin-bottom:10px}
h5{font-size:87.5%;text-transform:uppercase}
h6{font-size:75%;margin-bottom:5px}
h1 img,h2 img,h3 img,h4 img,h5 img,h6 img{margin:0;vertical-align:middle}
h6 a{color:#ecfff2}
h6 a:hover{color:#fff}
input[type='button'],input[type='submit']{cursor:pointer}
hr{border:medium none;border-top:1px dotted #ccc;clear:both;float:none;margin:0 0 10px;width:100%}
hr.style1{border-top:1px solid #ccc}
hr.style2{border-top:1px dashed #ccc}
ul.style1{padding:0;margin:0 0 20px 0}
ul.style1 li{list-style-type:none;margin:0;background:url(images/icon-check.png) no-repeat 5px .5em;padding-left:30px}
ul.style2{padding:0;margin:0 0 10px 0}
ul.style2 li{list-style-type:none;margin:0;background:url(images/ul_style2.gif) no-repeat 5px .7em;padding:4px 4px 4px 20px}
table.style1 tr td{vertical-align:top;padding:0 10px 5px 0;text-align:left}
table.style2 tr.alt{background:#f5f5f5}
table.style2 thead th{background:#fff}
table.style2 tbody th{background:#f5f5f5;text-align:right;padding-right:15px;border-right:1px dotted #e5e5e5}
table.style2 tbody tr.alt th{background:#efefef}
table.style3 th,.style3 td{padding:2px 10px}
:focus{outline:0}
input[type=text],input[type=password],input[type=url],input[type=email],input.text,input.title,textarea{background-color:#fff;border:1px solid #bbb;color:#000;font-family:Tahoma,Arial;font-size:12px; width:250px}
input[type=text]:focus,input[type=password]:focus,input[type=url]:focus,input[type=email]:focus,input.text:focus,input.title:focus,textarea:focus{border-color:#666}
select{background-color:#fff;border-width:1px;border-style:solid;border-color:#ccc}

/* Text elements
-------------------------------------------------------------- */
p{margin:0 0 .8em}
.p{margin-bottom:5px}
a{text-decoration:none;outline:0}
blockquote{margin:1.5em;color:#666;font-style:italic}
strong,dfn{font-weight:bold}
em,dfn{font-style:italic}
sup,sub{line-height:0}
abbr,acronym{border-bottom:1px dotted #666}
address{margin:0 0 1.5em;font-style:italic}
del{color:#666}
pre{margin:1.5em 0;white-space:pre}
pre,code,tt{font:1em 'andale mono','lucida console',monospace;line-height:1.5}
/* Lists
-------------------------------------------------------------- */
li ul,li ol{margin:0}
ul,ol{margin:0 1.5em 1.5em 0;padding-left:1.5em}
ul{list-style-type:disc}
ol{list-style-type:decimal}
dl{margin:0 0 1.5em 0}
dl dt{font-weight:bold}
dd{margin-left:1.5em}

/* Tables
-------------------------------------------------------------- */
table{margin-bottom:.4em;width:100%}
th{font-weight:bold}
thead th{background:#c3d9ff}
th,td,caption{padding:4px 10px 4px 4px;vertical-align:middle}
tfoot{font-style:italic}
caption{background:#eee}
/*-------------------------------------------------------------- 
MISC
-------------------------------------------------------------- */
/* Image */
img.alignLeft{float:left;margin:8px 20px 10px 0}
img.alignRight{float:right}
img.alignCenter{margin:0 auto}
.link{color:#000}
.loud{color:#cd010e}
.color{color:#f00!important}

/*-------------------------------------------------------------- 
MISC
-------------------------------------------------------------- */
.z-print{width:960px;margin:0 auto}
.print-header{padding:15px 0;border-bottom:1px dashed #ccc}
.print-content{padding:20px 0}
.pr-detail{padding:15px 0;color:#000}
.print-footer{text-align:right;padding:10px 0}

ul.noli{padding:0; margin:0;list-style:none;}
ul.nav{padding: 0; margin: 0; list-style: none;}
ul.nav li{float: left;}
/* --------------------------------------------------------------
MAIN
-------------------------------------------------------------- */
body.canhcam{background:#efefef;}
.clearfix{width:100%;clear:both;}
.container_28.relative{z-index: 1000;}
.catalog {width:960px;margin:0 auto;padding:0 5px;}
.content {position:relative;}
.bg-top-ct {background:url(images/top-content.png) no-repeat top;width:960px;padding:0 5px;margin-left:-5px;position:relative;height:20px;z-index:99;}
.top-content {background:url(images/bg-top-content.png) no-repeat;position:absolute;top:0;left:-14px;width:988px;height:107px;z-index:9;}
.center-content {background:url(images/bg-center-content.jpg) repeat-y;width:912px;padding:0 37px 0 40px;position:relative;top:0;margin:15px 0 0 -14px;}
.bottom-content {background:url(images/bg-bottom-content.png) no-repeat;position:absolute;bottom:0;left:-14px;width:988px;height:107px;z-index:9;}



/* HEADER */ 
.w100{width: 100%;display: block;min-width: 960px}
.header{background:#fff;height: 80px;position: relative;z-index: 300;}
.logo{position:absolute;top:0;left:20px;}
.right-header {position:absolute;height:80px;padding:0 20px;border-left:1px solid #d9ceb1;right:0;top:0;width:150px;}
.support {position:absolute;top:25px;}
.text-sp {float:left;color:#a4a4a4;font-size:14px;font-family:'myriadpro-cond-webfont',Tahoma,Arial,sans-serif;line-height:19px;}
.img-live-s {float:left;margin-left:8px;}
.searchBox{background: #e7e7e7;padding: 3px 5px;width:135px;height:14px;position:absolute;bottom:12px;}
.searchBox .searchInput{font-size: 11px;padding:0;color: #787878;border:none;width: 115px;float: left;background:none;height:14px;}
.searchBox .searchButton{border: none;background: url(images/button-search.png) no-repeat center;width: 13px; height: 13px;float: right;text-indent: -9999px;}


.main-nav{position:absolute;top:50px;left:165px;z-index:30;}
.main-nav ul {margin:0;padding:0;}
.main-nav li{float:left;list-style:none;position:relative;padding-bottom:26px;}
.main-nav li a{color:#926400;font-size:18px; display:block;padding:0 8px; margin-right: 2px;text-transform:uppercase;font-family:'myriadpro-cond-webfont',Tahoma,Arial,sans-serif;}
.main-nav li a:hover,.main-nav li a.active{color:#200f0f;}

.submenu {display:none;position:absolute;top:45px;left:0;}

ul.submenu {background:white;padding:7px 0px;width:125px;border:1px solid #dbdbd9;box-shadow:1px 0 3px #999;border-bottom:5px solid #dfdfdd;}
ul.submenu li {display:block;border-top:1px dotted #909090;padding:5px 0;width:100%;}
ul.submenu li:first-child {border:none;}
ul.submenu li a {color:#4f4f4f;font-size:14px;line-height:14px;}
ul.submenu li a:hover {color:#ff8a00;}
.main-nav li:hover ul.submenu , .main-nav li:hover ul.submenu.active, .main-nav li ul.submenu li:hover ul.submenu2  {display:block;}

ul.submenu2 {
    display: none;
    padding:7px 12px;
    left: 125px;
    position: absolute;
    top: 0;
    width: 117px;
    z-index:999999;
    background:white;
    border:1px solid #dbdbd9;box-shadow:1px 0 3px #999;border-bottom:5px solid #dfdfdd;
}


.user {position:absolute;/*right:210px*/right:190px;top:15px;}
.user ul {margin:0;padding:0;list-style:none;}
.user ul li {float:left;color:#999;font-size:12px;margin:0 3px;}
.user ul li a {color:#999;}
.user ul li a:hover, .user ul li a.name-user {color:#ae935e;}
.icon-menu {background:url(images/icon-menu-cap.png) no-repeat;width:7px;height:4px;display:block;position:absolute;left:44%;bottom:17%;}



.social{background: url(images/social.png) no-repeat;width: 80px;height: 50px;position: absolute;right: 0;top: 30px;z-index:999;cursor:pointer;}

/* BANNER */ 
.content-home {position:relative;}
.main-sl{top: 0px;position: relative;overflow: hidden;height: 100%;margin:0 auto;}
.sl-item{width: 100%;height: 100%;position: absolute;overflow: hidden;display: none;}
.sl-item:first-child{display: block;}
.sup1{position: absolute;left: 10%;}
.sup2{position: absolute;right: 8%;}
.sl-item1 , .sl-item2 , .sl-item3 {height:837px;}


.sl-next,.sl-prev{position: absolute;top:50%;z-index: 5000;cursor: pointer;width: 80px;height: 100px;display:none}
.sl-prev{left: 3%;background: url(images/sl-prev-h.png) no-repeat;}
.sl-prev:hover{background: url(images/sl-prev.png) no-repeat;}
.sl-next{right: 3%;background: url(images/sl-next-h.png) no-repeat;}
.sl-next:hover{background: url(images/sl-next.png) no-repeat;}
.main-sl:hover .sl-next,.main-sl:hover .sl-prev{display:block}

ul.mainls-nav{list-style:none;margin:0; padding:0; position:absolute; bottom:20px; left:0; width:100%; text-align:center; z-index:3000 }
ul.mainls-nav li{ display:inline-block; width:20px; height:20px; background:url(images/slideshow-bullet.png) no-repeat 5px 5px; margin-left:5px; cursor:pointer}
ul.mainls-nav li:hover,ul.mainls-nav li.active{ background-position:-36px 5px}

.sl-item.slcrr{z-index: 200;}

.bottomsl-con{background: url(images/btsl_bg.png) bottom repeat-x;position: absolute;bottom: 0px;height: 412px;width: 100%;z-index: 200;min-width: 960px;overflow: hidden;}
.bottomsl-wrap{width: 100%;max-width:1240px; margin: 0 auto;min-width: 930px;padding-top: 302px;z-index:999;}

.bottomsl li{width: 310px;}
.item-bottom-sl {width:290px;background:url(images/bg-t-sl.png) repeat-x top;padding-top:10px;}
.img-sl {float:left;margin-right:15px;display:block;width:100px;height:60px;overflow:hidden;}
.desc-sl {float:left;width:165px;padding-right:5px;height:60px;overflow:hidden;}
.desc-sl h1 , .desc-sl h2 {font-size:14px;margin-bottom:7px;line-height:14px;font-weight:bold;}
.desc-sl h1 a , .desc-sl h2 a {color:#fff;}
.desc-sl h1 a:hover , .desc-sl h2 a:hover {color:#333;}
.desc-sl p {color:#fff;font-size:12px;line-height:12px;}
.next-b {float:right;clear:both;margin-top:10px;color:#fff;font-size:14px;display:none;}
.next-b:hover {text-decoration:underline;}


.slide-h-catalog {position:relative;height:306px;position:relative;width:912px;margin-bottom:30px;}
.slide-catalog {width:912px;margin-bottom:0;height:245px;position:relative;}

/* FOOTER */ 
footer{border-top:5px solid #816321;padding:5px 0;display:inline-block;width:100%;text-align:center;clear:both;}
footer ul {margin:0;padding:0;list-style:none;}
footer ul li {display:inline-block;}
footer ul li a {font-family:'myriadpro-cond-webfont',Tahoma,Arial,sans-serif;color:#200f0f;font-size:18px;padding:0 10px;text-transform:uppercase;}
footer ul li a:hover {text-decoration:underline;}
footer ul li a img {margin-left:3px;}



/* HOME PAGE */ 
.prd-home {clear:both;position:relative;z-index:99;}
.jewelry {margin-bottom:27px;height:355px;position:relative;}
.jewelry h4.title {background:url(images/bg-title.png) no-repeat;width:235px;height:29px;line-height:29px;color:#fff;font-size:16px;font-weight:bold;margin-bottom:13px;padding-left:50px;text-transform:uppercase;}

.wrap-jewelry {width:912px;position:relative;}
.wrap-jewelry .social {right:0;top:0;width:37px;}
.item-jewelry {width:216px;background:white;border:1px solid #dedede;float:left;margin-right:13px;position:relative}
.img-jw {display:block;width:216px;height:190px;overflow:hidden;}
.img-jw img {width:216px;}
.item-jewelry h1 , .item-jewelry h2 {font-size:14px;font-weight:bold;margin-bottom:0;height:20px;overflow:hidden;text-align:center;}
.item-jewelry h1 a , .item-jewelry h2 a {color:#3f3f3f;}
.item-jewelry h1 a:hover , .item-jewelry h2 a:hover {text-decoration:underline;}
.code {margin-bottom:10px;color:#666;font-size:12px;text-align:center;}
.dathang {background:url(images/bg-dathang.png) repeat-y;height:28px;line-height:28px;width:218px;text-align:center;display:none;margin-bottom:10px;}
.icon-dathang {background:url(images/icon-ship.png) no-repeat 0 2px;width:15px;height:16px;padding-left:22px;color:#fff;font-size:16px;font-weight:bold;}
.icon-dathang-active {background:url(images/icon-ship-h.png) no-repeat 0 2px;width:15px;height:16px;padding-left:22px;color:#663300;font-size:16px;font-weight:bold;}
.icon-dathang:hover {background:url(images/icon-ship-h.png) no-repeat 0 2px;color:#663300;}

h3.price {text-align:center;color:#8c6000;font-size:16px;padding-bottom:10px;margin:0;min-height:21px !important;}
.small {font-size:12px;}
.button {background:url(images/bg-button.png) no-repeat;width:32px;height:32px;display:block;position:absolute;top:45%;z-index:200;}
.next-jewelry , .next-jewelry-10k, .next-jewelry-piece , .next-jewelry-20k , .next-jewelry-gift , .next-other,.next-jewelry-gift2 {background-position:0 -32px;right:-8px;}
.prev-jewelry , .prev-jewelry-10k , .prev-jewelry-piece .prev-jewelry-20k , .prev-jewelry-gift , .prev-other,.prev-jewelry-gift2 {left:-8px;background-position:0 0;}


/*PRODUCT PAGES*/
.container {position:relative;z-index:30;}
.product {clear:both;padding-bottom:15px;}
.wrap-prd {position:relative;}
.title-full {background:url(images/title-full.png) no-repeat;width:862px;height:29px;line-height:29px;padding-left:50px;color:#fff;font-size:16px;font-weight:bold;margin-bottom:17px;text-transform:uppercase;}
.list-prd {margin-bottom:10px;height:23px;border-bottom:1px solid #c5af7f;padding-bottom:5px;}
.list-prd ul {margin:0;padding:0}
.list-prd ul li {float:left;margin-right:20px;list-style:none;}
.list-prd ul li a {color:#999;font-size:18px;}
.list-prd ul li a:hover, .list-prd ul li a.active {color:#8c6000;}
.wrap-prd .item-jewelry {margin:10px 13px 10px 0;position:relative;}
.wrap-prd .social {right:0;top:10px;width:37px;}
.mt-18 .wrap-prd .social {right:2px;top:1px;width:37px;}

.showpop{ position:absolute; left:0; top:0; width:100%; height:100%; z-index:30}
.detail-prd {background:url(images/bg-h-prd.png) no-repeat;width:194px;height:229px;display:none;padding:7px 10px 10px;position:absolute;top:1px;left:1px; z-index:20}
.item-prd-d {border-bottom:1px dotted #fff;padding-bottom:6px;margin:3px 0;}
.type {float:left;width:80px;color:#fff;font-weight:bold;font-size:11px;}
.type-d {float:left;width:105px;color:#fff;font-size:12px;}
.hc {float:left;margin-right:5px;color:#fff;}
.last-bd {border:none !important;}
.wrap-prd .item-jewelry:hover .detail-prd{display:block;}
.prd-home #jewelry .item-jewelry:hover .detail-prd{display:block;}
.prd-home #jewelry-piece  .item-jewelry:hover .detail-prd{display:block;}
.prd-home #jewelry-10k .item-jewelry:hover .detail-prd{display:block;}
.prd-home #jewelry-20k .item-jewelry:hover .detail-prd{display:block;}
.prd-home #jewelry-gift .item-jewelry:hover .detail-prd{display:block;}
.prd-home #jewelry-gift2 .item-jewelry:hover .detail-prd{display:block;}

.product-detail {position:relative;background:white;border:1px solid #DEDEDE;padding:15px;clear:both;display:block;margin:0 10px;}
.img-pd {float:left;}
.info-prd-d {float:right;width:470px;}
.info-prd-d h1 {color:#3f3f3f;font-size:24px;font-weight:bold;margin-bottom:12px;}
.info-prd-d h3 {color:#999;font-size:18px;font-weight:normal;margin-bottom:18px;text-transform:uppercase;}
.info-prd-d p {color:#666;font-size:12px;margin-bottom:17px;}
.info-prd-d h4 {color:#666;font-weight:bold;font-size:14px;margin-bottom:15px;}
.table-prd {margin-bottom:10px;}
.table-prd tr td {border-bottom:1px dotted #c6c6c6;padding:5px 0;color:#666;}
.table-prd tr td.tl {text-align:left;font-weight:bold;font-size:12px;}
.table-prd tr td.tr {text-align:right;font-weight:normal;font-size:12px;}

.other-prd {clear:both;position:relative;margin:15px 10px;}
.item-other-prd {background:white;border:1px solid #dedede;padding:9px;float:left;margin-right:8px;width:152px;}
.img-other {display:block;width:152px;overflow:hidden;}
.item-other-prd h2 {font-size:14px;font-weight:bold;margin:10px 0 3px;text-align:center;}
.item-other-prd h2 a {color:#3f3f3f;}
.item-other-prd h2 a:hover {text-decoration:underline;}
.item-other-prd p {color:#666;font-size:12px;text-align:center;}


.product-detail .social {width:37px;top:0;right:0;}
.info-prd-d .utilities-bar {background:none;padding:0;}

/*REGESTY*/
.reg {margin-top:-18px;}
.wrap-reg {background:#fff;border:1px solid #dfdfdf;clear:both;margin-bottom:30px;padding:45px 20px 25px 0px;}
.item-reg {background:url(images/bg-reg.png) no-repeat top center;}
.item-reg h2 {text-align:center;color:#333;font-size:20px;font-weight:bold;margin-bottom:25px;}
.item-reg h3 {text-align:center;color:#333;font-size:16px;font-weight:normal;margin-bottom:45px;}
.desc-reg {margin-left:215px;}
.desc-f-reg {margin-bottom:10px;width:405px;}
.desc-f-reg h3 {color:#333;font-size:12px;font-weight:bold;text-transform:uppercase;margin-bottom:10px;text-align:left;}
.frm-reg {clear:both;margin-bottom:6px;position:relative;}
.frm-reg p.label {width:125px;float:left;color:#333;font-size:12px;line-height:20px;margin-bottom:0;}
.text-red {color:red;}
.frm-reg input[type="text"] , .frm-reg input[type="password"] {float:left;width:270px;background:white;border:1px solid #8f9195;height:16px;line-height:16px;padding:2px 4px;color:#333;}
.frm-reg .row-error {top:4px;float:left;margin-left:20px;position:relative;}
.frm-reg select {float:left;width:280px;background:white;border:1px solid #8f9195;height:23px;line-height:16px;padding:2px 2px 2px 5px;color:#999;}
.desc-row {clear:both;margin-left:125px;padding-top:5px;}
.agree input[type="checkbox"] {margin:0 5px 0 0;padding:0;}
.agree span.acept {color:#3f3f3f;font-size:12px;margin-bottom:5px;position:relative;bottom:2px;}
.agree span.acept a {text-decoration:underline;color:#ae935e;}
.agree span.acept a:hover {text-decoration:none;}
.ttbb {margin-top:5px;color:#3f3f3f;}
.button-reg {background:url(images/bg-button-reg.png) no-repeat;display:block;width:106px;height:32px;line-height:32px;color:#fff;font-size:16px;text-align:center;margin-top:18px;border:none;}

/*LOGIN*/
.item-reg.log h2 {margin-bottom:15px;}
.forget-pass {text-transform:uppercase;font-size:14px;margin-bottom:15px;}
.forget-pass  a {color:#323232;}
.item-reg.log .frm-reg {margin-bottom:13px;}
.item-reg.log .desc-f-reg {margin-bottom:5px;}
.item-reg.log .desc-row {margin-top:-6px;padding-top:0;}
.item-reg.log .button-reg {margin-top:15px;}
.bot-log {clear:both;border-top:1px solid #999;padding-top:5px;width:465px;margin-top:27px;}
.bot-log span {text-transform:uppercase;color:#3f3f3f;font-size:14px;margin-right:3px;float:left;}
.bot-log a {text-transform:uppercase;color:#3f3f3f;font-size:14px;margin-right:3px;text-decoration:none;padding-right:5px;float:left;}
.bot-log a:hover {text-decoration:underline;}
.icon-bot {background:url(images/icon.jpg) no-repeat;width:10px;height:12px;display:block;float:left;position:relative;top:5px;}



/* NEWS PAGE */
.news-pages {clear:both;padding-bottom:10px;}
.wrap-news {position:relative;}
.mid-content{background: #fff;margin-top: -5px;padding: 10px 0}
.top-page{margin: 25px 0 20px;background: url(images/top_page.jpg) repeat-x;height: 58px;padding: 0 5px}
.page-name{color: #21c6ef;font-size: 24px;font-weight:normal;line-height: 58px;}

.post{border:1px solid #e6e6e6;width: 273px;padding: 10px;height:315px;overflow:hidden;background:white;margin: 0 13px 15px 0;float:left;}
.post-img{display:block;width:273px;overflow:hidden;}
.post-img img{border-radius: 5px;width:273px;}
.desc-post{height:118px;overflow:hidden;}
.post-title{font-size:14px;margin:10px 0px;line-height: 16px}
.post-title a{color: #3f3f3f;font-weight: bold;}
.post-title a:hover{text-decoration: underline;}


.detail-news {position:relative;background:white;border:1px solid #dedede;padding:30px 25px;}
.detail-news td {border: 1px solid #000;}
.news-detail{padding-top:10px;background:#fff;border-radius:10px;box-shadow:0 0 3px #999}
.newsdt-title{font-size:16px;font-weight:bold;margin-bottom:5px;}
.news-detail-content{padding:10px 20px;}
.other-news{clear:both;padding: 20px 0 0 0; }
.other-news h4{color:#3f3f3f;font-size:14px;margin-bottom: 5px}
.other-news .post{width: 135px;margin-left: 15px;border: none;padding: 3px 0;margin-bottom: 10px;}
.other-news .post-title a{font-weight: normal;}
.other-news .post:hover a{text-decoration: underline;}
.other-news ul{margin-bottom:10px;}	
.other-news li{list-style-image:url(images/news_arrow.png);}
.other-news li a{ color:#816321;padding:1px 0; display:inline-block;}
.other-news li a:hover{color:#222}

.clbox{margin-bottom:15px;}
.clbox .infobox{margin-left:13px;}

.news-pages .social {width:37px;right:2px;top:0;}
.news-pages .detail-news .social {width:37px;right:0px;top:0;}


/* CONTACT PAGE */
.contact {padding:20px 0 10px;}
.contact h1 {font-size:18px;font-weight:bold;margin-bottom:15px;}
.left-contact {float:left;width:465px;}
.map-c {float:right;width:425px;}

.ct-title{font-size: 14px;font-weight: bold;text-transform: uppercase;color: #666;margin-bottom: 10px;}

.frm-row{width:100%;clear:both;position:relative;padding-top:3px;}
.require{color:#E60D0D; font-size:11px;}
.frm-row .label{margin:0;width:200px;float:left;line-height:24px;}
.frm-row .lcontact{width:80px}
.row-error{position:absolute;right:4px;top:8px;background:url(images/edtError.png) no-repeat;width:14px;height:14px;display:block;}
.contact-frm input[type=text],.contact-frm textarea{width:300px;float:right;padding:3px;background:#f8f8f8;}
.contact-frm textarea{resize:vertical; min-height:60px;}
.frm-btnwrap{width:310px;float:right;}
.frm-btnwrap input{background:#ddb256;border:none;color:#fff; padding: 4px 10px; border-radius: 5px;}
.frm-btnwrap p{margin: 25px 0 10px;}
.frm-btncareer{width:260px; margin:10px 0;}



.msg-frm{margin:20px;padding:20px;border:1px solid #ccc;border-radius:0 20px;background:#dedede;}
.msg-title{color:#d10707;font-weight:bold;}

.capcha-input{width:125px;position:relative;float:left;margin-right:10px;}
.capcha-input input[type=text]{width:115px;}

.contact-info h4{ color:#0072bc; margin-bottom:5px;}
.contact-info{font-size: 14px;}
.contact-info p.label{line-height: 16px;}
.contact-info hr{margin: 8px 0;}
.contact-note{clear: both;margin-top:20px;border-top:1px solid #dcdcdc;padding-top:10px;color:#585858;font-size:11px;line-height:15px;}


/* BREADCRUM */
.breadcrum{color:#949494;text-align:right;font-size:11px; line-height:30px;display:block;float:right;}
.breadcrum a{color:#949494;margin:0 5px;}
.breadcrum a:hover{text-decoration:none;color:#333}
.breadcrum span.separate{padding:0 5px}
.breadcrum .active{color:#a7a7a7}

/* UTILITIES BAR */
.utilities-bar{margin:0px;padding-top:10px;width:100%;height:30px;background:url(images/top-uti.png) repeat-x top;}
.utilities-bar ul{float:left;margin:0;list-style:none;padding:0}
.utilities-bar li{float:left;margin-right:5px;}
.utilities-bar a{display:block;font-size:11px;color:#434343;text-transform:uppercase;}
.utilities-bar a span{display:inline-block;padding:1px 0 0 24px;height:12px}
.utilities-bar a.print,.utilities-bar a.sendtofriend{padding:0 5px 3px 0;border-top:0;position:relative;top:5px;border:1px solid #d3d3d3;}
.utilities-bar a.sendtofriend span{background:url("images/utility.png") no-repeat left bottom}
.utilities-bar a.print span{background:url("images/utility.png") no-repeat left top}
.utilities-bar a:hover span{text-decoration:underline}
.utilities-bar a.social-network{position:relative;top:5px;width:65px}


/* PAGE */
.pages{padding:0 0 10px 0 ; text-align:right;}
.pages a{color:#666;text-decoration:underline;font-weight:bold;padding:2px 2px}
.page-curr,.pages a:hover{color:#000;text-decoration:none;font-weight:bold}
.page-textbox{width:33px!important;line-height:10px;height:20px;border:1px solid #c5c5c5;text-align:center;}
.page-submit{border:0;text-indent:-9999px;font-size:0;height:26px;width:26px;cursor:pointer;padding:0;top:-5px;position:relative;background:url(images/bt_go.gif) no-repeat 2px 2px;}


/*CART*/
.wrap-shipping {max-width:1516px;min-width:923px;float:right;position:relative;z-index:99;height:4px;}
/*.shipping-cart {float:right;margin-right:-37px;margin-top:19px;}*/
.shipping-cart{position:fixed;right:114px;}
.nav-ship {overflow:hidden;width:0px;position:absolute;right:37px;}
.cart-ship {background:white;border:1px solid #dcb155;border-radius:7px;padding:15px 0;width:240px;}

.cart-user {background:url(images/bg-cart-user.jpg) no-repeat;width:225px;height:33px;line-height:33px;color:#fff;font-size:18px;padding-left:15px;}
.count-ship {background:url(images/count-ship.png) no-repeat;width:19px;height:19px;color:#dcb155;font-size:14px;text-align:center;line-height:21px;display:inline-block;margin-right:5px;}

.wrap-cart-ship {padding:15px 15px 0;}
.item-cart-ship {border-bottom:1px solid #d7d7d7;padding-bottom:10px;margin-bottom:10px;position:relative;}
.name-cart {font-size:12px;font-weight:bold;margin-bottom:3px;}
.name-cart a {color:#3f3f3f;}
.name-cart a:hover {text-decoration:underline;}
.item-cart-ship p {margin-bottom:3px;color:#666;}
.price-cart {color:#8c6000;font-size:16px;font-weight:bold;text-transform:uppercase;margin-bottom:0;}
.coun {color:#333;font-size:12px;margin-left:5px;}
.item-cound {position:absolute;bottom:10px;right:0;}
.item-cound a {float:left;margin-left:5px;}
.icon-ship {background:url(images/icon-cart.png) no-repeat;display:block;width:37px;height:33px;cursor:pointer;float:left;margin-top:16px;}
.icon-ship .count-ship {margin:3px;line-height:18px;}
.sum-cart {clear:both;padding-bottom:7px;}
.sum-cart h4 {font-size:16px;color:#8c6000;font-weight:bold;margin-bottom:10px;}
.sum-button {background:#ddb256;padding:5px 20px;color:#fff;font-size:14px;font-weight:bold;margin-left:35px;border-radius:7px;}
.sum-button:hover {background:#333;}

/*.mt-18 {margin-top:-18px;}*/
.mt-18 .wrap-prd .item-jewelry {margin:0 13px 20px 0}
.mt-18 .product {padding-bottom:10px;}
.mt-18 .pages {padding:0px;}

.cart {clear:both;background:white;border:1px solid #DEDEDE;padding:16px;margin:35px 0;float:left;}
.cart-nav {margin-bottom:15px;height:36px;}
.cart-nav li {position:relative;float:left;height:36px;line-height:36px;background:#c8c9c9;}
.cart-nav li:hover,.cart-nav li.active {background:#ddb256;}
.cart-nav li.step1 {padding:0 55px 0 65px;z-index:9;}
.cart-nav li.step2 {padding:0 50px 0 70px;z-index:8;}
.cart-nav li.step3 {padding:0 50px 0 70px;z-index:7;}
.cart-nav li.step4 {padding:0 50px 0 60px;z-index:6;}
.cart-nav li.step5 {padding:0 50px 0 65px;z-index:5;}
.cart-nav li a {display:block;color:#333;font-size:12px;font-weight:bold;}
.cart-nav li:hover a, .cart-nav li.active a{color:#fff;}
.cart-nav li span.tab-arow {background:url(images/bg-tab-cart.png) no-repeat 0 -36px;width:31px;height:36px;position:absolute;right:-18px;top:0;display:block;}
.cart-nav li:hover span.tab-arow,.cart-nav li.active span.tab-arow {background-position:0 0;}

/*SYSTEM STORE*/
.sys_stores {clear:both;position:relative;margin-bottom:10px;background:white;border:1px solid #DEDEDE;padding:30px 15px;float:left;width:875px;}
.img-sys-stores {float:left;margin-right:10px;}
.sys-store {float:left;width:605px;}
.choose-sys-store {background:url(../images/bg-sys-store.png) repeat-x;padding:10px;border:1px solid #dadada;border-radius:7px;height:32px;}
.choose-type {height: 18px;line-height: 20px; margin: 5px 6px 0 10px; position: relative; width: 230px;float:left;padding:1px 0px;background:white;border:1px solid #999;}
.tinh {bottom: 1px;color: #666; font-size: 12px;padding:5px 0; height: 20px; position: relative;text-align: left;width: 230px;z-index: 99;}
.button-label {background: url("images/bg-arrow.png") no-repeat scroll right center transparent; font-size: 12px;height: 16px;right: 2px;line-height: 20px; overflow: hidden;padding:5px 0 5px 5px;position: absolute;text-align: left; top: -3px; width: 220px;color:#666;line-height:16px;}
.sys-search {background:url(images/button-sys.png) no-repeat;width:87px;height:32px;line-height:32px;color:#fff;text-align:center;float:left;font-size:16px;}

.wrap-sys-store {clear:both;margin-top:15px;}
.table-stores tr:first-child td{background:#ccb776;border-right:1px solid #fff;color:#fff;font-weight:bold;}
.table-stores tr td {background:#eeefec;padding:5px 10px 5px 15px;border:1px solid #fff;color:#666;}
.table-stores tr.even td {background:#e3e4e1;}
.table-stores tr td.sys1 {width:35%;}
.table-stores tr td.sys2 {width:45%;}
.table-stores tr td.sys3 {width:20%;}

.sys_stores .social {width:37px;right:0;top:0;}

/*PHOTO PAGE*/
.zone-photo {padding:15px 0;}
.photo-item{ float:left;margin:0 36px 20px 0; width:198px;position: relative;text-align:center;}
.photo-item a{color: #333;}
.photo-item a:hover{text-decoration: underline;}
.photo-item img{ padding:7px 7px 20px;background:url(images/bg-album.png) no-repeat bottom;margin-bottom: 3px;display:block;}

/*VIDEO*/
.video-wrap {display: block;margin-left: 136px;padding: 37px 0;width: 651px;}
.video-big {position:relative;margin-bottom:17px;text-align:center;}
.icon-v-big {position:absolute;top:40%;left:44%;background:url(images/icon-video-big.png) no-repeat;display:block;width:55px;height:55px;}
.item-video {clear:both;margin:0 -5px;}
.item-video h4 {color:#006699;font-size:14px;font-weight:bold;margin:0 0 3px 5px;}
.desc-video {width:193px;float:left;margin:0 27px 10px 0;position:relative;text-align:center;}
.desc-video a.desc-img img {padding:7px 7px 7px 5px;background:url(images/bg-video-small.png) no-repeat bottom;display:block;margin-bottom:5px;}
.desc-video a {color:#333;font-size:12px;display:block;margin-bottom:7px;position:relative;}
.desc-video a:hover {text-decoration:underline;}
.icon-play {background:url(images/icon-video-small.png) no-repeat;display:block;width:20px;height:20px;position:absolute;left:42%;top:42%;}


/*
 * FancyBox - jQuery Plugin
 */
#fancybox-loading{position:fixed;top:50%;left:50%;width:40px;height:40px;margin-top:-20px;margin-left:-20px;cursor:pointer;overflow:hidden;z-index:1104;display:none}
#fancybox-loading div{position:absolute;top:0;left:0;width:40px;height:480px;background-image:url('images/fancybox/fancybox.png')}
#fancybox-overlay{position:absolute;top:0;left:0;width:100%;z-index:1100;display:none}
#fancybox-tmp{padding:0;margin:0;border:0;overflow:auto;display:none}
#fancybox-wrap{position:absolute;top:0;left:0;padding:20px;z-index:1101;outline:0;display:none}
#fancybox-outer{position:relative;width:100%;height:100%;background:#fff}
#fancybox-content{width:0;height:0;padding:0;outline:0;position:relative;overflow:hidden;z-index:1102;border:0 solid #fff}
#fancybox-hide-sel-frame{position:absolute;top:0;left:0;width:100%;height:100%;background:transparent;z-index:1101}
#fancybox-close{position:absolute;top:-15px;right:-15px;width:30px;height:30px;background:transparent url('images/fancybox/fancybox.png') -40px 0;cursor:pointer;z-index:1103;display:none}
#fancybox-error{color:#444;font:normal 12px/20px Arial;padding:14px;margin:0}
#fancybox-img{width:100%;height:100%;padding:0;margin:0;border:0;outline:0;line-height:0;vertical-align:top}
#fancybox-frame{width:100%;height:100%;border:0;display:block}
#fancybox-left,#fancybox-right{position:absolute;bottom:0;height:100%;width:35%;cursor:pointer;outline:0;background:transparent url('blank.gif');z-index:1102;display:none}
#fancybox-left{left:0}
#fancybox-right{right:0}
#fancybox-left-ico,#fancybox-right-ico{position:absolute;top:50%;left:-9999px;width:30px;height:30px;margin-top:-15px;cursor:pointer;z-index:1102;display:block}
#fancybox-left-ico{background-image:url('images/fancybox/fancybox.png');background-position:-40px -30px}
#fancybox-right-ico{background-image:url('images/fancybox/fancybox.png');background-position:-40px -60px}
#fancybox-left:hover,#fancybox-right:hover{visibility:visible}
#fancybox-left:hover span{left:20px}
#fancybox-right:hover span{left:auto;right:20px}
.fancybox-bg{position:absolute;padding:0;margin:0;border:0;width:20px;height:20px;z-index:1001}
#fancybox-bg-n{top:-20px;left:0;width:100%;background-image:url('images/fancybox/fancybox-x.png')}
#fancybox-bg-ne{top:-20px;right:-20px;background-image:url('images/fancybox/fancybox.png');background-position:-40px -162px}
#fancybox-bg-e{top:0;right:-20px;height:100%;background-image:url('images/fancybox/fancybox-y.png');background-position:-20px 0}
#fancybox-bg-se{bottom:-20px;right:-20px;background-image:url('images/fancybox/fancybox.png');background-position:-40px -182px}
#fancybox-bg-s{bottom:-20px;left:0;width:100%;background-image:url('images/fancybox/fancybox-x.png');background-position:0 -20px}
#fancybox-bg-sw{bottom:-20px;left:-20px;background-image:url('images/fancybox/fancybox.png');background-position:-40px -142px}
#fancybox-bg-w{top:0;left:-20px;height:100%;background-image:url('images/fancybox/fancybox-y.png')}
#fancybox-bg-nw{top:-20px;left:-20px;background-image:url('images/fancybox/fancybox.png');background-position:-40px -122px}
#fancybox-title{font-family:Helvetica;font-size:12px;z-index:1102}
.fancybox-title-inside{padding-bottom:10px;text-align:center;color:#333;background:#fff;position:relative}
.fancybox-title-outside{padding-top:10px;color:#fff}
.fancybox-title-over{position:absolute;bottom:0;left:0;color:#FFF;text-align:left}
#fancybox-title-over{padding:10px;background-image:url('images/fancy_title_over.png');display:block}
.fancybox-title-float{position:absolute;left:0;bottom:-20px;height:32px}
#fancybox-title-float-wrap{border:0;border-collapse:collapse;width:auto}
#fancybox-title-float-wrap td{border:0;white-space:nowrap}
#fancybox-title-float-left{padding:0 0 0 15px;background:url('images/fancybox/fancybox.png') -40px -90px no-repeat}
#fancybox-title-float-main{color:#FFF;line-height:29px;font-weight:bold;padding:0 0 3px 0;background:url('images/fancybox/fancybox-x.png') 0 -40px}
#fancybox-title-float-right{padding:0 0 0 15px;background:url('images/fancybox/fancybox.png') -55px -90px no-repeat}

.martop-20{margin-top:-20px}
a.figureactive, a.pro-vid{cursor:pointer}
.preload{display:none}
.popuphomepage{display:none}
.ask-frm {padding:20px}

/*RadAsyncUpload display button select*/

.frm-row .RadUpload .ruFileWrap{min-height: 25px; width:260px}                       
.frm-row .RadUpload .ruBrowse{margin-left:-70px; }
.frm-row .RadUpload .ruFakeInput{margin-right:80px; width:170px}
.frm-row .RadUpload_Default .ruRemove {margin-left:-40px}

.bshare{position:absolute; left:-212px; top:115px}



.nivoSlider{position:relative;width:100%;height:auto;clear:both;}
.nivoSlider img{position:absolute;top:0;left:0}
.nivo-main-image{display:block!important;position:relative!important;width:100%!important}
.nivoSlider a.nivo-imageLink{position:absolute;top:0;left:0;width:100%;height:100%;border:0;padding:0;margin:0;z-index:6;display:none}
.nivo-slice{display:block;position:absolute;z-index:5;height:100%;top:0}
.nivo-box{display:block;position:absolute;z-index:5;overflow:hidden}
.nivo-box img{display:block}
.nivo-caption{position:absolute;left:0;bottom:0;overflow:hidden;display:none !important;font-size:0;}
.nivo-caption p{padding:5px;margin:0}
.nivo-caption a{display:inline!important}
.nivo-html-caption{display:none}
.nivo-directionNav a{display:none;}
.nivo-nextNav{right:-75px;background-position: 0 0 !important;}
.nivo-nextNav:hover{background-position: 0 -86px !important;}
.nivo-prevNav{left:-75px; background-position: 0 -172px !important;;}
.nivo-prevNav:hover{background-position: 0 -258px !important;;}
.nivo-controlNav{position:absolute;right:0px;bottom:6px;z-index:10;}
.nivo-controlNav a{cursor:pointer; display: inline-block;font-size:0;width:13px;height:13px;margin-right:5px;background:url(images/bg-nav-slide.png) no-repeat;text-indent:-9999px;}
.nivo-controlNav a.active{background-position:0 -13px;;}



@media screen and (-webkit-min-device-pixel-ratio:0) {

} /* hacked cho chrome và safari */




/* Ysa - Updated 09052013*/
.bt-a {
    background: url("images/sprite.gif") no-repeat scroll 0 -898px transparent;
    display: inline-block;
    margin-top: 5px;
    padding-left: 10px !important;
}
/*BO SUNG FORM*/

.form_hr {background:white;margin:0px auto;width:615px;overflow:hidden;}
.form-rec {margin-left:2%;width:49%;}
.del { margin-left:10px;color:#000;height:24px;line-height:24px;text-decoration:underline;}
.del:hover { text-decoration:none;}
.form_hr input[type="text"], textarea {background:#f8f8f8;}
.form_hr textarea {height:97px;}
.gui {background:#0066B1;padding:3px 7px;color:#fff;border:none;margin-top:7px;}


.sendtofriend-frm  {padding:10px;}
.sendtofriend-frm .frm-row .label {width:130px;}
.send-mail {margin:0 100px;}
.frm-btnwrap.button-send {float:left;margin-left:132px;}
.sendtofriend-frm .frm-btnwrap {float:left;margin-left:130px;}


/* CART */
.info-prd-detail {clear:both;margin:10px 0 30px;}
.tab-cart{width: 100%;}
.tab-cart ul{list-style:none;margin:0;padding:0;}
.tab-cart ul li{float:left;margin:0 4px 2px 0;}
.tab-cart ul li a{ padding:6px 25px 6px 25px; text-decoration: none; cursor:pointer;font-size:12px;color:#fff;display:block;line-height:20px;background:#e33a7c;font-weight: bold;position:relative;z-index:20;text-align:center;border-radius:5px 5px 0 0;border:1px solid #e33a7c;border-bottom:none;text-transform:uppercase;}
.tab-cart ul li a.active,.tab-nacartv ul li a:hover{color:#e33a7c;background:#fff;top:3px;}

.tab-container-cart{padding-bottom:10px}

.addtocart_modal{background:url("images/modal_bg.png") no-repeat scroll left top transparent;display:none;height:183px;left:800px;position:absolute;top:650px;width:402px;z-index:100}
.addtocart_modal h3{clear:both;color:#2e3334;font-family:Verdana,Geneva,sans-serif;font-size:16px;font-weight:bold;padding-bottom:5px;padding-left:28px}
.quant {
background: url("images/inputbg.gif") no-repeat scroll 28px 1px transparent;
float: left;
height: 28px;
margin-top: 0;
padding-left: 28px;
width: 62px;
}
.closebtn{float:right;height:17px;padding-right:9px;padding-top:9px}
.closebtn{cursor:pointer;display:block;height:11px;width:11px}
.closebtn:hover{cursor:pointer}
.closebtn img{border:0 none}
.qform{display:block;float:left;position:relative}
.addwide{padding-top:3px;text-align:right;width:382px;position:absolute;bottom:27px}
.addwide:hover{cursor:pointer}
.quant input {font-weight:bold;}
input.inqt{border:0 none;font-size:14px;height:18px;margin:3px;padding-top:3px;width:50px!important;border:0 important}
.name_product{background:url("images/x.gif") no-repeat scroll 12px 9px transparent;float:left;font-size:14px;padding:5px 20px 5px 48px;width:230px}




/*BO SUNG*/
.cart-table td{
	vertical-align:middle;
}
.cart-wrap{background:url(images/cart_bg.gif);margin-bottom:15px;}
.cart-wrap .top{background:url(images/top_cart.gif) no-repeat;}
.cart-wrap .bottom{background:url(images/bottom_cart.gif) left bottom no-repeat;padding:3px 6px 5px;}
.cart-table{margin-bottom:5px;border:1px solid #eee}
.cart-table tr td.col0 {text-align:center;width:50px;}
.cart-table th{text-align:left; padding:12px 10px;border-left:1px solid #fff;}
.cart-table tr td{text-align:left; padding:10px;border-left:1px solid #fff;}
.cart-table tbody tr td{border-top:1px solid #fff;border-left:1px solid #fff;}
.cart-table input[type='text']{width:30px;border:1px solid #ccc;height:20px;text-align:center;padding:3px;}
.cart-table .number{width:80px;text-align:center;}
.cart-table .action{text-align:center;width:40px;}
.cart-table thead tr th{ text-align:center;color:#FFF;background:#ccb776;}
.cart-table thead tr th.col1{ width:400px}
.cart-table thead tr th.col2{ width:60px}
.cart-table thead tr th.col3{ width:120px}
.cart-table thead tr th.col4{ width:120px}
.cart-table thead tr th.col5{ width:50px}
.cart-table thead tr th.col6{ text-align:center}

.cart-table tbody tr td.col2{ text-align:center;vertical-align:middle}
.cart-table tbody tr td.col3{ text-align:right;vertical-align:middle}
.cart-table tbody tr td.col4{ text-align:right; vertical-align:middle}
.cart-table tbody tr td.col5{ text-align:center;vertical-align:middle}

.cart-table thead tr th:first-child,.cart-table tbody tr td:first-child{
	border-left:0;	
}
.cart-table tbody tr:first-child td{border-top:0;}
.summary .gia{padding:0;text-align:right;color:#f27b00;font:bold 16px Arial;}
.summary h4{background:url(images/organ_square.gif) no-repeat 0 3px;padding-left:20px;margin-bottom:5px;color:#2c2c2c;font:bold 14px Arial;}
.summary p{padding-left:20px;}
.cart-update{padding: 0;color: #3a3939; font-weight:bold;clear:both;}
.cart-update input[type="button"] {background:#ddb256;padding:5px 8px;color:#fff;font-size:12px;text-align:center;border:none;margin-right:5px;text-transform:uppercase;}
.cart-update-right {float:right;}
.cart-update .cart-update-right  input[type="button"] {margin-right:0;}
.total-box{margin: 0;}
.total-box h3{color: #333; font-size: 12px;font-weight:bold; margin:7px 0px 20px;float:right;}
.total-box .price,.total-box .price-cur{color: #000;}
.total-box .addship{font-weight: normal;color: #E33A7C;}
.total-box .addship:hover{color: #000;}
.bt-a{background:url(images/sprite.gif) no-repeat 0 -898px;display:inline-block;padding-left:10px !important;margin-top:5px;zoom:1;*display:inline;_height:1%;}


.frm-cart h3 , .frm-cart h6 {font-size:12px;margin:10px 0;color:#8c6000;text-transform:uppercase;}
.frm-cart .frm-reg .frm-btnwrap input {padding:5px 10px;font-size:14px;font-weight:bold;}
.clsAgree {margin-left:50px;}

.frm-cart .frm-btnwrap input{padding:5px 10px;font-size:12px;text-transform:uppercase;}
.total-box .frm-cart {float:right;clear:both;}
.total-box .frm-cart .frm-btnwrap {width:100%;}
.button.btnCheckOut {float:right;}
.cart-box {margin-bottom:10px;}
.cbox-head {margin-bottom:7px;}
.cbox-head h4 {font-size:14px;font-weight:bold;}
.cbox-head a , .addship {color:#E33A7C;text-decoration:underline;}
.cbox-head a:hover , .addship:hover {color:#333;}
.cbox-name, .price {color:#E33A7C;font-weight:bold;margin-right:5px;}
.price-cur, .sub-total {font-weight:bold;}
.frm-btn.checkoutinfo {float:right;}
.frm-btn.finish {float:right;background:#ddb256;border:none;padding:3px 7px;color:#fff;text-transform:uppercase;}
.fogot-pass {text-decoration:underline;color:#E33A7C;}
.fogot-pass:hover {text-decoration:none;}

/*checkout info */
.tab-contents{ background: none repeat scroll 0 0 white;  border-radius: 0 0 5px 5px; padding: 25px 20px;}
.cart-frm{width: 870px;}
.cart-frm .frm-reg p.label {width: 100px;}
.cart-frm input[type=text],.contact-frm textarea{width:315px;float:left;padding:3px;background:#f8f8f8;}
.cart-frm .frm-reg {min-height:24px;}
.cart-frm textarea{resize:vertical; min-height:60px;width:320px;}

/*bo sung cart*/
.prd-img {float:left;margin-right:7px;}
.prd-name {float:left;margin-top:20px;}
.prd-sku {float:left}
.cart-table tr td {background:#eeeeec;}
.cart-table tr.even td {background:#e3e3e1;}
.cart-table tr td.col3 {color:#333;font-size:12px;}
.cart-table table {margin:0;}
.delete {float:right;margin-top:33px;}

.like {margin-top:5px;}

/*bo sung lien he*/
.left-contact .contact-frm{width: 460px;}
.left-contact .frm-row .label {width:125px;}
.left-contact .contact-frm input[type="text"] {float:left;}
.left-contact .contact-frm textarea {width:300px;}
.info-contact {clear:both;padding-top:5px;color:#666;margin:10px 0 20px;border-top:1px dashed #d3d3d3;}
.left-contact .frm-btnwrap {width:335px;margin-top:7px;}
.left-contact .row-error {right:32px;}

.lostpass-wrap .frm-reg {height:23px;}
.lostpass-wrap .frm-btnwrap {width:345px;}

@media screen and (-webkit-min-device-pixel-ratio:0) {
.page-submit {top:-6px;}
} /* hacked cho chrome và safari */

@media only screen and (device-width: 768px) {

}

.highlightkeyword{background-color:Yellow;}
.checkout-note{margin-left:34px;text-align:justify;}
.at-item {
    background-color: #BFDFFC;
    background-position: center top;
    background-repeat: no-repeat;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 4;
}
a.delete{color:#000;font-size:11px;font-weight:bold;}
a.delete:hover{text-decoration:underline;}
.slogan {
    left: 172px;
    position: absolute;
    top: 2px;
}

.fancy {
    color: #666666;
}

.header-bar
{
    position:absolute;
    height:14px;
    background:url(images/menu_bar.jpg) no-repeat center;   
    bottom: -14px;
    width:100%;
    z-index:20;
}
#fancybox-title .highlightkeyword {background:none;}
.catalogdes {height:239px !important;}
.catalogdathang {display:block !important;}