USE [qtcdazqn_gjs]
GO
/****** Object:  StoredProcedure [dbo].[Report_Order]    Script Date: 9/7/2014 12:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Report_Order]
AS 
BEGIN
	SELECT oo.ORDER_CODE
		,oc.CUSTOMER_NAME
		,op.PRODUCT_CODE
		,op.PRODUCT_NAME
		,op.URL_IMAGE
		,oo.PHONE
		,oo.EMAIL
		,oo.DELIVERY_ADDRESS
		,dod.[SIZE]
		,dod.QUANTITY
		,dod.PRICE
		FROM O_ORDER oo
		LEFT JOIN O_CUSTOMER oc ON oc.CUSTOMER_CD = oo.CUSTOMER_CD
		LEFT JOIN D_ORDER_DETAIL dod ON dod.ORDER_CD = oo.ORDER_CD
		LEFT JOIN O_PRODUCT op ON dod.PRODUCT_CD = op.PRODUCT_CD 
END

GO
/****** Object:  StoredProcedure [dbo].[SP_STATISTICS_VISIT]    Script Date: 9/7/2014 12:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_STATISTICS_VISIT]
AS
BEGIN
	DECLARE @COUNTER_VISIT_GN bigint
	DECLARE @Count int
	SELECT @Count=Count(*) FROM S_STATISTICS_VISIT ttk
	IF @Count IS NULL SET @Count=0
	IF @Count=0
		INSERT INTO S_STATISTICS_VISIT(TIME_ONLINE,COUNTER_VISIT)
		VALUES (GetDate(),1)
	ELSE
		BEGIN
			
			DECLARE @TIME_ONLINE_GN datetime
			SELECT @COUNTER_VISIT_GN=ttk.COUNTER_VISIT, @TIME_ONLINE_GN=ttk.TIME_ONLINE
			  FROM S_STATISTICS_VISIT ttk WHERE ttk.CD=(SELECT Max(ttk2.CD) FROM S_STATISTICS_VISIT ttk2)
			IF @COUNTER_VISIT_GN IS NULL SET @COUNTER_VISIT_GN=0
			IF @TIME_ONLINE_GN IS NULL SET @TIME_ONLINE_GN=getdate()
			-- Kiểm tra xem lần truy cập này có phải đã sang ngày mới không (Qua thời điểm 12h00)
			-- Nếu chưa sang ngày mới thì cập nhật lại COUNTER_VISIT
			IF Day(@TIME_ONLINE_GN)=Day(GETDATE())
				BEGIN
					UPDATE S_STATISTICS_VISIT
					SET
						COUNTER_VISIT = @COUNTER_VISIT_GN+1,
						TIME_ONLINE = GetDate()
						
					WHERE CD=(SELECT Max(ttk2.CD) FROM S_STATISTICS_VISIT ttk2)
				END
				-- Nếu đã sang ngày mới thì thêm mới bản ghi, COUNTER_VISIT bắt đầu lại là 1
			ELSE
				BEGIN
					INSERT INTO S_STATISTICS_VISIT(TIME_ONLINE, COUNTER_VISIT)
					VALUES (GetDate(),1)
				END
		END
 
		-- Thống kê Hom nay, Hom qua, Tuan nay, Tuan Truoc, Thang nay, Thang Truoc
		DECLARE @TODAY INT
		SET @TODAY = datepart(dw, GetDate())
		SELECT @COUNTER_VISIT_GN=ttk.COUNTER_VISIT, @TIME_ONLINE_GN=ttk.TIME_ONLINE
			  FROM S_STATISTICS_VISIT ttk WHERE ttk.CD=(SELECT Max(ttk2.CD) FROM S_STATISTICS_VISIT ttk2)
		--Tính COUNTER_VISITHomQua
		DECLARE @COUNTER_VISIT_HQ bigint
		SELECT @COUNTER_VISIT_HQ=isnull(COUNTER_VISIT,0) FROM S_STATISTICS_VISIT  
			WHERE CONVERT(nvarchar(20),TIME_ONLINE,103)=CONVERT(nvarchar(20),GETDATE()-1,103)
		IF @COUNTER_VISIT_HQ IS null SET @COUNTER_VISIT_HQ=0
		-- Tính Ngày đầu tuần này
		DECLARE @WEEK_TN datetime
		SET @WEEK_TN= DATEADD(wk, DATEDIFF(wk, 6, GetDate()), 6)
		-- Tính Ngày đầu của tuần trước Tính từ thời điểm 00:00:))
		DECLARE @WEEK_NDTT datetime
		SET @WEEK_NDTT = Cast(CONVERT(nvarchar(30),DATEADD(dd, -(@TODAY+6), GetDate()),101) AS datetime)
		-- Tính ngày cuối tuần trước tính đến 24h ngày cuối tuần 
		DECLARE @WEEK_NCTT datetime
		SET @WEEK_NCTT = Cast(CONVERT(nvarchar(30),DATEADD(dd, -@TODAY, GetDate()),101) +' 23:59:59' AS datetime)
		
		-- Tính số truy cập tuần này
		DECLARE @COUNTER_VISIT_WEEK_TN bigint
		SELECT @COUNTER_VISIT_WEEK_TN=isnull(Sum(COUNTER_VISIT),0) FROM S_STATISTICS_VISIT ttk 
			WHERE ttk.TIME_ONLINE BETWEEN @WEEK_TN AND getdate()
		 
		-- Tính số truy cập tuần trước
		DECLARE @COUNTER_VISIT_WEEK_TT bigint
		SELECT @COUNTER_VISIT_WEEK_TT=isnull(sum(COUNTER_VISIT),0)  FROM S_STATISTICS_VISIT ttk 
			WHERE ttk.TIME_ONLINE BETWEEN @WEEK_NDTT AND @WEEK_NCTT
		
		-- Tính số truy cập tháng này
		DECLARE @COUNTER_VISIT_MONTH_TN bigint 
		SELECT @COUNTER_VISIT_MONTH_TN=isnull(Sum(COUNTER_VISIT),0)
			FROM S_STATISTICS_VISIT ttk WHERE MONTH(ttk.TIME_ONLINE)=MONTH(GETDATE())
		
		-- Tính số truy cập tháng trước
		DECLARE @COUNTER_VISIT_MONTH_TT bigint 
		SELECT @COUNTER_VISIT_MONTH_TT=isnull(Sum(COUNTER_VISIT),0)
			FROM S_STATISTICS_VISIT ttk WHERE MONTH(ttk.TIME_ONLINE)=MONTH(GETDATE())-1
		
		-- Tính tổng số
		DECLARE @COUNTER_VISIT_TOTAL bigint
		SELECT  @COUNTER_VISIT_TOTAL=isnull(Sum(COUNTER_VISIT),0) FROM S_STATISTICS_VISIT ttk
		
		SELECT @COUNTER_VISIT_GN AS COUNTER_VISIT_GN, 
		@COUNTER_VISIT_HQ AS COUNTER_VISIT_HQ,
		@COUNTER_VISIT_WEEK_TN AS COUNTER_VISIT_WEEK_TN, 
		@COUNTER_VISIT_WEEK_TT AS COUNTER_VISIT_WEEK_TT, 
		@COUNTER_VISIT_MONTH_TN AS COUNTER_VISIT_MONTH_TN, 
		@COUNTER_VISIT_MONTH_TT AS COUNTER_VISIT_MONTH_TT,
		@COUNTER_VISIT_TOTAL AS COUNTER_VISIT_TOTAL
END

GO
/****** Object:  Table [dbo].[D_CITIES_DETAIL]    Script Date: 9/7/2014 12:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_CITIES_DETAIL](
	[CITIES_DETAIL_CD] [bigint] IDENTITY(1,1) NOT NULL,
	[CITIES_CD] [bigint] NULL,
	[CITIES_DETAIL_CODE] [nvarchar](50) NULL,
	[CITIES_DETAIL_NAME] [nvarchar](max) NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_D_CITIES] PRIMARY KEY CLUSTERED 
(
	[CITIES_DETAIL_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[D_ORDER_DETAIL]    Script Date: 9/7/2014 12:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_ORDER_DETAIL](
	[ORDER_DETAIL_CD] [bigint] IDENTITY(1,1) NOT NULL,
	[ORDER_CD] [bigint] NULL,
	[PRODUCT_CD] [bigint] NULL,
	[SIZE] [nvarchar](max) NULL,
	[QUANTITY] [bigint] NULL,
	[PRICE] [decimal](18, 0) NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_D_ORDER_DETAIL] PRIMARY KEY CLUSTERED 
(
	[ORDER_DETAIL_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[D_PRODUCT_DETAIL]    Script Date: 9/7/2014 12:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_PRODUCT_DETAIL](
	[PRODUCT_DETAIL_CD] [bigint] IDENTITY(1,1) NOT NULL,
	[PRODUCT_CD] [bigint] NULL,
	[URL_IMAGE] [nvarchar](max) NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_D_PRODUCT] PRIMARY KEY CLUSTERED 
(
	[PRODUCT_DETAIL_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[M_EMPLOYEE]    Script Date: 9/7/2014 12:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_EMPLOYEE](
	[EMPLOYEE_CD] [bigint] IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_CODE] [nvarchar](50) NULL,
	[EMPLOYEE_NAME] [nvarchar](max) NULL,
	[ADDRESS] [nvarchar](max) NULL,
	[EMAIL] [nvarchar](max) NULL,
	[BIRTHDAY] [datetime] NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_M_EMPLOYEE] PRIMARY KEY CLUSTERED 
(
	[EMPLOYEE_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[M_PAGE]    Script Date: 9/7/2014 12:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_PAGE](
	[PAGE_COTRACT_CD] [bigint] IDENTITY(1,1) NOT NULL,
	[PAGE_COTRACT_TITLE] [nvarchar](max) NULL,
	[PAGE_COTRACT_CONTENT] [nvarchar](max) NULL,
	[CATEGORY_PAGE_CD] [bigint] NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_M_PAGE_CONTRACT] PRIMARY KEY CLUSTERED 
(
	[PAGE_COTRACT_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[O_ADVERTISEMENT]    Script Date: 9/7/2014 12:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[O_ADVERTISEMENT](
	[CD] [bigint] IDENTITY(1,1) NOT NULL,
	[ADVERTISEMENT] [nvarchar](max) NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_O_ADVERTISEMENT] PRIMARY KEY CLUSTERED 
(
	[CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[O_ALBUM]    Script Date: 9/7/2014 12:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[O_ALBUM](
	[ALBUM_CD] [bigint] IDENTITY(1,1) NOT NULL,
	[URL_IMAGE] [nvarchar](max) NULL,
	[CATEGORY_ALBUM_CD] [bigint] NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_O_ALBUM] PRIMARY KEY CLUSTERED 
(
	[ALBUM_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[O_BANNER]    Script Date: 9/7/2014 12:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[O_BANNER](
	[CD] [bigint] IDENTITY(1,1) NOT NULL,
	[URL_IMAGE] [nvarchar](max) NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_O_BANNER] PRIMARY KEY CLUSTERED 
(
	[CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[O_BRANCH]    Script Date: 9/7/2014 12:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[O_BRANCH](
	[BRANCH_CD] [bigint] IDENTITY(1,1) NOT NULL,
	[BRANCH_CODE] [nvarchar](50) NULL,
	[BRANCH_NAME] [nvarchar](max) NULL,
	[CITIES_CD] [bigint] NULL,
	[CITIES_DETAIL_CD] [bigint] NULL,
	[ADDRESS] [nvarchar](max) NULL,
	[LONGITUDE] [nvarchar](max) NULL,
	[LATITUDE] [nvarchar](max) NULL,
	[PHONE] [varchar](50) NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_O_BRANCH] PRIMARY KEY CLUSTERED 
(
	[BRANCH_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[O_CATEGORY_ALBUM]    Script Date: 9/7/2014 12:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[O_CATEGORY_ALBUM](
	[CATEGORY_ALBUM_CD] [bigint] IDENTITY(1,1) NOT NULL,
	[CATEGORY_ALBUM_NAME] [nvarchar](max) NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_O_CATEGORY_ALBUM] PRIMARY KEY CLUSTERED 
(
	[CATEGORY_ALBUM_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[O_CATEGORY_GRANULES]    Script Date: 9/7/2014 12:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[O_CATEGORY_GRANULES](
	[CATEGORY_GRANULES_CD] [bigint] IDENTITY(1,1) NOT NULL,
	[CATEGORY_GRANULES_NAME] [nvarchar](max) NULL,
	[CATEGORY_GRANULES_CONTENT] [nvarchar](max) NULL,
	[CATEGORY_GRANULES_WEIGHT] [nvarchar](max) NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_O_CATEGORY_GRANULES] PRIMARY KEY CLUSTERED 
(
	[CATEGORY_GRANULES_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[O_CATEGORY_NEWS]    Script Date: 9/7/2014 12:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[O_CATEGORY_NEWS](
	[CATEGORY_NEWS_CD] [bigint] IDENTITY(1,1) NOT NULL,
	[CATEGORY_NEWS_CODE] [nvarchar](50) NULL,
	[CATEGORY_NEWS_NAME] [nvarchar](max) NULL,
	[TAG_ALT] [nvarchar](max) NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_O_CATEGORY_NEWS] PRIMARY KEY CLUSTERED 
(
	[CATEGORY_NEWS_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[O_CATEGORY_PAGE]    Script Date: 9/7/2014 12:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[O_CATEGORY_PAGE](
	[CATEGORY_PAGE_CD] [bigint] IDENTITY(1,1) NOT NULL,
	[CATEGORY_PAGE_CODE] [nvarchar](50) NULL,
	[CATEGORY_PAGE_NAME] [nvarchar](max) NULL,
	[TAG_ALT] [nvarchar](max) NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_O_CATEGORY_PAGE] PRIMARY KEY CLUSTERED 
(
	[CATEGORY_PAGE_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[O_CATEGORY_PRODUCT]    Script Date: 9/7/2014 12:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[O_CATEGORY_PRODUCT](
	[CATEGORY_PRODUCT_CD] [bigint] IDENTITY(1,1) NOT NULL,
	[CATEGORY_PRODUCT_CODE] [nvarchar](50) NULL,
	[CATEGORY_PRODUCT_NAME] [nvarchar](max) NULL,
	[TAG_ALT] [nvarchar](max) NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_O_CATEGORY] PRIMARY KEY CLUSTERED 
(
	[CATEGORY_PRODUCT_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[O_CATEGORY_PRODUCT_DETAIL]    Script Date: 9/7/2014 12:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[O_CATEGORY_PRODUCT_DETAIL](
	[CATEGORY_PRODUCT_DETAIL_CD] [bigint] IDENTITY(1,1) NOT NULL,
	[CATEGORY_PRODUCT_CD] [bigint] NULL,
	[CATEGORY_PRODUCT_DETAIL_CODE] [nvarchar](max) NULL,
	[CATEGORY_PRODUCT_DETAIL_NAME] [nvarchar](max) NULL,
	[TAG_ALT] [nvarchar](max) NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_O_CATEGORY_PRODUCT_DETAIL] PRIMARY KEY CLUSTERED 
(
	[CATEGORY_PRODUCT_DETAIL_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[O_CITIES]    Script Date: 9/7/2014 12:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[O_CITIES](
	[CITIES_CD] [bigint] IDENTITY(1,1) NOT NULL,
	[CITIES_CODE] [nvarchar](50) NULL,
	[CITIES_NAME] [nvarchar](max) NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_O_CITIES] PRIMARY KEY CLUSTERED 
(
	[CITIES_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[O_CUSTOMER]    Script Date: 9/7/2014 12:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[O_CUSTOMER](
	[CUSTOMER_CD] [bigint] IDENTITY(1,1) NOT NULL,
	[CUSTOMER_CODE] [nvarchar](50) NULL,
	[CUSTOMER_NAME] [nvarchar](max) NULL,
	[CUSTOMER_FIRST_NAME] [nvarchar](max) NULL,
	[CUSTOMER_LAST_NAME] [nvarchar](max) NULL,
	[PHONE] [nvarchar](50) NULL,
	[ADDRESS] [nvarchar](max) NULL,
	[EMAIL] [nvarchar](max) NULL,
	[SEX] [nvarchar](max) NULL,
	[BIRTHDAY] [datetime] NULL,
	[SUBSCRIBE] [bit] NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_O_CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[CUSTOMER_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[O_HOME_GROUP_PHOTO]    Script Date: 9/7/2014 12:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[O_HOME_GROUP_PHOTO](
	[HOME_GROUP_PHOTO_CD] [bigint] IDENTITY(1,1) NOT NULL,
	[PHOTO_URL_1] [nvarchar](max) NULL,
	[PHOTO_URL_2] [nvarchar](max) NULL,
	[PHOTO_URL_3] [nvarchar](max) NULL,
	[PHOTO_URL_4] [nvarchar](max) NULL,
	[PHOTO_URL_5] [nvarchar](max) NULL,
	[PHOTO_URL_6] [nvarchar](max) NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_O_HOME_GROUP_PHOTO] PRIMARY KEY CLUSTERED 
(
	[HOME_GROUP_PHOTO_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[O_HOME_INTRODUCTION]    Script Date: 9/7/2014 12:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[O_HOME_INTRODUCTION](
	[O_HOME_INTRODUCTION_CD] [bigint] IDENTITY(1,1) NOT NULL,
	[O_HOME_INTRODUCTION_CONTENT] [nvarchar](max) NULL,
	[O_HOME_INTRODUCTION_AUTHOR] [nvarchar](max) NULL,
	[O_HOME_INTRODUCTION_PHOTO] [nvarchar](max) NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_O_HOME_INTRODUCTION] PRIMARY KEY CLUSTERED 
(
	[O_HOME_INTRODUCTION_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[O_HOME_SERVICE]    Script Date: 9/7/2014 12:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[O_HOME_SERVICE](
	[O_HOME_SERVICE_CD] [bigint] NOT NULL,
	[O_HOME_SERVICE_DESCRIPTION] [nvarchar](max) NULL,
	[O_HOME_SERVICE_TITLE] [nvarchar](max) NULL,
	[O_HOME_SERVICE_PHOTO] [nvarchar](max) NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_O_HOME_SERVICE] PRIMARY KEY CLUSTERED 
(
	[O_HOME_SERVICE_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[O_HOME_SERVICE_DETAIL]    Script Date: 9/7/2014 12:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[O_HOME_SERVICE_DETAIL](
	[HOME_SERVICE_DETAIL_CD] [bigint] NOT NULL,
	[HOME_SERVICE_DETAIL_PHOTO] [nvarchar](max) NULL,
	[HOME_SERVICE_DETAIL_DESCRIPTION] [nvarchar](max) NULL,
	[HOME_SERVICE_DETAIL_ACTION] [nvarchar](max) NULL,
	[HOME_SERVICE_DETAIL_TITLE] [nvarchar](max) NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_O_HOME_SERVICE_DETAIL] PRIMARY KEY CLUSTERED 
(
	[HOME_SERVICE_DETAIL_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[O_INFORMATION]    Script Date: 9/7/2014 12:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[O_INFORMATION](
	[CD] [bigint] IDENTITY(1,1) NOT NULL,
	[INFORMATION_YAHOO] [nvarchar](max) NULL,
	[INFORMATION_SKYPE] [nvarchar](max) NULL,
	[INFORMATION_FACBOOK] [nvarchar](max) NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_O] PRIMARY KEY CLUSTERED 
(
	[CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[O_NEWS]    Script Date: 9/7/2014 12:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[O_NEWS](
	[NEWS_CD] [bigint] IDENTITY(1,1) NOT NULL,
	[NEWS_TITLE] [nvarchar](max) NULL,
	[NEW_DESCRIPTIONS] [nvarchar](max) NULL,
	[NEWS_CONTENT] [nvarchar](max) NULL,
	[IMAGE_NEWS] [nvarchar](max) NULL,
	[CATEGORY_NEWS_CD] [bigint] NULL,
	[SOURCE_COPY] [nvarchar](max) NULL,
	[TAG_ALT] [nvarchar](max) NULL,
	[EMPLOYEE_CD] [bigint] NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_O_NEWS] PRIMARY KEY CLUSTERED 
(
	[NEWS_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[O_NEWS_HIGHLIGHTS]    Script Date: 9/7/2014 12:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[O_NEWS_HIGHLIGHTS](
	[CD] [bigint] IDENTITY(1,1) NOT NULL,
	[NEWS_CD] [bigint] NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_NEWS_HIGHLIGHTS] PRIMARY KEY CLUSTERED 
(
	[CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[O_NEWS_HOME]    Script Date: 9/7/2014 12:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[O_NEWS_HOME](
	[CD] [bigint] NOT NULL,
	[NEWS_CD] [bigint] NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_O_NEWS_HOME] PRIMARY KEY CLUSTERED 
(
	[CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[O_NEWS_NEW]    Script Date: 9/7/2014 12:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[O_NEWS_NEW](
	[CD] [bigint] IDENTITY(1,1) NOT NULL,
	[NEWS_CD] [bigint] NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_O_NEWS_NEW] PRIMARY KEY CLUSTERED 
(
	[CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[O_ORDER]    Script Date: 9/7/2014 12:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[O_ORDER](
	[ORDER_CD] [bigint] IDENTITY(1,1) NOT NULL,
	[ORDER_CODE] [nvarchar](50) NULL,
	[ORDER_CONTENT] [nvarchar](max) NULL,
	[EMPLOYEE_CD] [bigint] NULL,
	[CUSTOMER_CD] [bigint] NULL,
	[PHONE] [nvarchar](max) NULL,
	[EMAIL] [nvarchar](max) NULL,
	[DELIVERY_ADDRESS] [nvarchar](max) NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_O_ORDER] PRIMARY KEY CLUSTERED 
(
	[ORDER_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[O_PRICE_GOLD]    Script Date: 9/7/2014 12:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[O_PRICE_GOLD](
	[PRICE_GOLD_CD] [bigint] IDENTITY(1,1) NOT NULL,
	[PRICE_SALES] [decimal](18, 0) NULL,
	[PRICE_BUY] [decimal](18, 0) NULL,
	[GOLD_CODE] [nvarchar](max) NULL,
	[GOLD_NAME] [nvarchar](max) NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_O_PRICE_GOLD] PRIMARY KEY CLUSTERED 
(
	[PRICE_GOLD_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[O_PRODUCT]    Script Date: 9/7/2014 12:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[O_PRODUCT](
	[PRODUCT_CD] [bigint] IDENTITY(1,1) NOT NULL,
	[PRODUCT_CODE] [nvarchar](50) NULL,
	[PRODUCT_NAME] [nvarchar](max) NULL,
	[PRODUCT_TITLE] [nvarchar](max) NULL,
	[PRODUCT_CONTENT] [nvarchar](max) NULL,
	[CATEGORY_PRODUCT_CD] [bigint] NULL,
	[CATEGORY_GRANULES_CD] [bigint] NULL,
	[CATEGORY_PRODUCT_DETAIL_CD] [bigint] NULL,
	[WEIGHT] [nvarchar](max) NULL,
	[QUANTITY_GRANULES] [nvarchar](max) NULL,
	[QUANTITY] [bigint] NULL,
	[PRICE] [nvarchar](max) NULL,
	[PRICE_PROMOTION] [nvarchar](max) NULL,
	[WAGES] [nvarchar](max) NULL,
	[CURRENCY] [nvarchar](max) NULL,
	[URL_IMAGE] [nvarchar](max) NULL,
	[SIZE] [nvarchar](max) NULL,
	[TAG_ALT] [nvarchar](max) NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_O_PRODUCT] PRIMARY KEY CLUSTERED 
(
	[PRODUCT_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[O_PRODUCT_CATALOG]    Script Date: 9/7/2014 12:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[O_PRODUCT_CATALOG](
	[CD] [bigint] IDENTITY(1,1) NOT NULL,
	[PRODUCT_CD] [bigint] NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_O_PRODUCT_CATALOG] PRIMARY KEY CLUSTERED 
(
	[CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[O_PRODUCT_HIGHLIGHTS]    Script Date: 9/7/2014 12:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[O_PRODUCT_HIGHLIGHTS](
	[CD] [bigint] IDENTITY(1,1) NOT NULL,
	[PRODUCT_CD] [bigint] NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_O_PRODUCT_HIGHLIGHTS] PRIMARY KEY CLUSTERED 
(
	[CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[O_PRODUCT_NEW]    Script Date: 9/7/2014 12:45:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[O_PRODUCT_NEW](
	[CD] [bigint] IDENTITY(1,1) NOT NULL,
	[PRODUCT_CD] [bigint] NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_O_PRODUCT_NEW] PRIMARY KEY CLUSTERED 
(
	[CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[O_PRODUCT_SELLING]    Script Date: 9/7/2014 12:45:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[O_PRODUCT_SELLING](
	[CD] [bigint] IDENTITY(1,1) NOT NULL,
	[PRODUCT_CD] [bigint] NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_O_PRODUCT_SELLING] PRIMARY KEY CLUSTERED 
(
	[CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[O_SEO]    Script Date: 9/7/2014 12:45:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[O_SEO](
	[CD] [bigint] IDENTITY(1,1) NOT NULL,
	[HREF_ICON] [nvarchar](max) NULL,
	[TITILE] [nvarchar](max) NULL,
	[META_DES] [nvarchar](max) NULL,
	[META_KEYWORDS] [nvarchar](max) NULL,
	[META_ROBOTS] [nvarchar](max) NULL,
	[META_REVISIT] [nvarchar](max) NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_O_SEO] PRIMARY KEY CLUSTERED 
(
	[CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[O_USER_CUSTOMER]    Script Date: 9/7/2014 12:45:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[O_USER_CUSTOMER](
	[CD] [bigint] IDENTITY(1,1) NOT NULL,
	[USER_CD] [bigint] NULL,
	[CUSTOMER_CD] [bigint] NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_O_USER_CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[O_USER_EMPLOYEE]    Script Date: 9/7/2014 12:45:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[O_USER_EMPLOYEE](
	[CD] [bigint] IDENTITY(1,1) NOT NULL,
	[USER_CD] [bigint] NULL,
	[EMPLOYEE_CD] [bigint] NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_O_USER_EMPLOYEE] PRIMARY KEY CLUSTERED 
(
	[CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[O_USER_PST]    Script Date: 9/7/2014 12:45:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[O_USER_PST](
	[CD] [bigint] IDENTITY(1,1) NOT NULL,
	[USER_CD] [bigint] NULL,
	[PST_CD] [bigint] NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_O_USER_PST] PRIMARY KEY CLUSTERED 
(
	[CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[S_PST]    Script Date: 9/7/2014 12:45:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[S_PST](
	[PST_CD] [bigint] IDENTITY(1,1) NOT NULL,
	[PST_CODE] [nvarchar](50) NULL,
	[PST_NAME] [nvarchar](max) NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_S_PST] PRIMARY KEY CLUSTERED 
(
	[PST_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[S_STATISTICS_VISIT]    Script Date: 9/7/2014 12:45:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[S_STATISTICS_VISIT](
	[CD] [bigint] IDENTITY(1,1) NOT NULL,
	[COUNTER_VISIT] [bigint] NULL,
	[TIME_ONLINE] [datetime] NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_S_STATISTICS_VISIT] PRIMARY KEY CLUSTERED 
(
	[CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[S_USER]    Script Date: 9/7/2014 12:45:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[S_USER](
	[USER_CD] [bigint] IDENTITY(1,1) NOT NULL,
	[USER_NAME] [varchar](max) NULL,
	[USER_PASS] [varchar](50) NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_M_USER] PRIMARY KEY CLUSTERED 
(
	[USER_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[W_PRODUCT]    Script Date: 9/7/2014 12:45:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[W_PRODUCT](
	[CD] [bigint] IDENTITY(1,1) NOT NULL,
	[PRODUCT_CD] [bigint] NULL,
	[QUANTITY] [bigint] NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_W_PRODUCT] PRIMARY KEY CLUSTERED 
(
	[CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[D_CITIES_DETAIL] ON 

INSERT [dbo].[D_CITIES_DETAIL] ([CITIES_DETAIL_CD], [CITIES_CD], [CITIES_DETAIL_CODE], [CITIES_DETAIL_NAME], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (1, 1, N'DC_01', N'TP.Mỹ Tho', 0, 1, CAST(0x0000A38A00C04B62 AS DateTime))
INSERT [dbo].[D_CITIES_DETAIL] ([CITIES_DETAIL_CD], [CITIES_CD], [CITIES_DETAIL_CODE], [CITIES_DETAIL_NAME], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (2, 2, N'DC_02', N'TP.Hà Nội', 0, 1, CAST(0x0000A38A00C0A464 AS DateTime))
INSERT [dbo].[D_CITIES_DETAIL] ([CITIES_DETAIL_CD], [CITIES_CD], [CITIES_DETAIL_CODE], [CITIES_DETAIL_NAME], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (3, 3, N'DC_03', N'TP.HCM', 0, 1, CAST(0x0000A38A00C0B0B2 AS DateTime))
SET IDENTITY_INSERT [dbo].[D_CITIES_DETAIL] OFF
SET IDENTITY_INSERT [dbo].[D_PRODUCT_DETAIL] ON 

INSERT [dbo].[D_PRODUCT_DETAIL] ([PRODUCT_DETAIL_CD], [PRODUCT_CD], [URL_IMAGE], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (4025, 209, N'http://shopping.pnj.com.vn/media/catalog/product/cache/1/image/440x/9df78eab33525d08d6e5fb8d27136e95/G/N/GND1YA75152.102.jpg', 0, 1, CAST(0x0000A38D0008EFB8 AS DateTime))
INSERT [dbo].[D_PRODUCT_DETAIL] ([PRODUCT_DETAIL_CD], [PRODUCT_CD], [URL_IMAGE], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (4026, 210, N'http://shopping.pnj.com.vn/media/catalog/product/cache/1/small_image/380x380/9df78eab33525d08d6e5fb8d27136e95/S/N/SND2KN10941.100.jpg', 0, 1, CAST(0x0000A38D000A5901 AS DateTime))
INSERT [dbo].[D_PRODUCT_DETAIL] ([PRODUCT_DETAIL_CD], [PRODUCT_CD], [URL_IMAGE], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (4027, 210, N'http://shopping.pnj.com.vn/media/catalog/product/cache/1/small_image/380x380/9df78eab33525d08d6e5fb8d27136e95/S/N/SND2KN10941.100.jpg', 0, 1, CAST(0x0000A38D000A5901 AS DateTime))
SET IDENTITY_INSERT [dbo].[D_PRODUCT_DETAIL] OFF
SET IDENTITY_INSERT [dbo].[M_EMPLOYEE] ON 

INSERT [dbo].[M_EMPLOYEE] ([EMPLOYEE_CD], [EMPLOYEE_CODE], [EMPLOYEE_NAME], [ADDRESS], [EMAIL], [BIRTHDAY], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (1, N'M_01', N'admin', N'25/2 Nguyễn Huỳnh Đức P8 TP.Mỹ Tho tỉnh Tiền Giang', N'ngocthaminfor@gmail.com', CAST(0x0000A40400000000 AS DateTime), 0, 1, CAST(0x0000A3870167A525 AS DateTime))
SET IDENTITY_INSERT [dbo].[M_EMPLOYEE] OFF
SET IDENTITY_INSERT [dbo].[M_PAGE] ON 

SET IDENTITY_INSERT [dbo].[M_PAGE] OFF
SET IDENTITY_INSERT [dbo].[O_ADVERTISEMENT] ON 

INSERT [dbo].[O_ADVERTISEMENT] ([CD], [ADVERTISEMENT], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (1, NULL, 0, 1, CAST(0x0000A38C00A8E20C AS DateTime))
SET IDENTITY_INSERT [dbo].[O_ADVERTISEMENT] OFF
SET IDENTITY_INSERT [dbo].[O_ALBUM] ON 

INSERT [dbo].[O_ALBUM] ([ALBUM_CD], [URL_IMAGE], [CATEGORY_ALBUM_CD], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (1, N'http://shopping.pnj.com.vn/media/catalog/product/cache/1/small_image/380x380/9df78eab33525d08d6e5fb8d27136e95/S/N/SND2KN10941.100.jpg', 3, 0, 0, CAST(0x0000A38C0102C4D8 AS DateTime))
INSERT [dbo].[O_ALBUM] ([ALBUM_CD], [URL_IMAGE], [CATEGORY_ALBUM_CD], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (2, N'http://shopping.pnj.com.vn/media/catalog/product/cache/1/small_image/380x380/9df78eab33525d08d6e5fb8d27136e95/S/N/SND2KN10941.100.jpg', 1, 0, 0, CAST(0x0000A38C0102C4D8 AS DateTime))
INSERT [dbo].[O_ALBUM] ([ALBUM_CD], [URL_IMAGE], [CATEGORY_ALBUM_CD], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (3, N'http://shopping.pnj.com.vn/media/catalog/product/cache/1/small_image/380x380/9df78eab33525d08d6e5fb8d27136e95/S/N/SND2KN10941.100.jpg', 1, 0, 0, CAST(0x0000A38C0102C4D8 AS DateTime))
SET IDENTITY_INSERT [dbo].[O_ALBUM] OFF
SET IDENTITY_INSERT [dbo].[O_BANNER] ON 

INSERT [dbo].[O_BANNER] ([CD], [URL_IMAGE], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (4, N'https://lh4.googleusercontent.com/-FATkj1QfYxw/U_03zN5kHwI/AAAAAAAAAbI/Ew69L5JMpkg/w794-h496-no/banner05.png', 0, 1, CAST(0x0000A395012C29F9 AS DateTime))
INSERT [dbo].[O_BANNER] ([CD], [URL_IMAGE], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (6, N'https://lh6.googleusercontent.com/-L9Wa2rFhcHI/U_0rfHJrrcI/AAAAAAAAAaA/S3kG2_vrFJ4/w863-h539-no/banner01.png', 0, 1, CAST(0x0000A395012C5E54 AS DateTime))
INSERT [dbo].[O_BANNER] ([CD], [URL_IMAGE], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (8, N'https://lh4.googleusercontent.com/-FyqjV3LwlE0/U_1FSJhf7_I/AAAAAAAAAbs/pRtVlxQAXgI/w885-h496-no/banner07.png', 0, 1, CAST(0x0000A395012C7DC1 AS DateTime))
SET IDENTITY_INSERT [dbo].[O_BANNER] OFF
SET IDENTITY_INSERT [dbo].[O_BRANCH] ON 

INSERT [dbo].[O_BRANCH] ([BRANCH_CD], [BRANCH_CODE], [BRANCH_NAME], [CITIES_CD], [CITIES_DETAIL_CD], [ADDRESS], [LONGITUDE], [LATITUDE], [PHONE], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (7, N'BR001', N'Chi nhánh 01', 1, 1, N'25/2 Nguyễn Huỳnh Đức P8 TP.Mỹ Tho tỉnh Tiền Giang', N'106.374232', N'10.354426', N'073.3872838', 0, 1, CAST(0x0000A388000BC77F AS DateTime))
INSERT [dbo].[O_BRANCH] ([BRANCH_CD], [BRANCH_CODE], [BRANCH_NAME], [CITIES_CD], [CITIES_DETAIL_CD], [ADDRESS], [LONGITUDE], [LATITUDE], [PHONE], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (8, N'BR002', N'Chi nhánh 03', 3, 3, N'Số 309 Nguyễn Đình Chiểu P5 -Q.3-TP.HCM', N'106.689959', N'10.778455', N'08.38342637', 0, 1, CAST(0x0000A388000BD612 AS DateTime))
INSERT [dbo].[O_BRANCH] ([BRANCH_CD], [BRANCH_CODE], [BRANCH_NAME], [CITIES_CD], [CITIES_DETAIL_CD], [ADDRESS], [LONGITUDE], [LATITUDE], [PHONE], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (9, N'BR003', N'Chi nhánh 04', 1, 5, N'Số 160C Lê Thị Hồng Gấm p6- TP.Mỹ Tho - Tiền Giang', N'106.355161', N'10.352595', N'073.3887334', 0, 1, CAST(0x0000A388000BE668 AS DateTime))
SET IDENTITY_INSERT [dbo].[O_BRANCH] OFF
SET IDENTITY_INSERT [dbo].[O_CATEGORY_ALBUM] ON 

INSERT [dbo].[O_CATEGORY_ALBUM] ([CATEGORY_ALBUM_CD], [CATEGORY_ALBUM_NAME], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (1, N'Mùa hè', 0, 1, CAST(0x0000A38C010187B5 AS DateTime))
INSERT [dbo].[O_CATEGORY_ALBUM] ([CATEGORY_ALBUM_CD], [CATEGORY_ALBUM_NAME], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (2, N'Mùa thu', 0, 1, CAST(0x0000A38C01018BBF AS DateTime))
INSERT [dbo].[O_CATEGORY_ALBUM] ([CATEGORY_ALBUM_CD], [CATEGORY_ALBUM_NAME], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (3, N'Mùa đông', 0, 1, CAST(0x0000A38C010190CF AS DateTime))
SET IDENTITY_INSERT [dbo].[O_CATEGORY_ALBUM] OFF
SET IDENTITY_INSERT [dbo].[O_CATEGORY_GRANULES] ON 

INSERT [dbo].[O_CATEGORY_GRANULES] ([CATEGORY_GRANULES_CD], [CATEGORY_GRANULES_NAME], [CATEGORY_GRANULES_CONTENT], [CATEGORY_GRANULES_WEIGHT], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (1, N'Hạt lấp lánh', N'chiếu sángnn', N'3 gam', 0, 1, CAST(0x0000A3860170DC44 AS DateTime))
INSERT [dbo].[O_CATEGORY_GRANULES] ([CATEGORY_GRANULES_CD], [CATEGORY_GRANULES_NAME], [CATEGORY_GRANULES_CONTENT], [CATEGORY_GRANULES_WEIGHT], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (2, N'Hạt chân trâu', N'lấp lánh', N'2 gam', 0, 1, CAST(0x0000A3860170EC70 AS DateTime))
INSERT [dbo].[O_CATEGORY_GRANULES] ([CATEGORY_GRANULES_CD], [CATEGORY_GRANULES_NAME], [CATEGORY_GRANULES_CONTENT], [CATEGORY_GRANULES_WEIGHT], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (3, N'Hột xoàn', N'Liên hệ', N'Liên hệ', 0, 1, CAST(0x0000A396013D7E76 AS DateTime))
SET IDENTITY_INSERT [dbo].[O_CATEGORY_GRANULES] OFF
SET IDENTITY_INSERT [dbo].[O_CATEGORY_NEWS] ON 

INSERT [dbo].[O_CATEGORY_NEWS] ([CATEGORY_NEWS_CD], [CATEGORY_NEWS_CODE], [CATEGORY_NEWS_NAME], [TAG_ALT], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (1, N'CN_01', N'Tin tài chính thế giới', N'TIN TÀI CHÍNH THẾ GIỚI', 0, 1, CAST(0x0000A3870162A3BD AS DateTime))
INSERT [dbo].[O_CATEGORY_NEWS] ([CATEGORY_NEWS_CD], [CATEGORY_NEWS_CODE], [CATEGORY_NEWS_NAME], [TAG_ALT], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (2, N'CN_02', N'Tin thị trường vàng', N'TIN THỊ TRƯỜNG VÀNG', 0, 1, CAST(0x0000A3870162D5AD AS DateTime))
SET IDENTITY_INSERT [dbo].[O_CATEGORY_NEWS] OFF
SET IDENTITY_INSERT [dbo].[O_CATEGORY_PAGE] ON 

INSERT [dbo].[O_CATEGORY_PAGE] ([CATEGORY_PAGE_CD], [CATEGORY_PAGE_CODE], [CATEGORY_PAGE_NAME], [TAG_ALT], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (1, N'MP01', N'Giới thiệu công ty', NULL, 0, 1, CAST(0x0000A388000232F8 AS DateTime))
INSERT [dbo].[O_CATEGORY_PAGE] ([CATEGORY_PAGE_CD], [CATEGORY_PAGE_CODE], [CATEGORY_PAGE_NAME], [TAG_ALT], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (2, N'MP02', N'Tầm nhìn và sứ mệnh', NULL, 0, 1, CAST(0x0000A38800023F79 AS DateTime))
INSERT [dbo].[O_CATEGORY_PAGE] ([CATEGORY_PAGE_CD], [CATEGORY_PAGE_CODE], [CATEGORY_PAGE_NAME], [TAG_ALT], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (3, N'MP03', N'Quá trình phát trình', NULL, 0, 1, CAST(0x0000A38800024323 AS DateTime))
SET IDENTITY_INSERT [dbo].[O_CATEGORY_PAGE] OFF
SET IDENTITY_INSERT [dbo].[O_CATEGORY_PRODUCT] ON 

INSERT [dbo].[O_CATEGORY_PRODUCT] ([CATEGORY_PRODUCT_CD], [CATEGORY_PRODUCT_CODE], [CATEGORY_PRODUCT_NAME], [TAG_ALT], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (1, N'C_01', N'Nữ trang 18K', N'Nữ trang 18K', 0, 1, CAST(0x0000A3860159A1D7 AS DateTime))
INSERT [dbo].[O_CATEGORY_PRODUCT] ([CATEGORY_PRODUCT_CD], [CATEGORY_PRODUCT_CODE], [CATEGORY_PRODUCT_NAME], [TAG_ALT], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (2, N'C_02', N'Nữ trang 24K', N'Nữ trang 24K', 0, 1, CAST(0x0000A3860159AE57 AS DateTime))
INSERT [dbo].[O_CATEGORY_PRODUCT] ([CATEGORY_PRODUCT_CD], [CATEGORY_PRODUCT_CODE], [CATEGORY_PRODUCT_NAME], [TAG_ALT], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (3, N'C_03', N'Nữ trang xoàn', N'Nữ trang NTJ', 0, 1, CAST(0x0000A3860159C4D8 AS DateTime))
SET IDENTITY_INSERT [dbo].[O_CATEGORY_PRODUCT] OFF
SET IDENTITY_INSERT [dbo].[O_CATEGORY_PRODUCT_DETAIL] ON 

INSERT [dbo].[O_CATEGORY_PRODUCT_DETAIL] ([CATEGORY_PRODUCT_DETAIL_CD], [CATEGORY_PRODUCT_CD], [CATEGORY_PRODUCT_DETAIL_CODE], [CATEGORY_PRODUCT_DETAIL_NAME], [TAG_ALT], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (6, 3, N'DC_06', N'Nhẫn nam', N'Lắc', 0, 1, CAST(0x0000A386015B91D3 AS DateTime))
INSERT [dbo].[O_CATEGORY_PRODUCT_DETAIL] ([CATEGORY_PRODUCT_DETAIL_CD], [CATEGORY_PRODUCT_CD], [CATEGORY_PRODUCT_DETAIL_CODE], [CATEGORY_PRODUCT_DETAIL_NAME], [TAG_ALT], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (7, 3, N'DC_07', N'Nhẫn nữ', N'Nhẫn', 0, 1, CAST(0x0000A386015B995D AS DateTime))
SET IDENTITY_INSERT [dbo].[O_CATEGORY_PRODUCT_DETAIL] OFF
SET IDENTITY_INSERT [dbo].[O_CITIES] ON 

INSERT [dbo].[O_CITIES] ([CITIES_CD], [CITIES_CODE], [CITIES_NAME], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (1, N'CT01', N'Tiền Giang ', 0, 1, CAST(0x0000A3880008A690 AS DateTime))
INSERT [dbo].[O_CITIES] ([CITIES_CD], [CITIES_CODE], [CITIES_NAME], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (2, N'CT02', N'Hà Nội', 0, 0, CAST(0x0000A3880008AD06 AS DateTime))
INSERT [dbo].[O_CITIES] ([CITIES_CD], [CITIES_CODE], [CITIES_NAME], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (3, N'CT03', N'TP.HCM', 0, 1, CAST(0x0000A3880008AFDB AS DateTime))
SET IDENTITY_INSERT [dbo].[O_CITIES] OFF
SET IDENTITY_INSERT [dbo].[O_CUSTOMER] ON 

INSERT [dbo].[O_CUSTOMER] ([CUSTOMER_CD], [CUSTOMER_CODE], [CUSTOMER_NAME], [CUSTOMER_FIRST_NAME], [CUSTOMER_LAST_NAME], [PHONE], [ADDRESS], [EMAIL], [SEX], [BIRTHDAY], [SUBSCRIBE], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (1, N'KH1', N'Âu thiện', N'Âu', N'Thiện', N'0938613461', N'407a Hậu Giang P11, Q6, TP.HCM', N'vinh.thien0301@gmail.com', N'Nam', NULL, NULL, 0, 1, CAST(0x0000A387017716BF AS DateTime))
INSERT [dbo].[O_CUSTOMER] ([CUSTOMER_CD], [CUSTOMER_CODE], [CUSTOMER_NAME], [CUSTOMER_FIRST_NAME], [CUSTOMER_LAST_NAME], [PHONE], [ADDRESS], [EMAIL], [SEX], [BIRTHDAY], [SUBSCRIBE], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (2, N'KH2', N'Trần Việt', N'Trần', N'Việt', N'0938613461', N'23 Hóc Môn, P22, Q10, TP.HCM', N'vietanh.it@gmail.com', N'Nữ', NULL, NULL, 0, 1, CAST(0x0000A387017745E5 AS DateTime))
INSERT [dbo].[O_CUSTOMER] ([CUSTOMER_CD], [CUSTOMER_CODE], [CUSTOMER_NAME], [CUSTOMER_FIRST_NAME], [CUSTOMER_LAST_NAME], [PHONE], [ADDRESS], [EMAIL], [SEX], [BIRTHDAY], [SUBSCRIBE], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (3, N'KH3', N'Nguyễn Tài', N'Nguyễn', N'Tài', N'0938613461', N'7 Nguyễn Thiện Thuật, Q7, Hà Nội', N'tainh@gmail.com', N'Khác', NULL, NULL, 0, 1, CAST(0x0000A3870177B218 AS DateTime))
SET IDENTITY_INSERT [dbo].[O_CUSTOMER] OFF
SET IDENTITY_INSERT [dbo].[O_HOME_GROUP_PHOTO] ON 

SET IDENTITY_INSERT [dbo].[O_HOME_GROUP_PHOTO] OFF
SET IDENTITY_INSERT [dbo].[O_HOME_INTRODUCTION] ON 

INSERT [dbo].[O_HOME_INTRODUCTION] ([O_HOME_INTRODUCTION_CD], [O_HOME_INTRODUCTION_CONTENT], [O_HOME_INTRODUCTION_AUTHOR], [O_HOME_INTRODUCTION_PHOTO], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (1, N'Với những thiết tinh tế,sang trọng tạo nên vẽ đẹp sang trọng kêu sa của sản phẩm.Khách hàng có thể lựa chọn cho mình một sản phù hợp.....', N'Mr admin', N'https://lh3.googleusercontent.com/-bYRB-R5R1fU/U_2CTEhIV_I/AAAAAAAAAcU/uo4XpNL7cBc/w600-h374-no/banner00001.png', 0, 1, CAST(0x0000A39100F3C713 AS DateTime))
SET IDENTITY_INSERT [dbo].[O_HOME_INTRODUCTION] OFF
INSERT [dbo].[O_HOME_SERVICE] ([O_HOME_SERVICE_CD], [O_HOME_SERVICE_DESCRIPTION], [O_HOME_SERVICE_TITLE], [O_HOME_SERVICE_PHOTO], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (1, N'G', N'GE', NULL, 0, 1, CAST(0x0000A3920085344D AS DateTime))
SET IDENTITY_INSERT [dbo].[O_INFORMATION] ON 

INSERT [dbo].[O_INFORMATION] ([CD], [INFORMATION_YAHOO], [INFORMATION_SKYPE], [INFORMATION_FACBOOK], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (1, NULL, NULL, N' https://www.facebook.com/ngocthamgold.com.vn', 0, 1, CAST(0x0000A38C00E1AD7E AS DateTime))
SET IDENTITY_INSERT [dbo].[O_INFORMATION] OFF
SET IDENTITY_INSERT [dbo].[O_NEWS] ON 

SET IDENTITY_INSERT [dbo].[O_NEWS] OFF
SET IDENTITY_INSERT [dbo].[O_NEWS_HIGHLIGHTS] ON 

INSERT [dbo].[O_NEWS_HIGHLIGHTS] ([CD], [NEWS_CD], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (6, 21, 0, 1, CAST(0x0000A39700EF9D6F AS DateTime))
INSERT [dbo].[O_NEWS_HIGHLIGHTS] ([CD], [NEWS_CD], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (7, 22, 0, 1, CAST(0x0000A39D00809BEC AS DateTime))
INSERT [dbo].[O_NEWS_HIGHLIGHTS] ([CD], [NEWS_CD], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (8, 23, 0, 1, CAST(0x0000A39E007DF553 AS DateTime))
SET IDENTITY_INSERT [dbo].[O_NEWS_HIGHLIGHTS] OFF
INSERT [dbo].[O_NEWS_HOME] ([CD], [NEWS_CD], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (1, 1, 0, 1, CAST(0x0000A388000E67D0 AS DateTime))
INSERT [dbo].[O_NEWS_HOME] ([CD], [NEWS_CD], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (2, 2, 0, 1, CAST(0x0000A388000E69EE AS DateTime))
INSERT [dbo].[O_NEWS_HOME] ([CD], [NEWS_CD], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (3, 3, 0, 1, CAST(0x0000A388000E6ACC AS DateTime))
SET IDENTITY_INSERT [dbo].[O_NEWS_NEW] ON 

INSERT [dbo].[O_NEWS_NEW] ([CD], [NEWS_CD], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (7, 1, 0, 1, CAST(0x0000A39700EBD2DD AS DateTime))
INSERT [dbo].[O_NEWS_NEW] ([CD], [NEWS_CD], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (8, 2, 0, 1, CAST(0x0000A39700EBD4E4 AS DateTime))
INSERT [dbo].[O_NEWS_NEW] ([CD], [NEWS_CD], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (9, 21, 0, 1, CAST(0x0000A39700EF9E41 AS DateTime))
SET IDENTITY_INSERT [dbo].[O_NEWS_NEW] OFF
SET IDENTITY_INSERT [dbo].[O_PRICE_GOLD] ON 

INSERT [dbo].[O_PRICE_GOLD] ([PRICE_GOLD_CD], [PRICE_SALES], [PRICE_BUY], [GOLD_CODE], [GOLD_NAME], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (1, CAST(2500000 AS Decimal(18, 0)), CAST(2420000 AS Decimal(18, 0)), N'VT6', N'Nữ trang vàng trắng', NULL, NULL, NULL)
INSERT [dbo].[O_PRICE_GOLD] ([PRICE_GOLD_CD], [PRICE_SALES], [PRICE_BUY], [GOLD_CODE], [GOLD_NAME], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (2, CAST(2500000 AS Decimal(18, 0)), CAST(2420000 AS Decimal(18, 0)), N'18k75', N'Nữ trang 18k75%', NULL, NULL, NULL)
INSERT [dbo].[O_PRICE_GOLD] ([PRICE_GOLD_CD], [PRICE_SALES], [PRICE_BUY], [GOLD_CODE], [GOLD_NAME], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (3, CAST(2335000 AS Decimal(18, 0)), CAST(2255000 AS Decimal(18, 0)), N'18k70', N'Nữ trang 18k70%', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[O_PRICE_GOLD] OFF
SET IDENTITY_INSERT [dbo].[O_PRODUCT] ON 

SET IDENTITY_INSERT [dbo].[O_PRODUCT] OFF
SET IDENTITY_INSERT [dbo].[O_PRODUCT_HIGHLIGHTS] ON 

INSERT [dbo].[O_PRODUCT_HIGHLIGHTS] ([CD], [PRODUCT_CD], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (14, 5, NULL, NULL, NULL)
INSERT [dbo].[O_PRODUCT_HIGHLIGHTS] ([CD], [PRODUCT_CD], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (15, 1, NULL, NULL, NULL)
INSERT [dbo].[O_PRODUCT_HIGHLIGHTS] ([CD], [PRODUCT_CD], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (17, 207, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[O_PRODUCT_HIGHLIGHTS] OFF
SET IDENTITY_INSERT [dbo].[O_PRODUCT_NEW] ON 

INSERT [dbo].[O_PRODUCT_NEW] ([CD], [PRODUCT_CD], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (41, 2, NULL, NULL, NULL)
INSERT [dbo].[O_PRODUCT_NEW] ([CD], [PRODUCT_CD], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (42, 3, NULL, NULL, NULL)
INSERT [dbo].[O_PRODUCT_NEW] ([CD], [PRODUCT_CD], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (43, 5, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[O_PRODUCT_NEW] OFF
SET IDENTITY_INSERT [dbo].[O_PRODUCT_SELLING] ON 

INSERT [dbo].[O_PRODUCT_SELLING] ([CD], [PRODUCT_CD], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (18, 3, NULL, NULL, NULL)
INSERT [dbo].[O_PRODUCT_SELLING] ([CD], [PRODUCT_CD], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (21, 5, NULL, NULL, NULL)
INSERT [dbo].[O_PRODUCT_SELLING] ([CD], [PRODUCT_CD], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (22, 4, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[O_PRODUCT_SELLING] OFF
SET IDENTITY_INSERT [dbo].[O_SEO] ON 

INSERT [dbo].[O_SEO] ([CD], [HREF_ICON], [TITILE], [META_DES], [META_KEYWORDS], [META_ROBOTS], [META_REVISIT], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (1, NULL, N'Chuyên cung cấp vàng', N'Chuyên cung cấp vàng', N'Chuyên cung cấp vàng', NULL, NULL, 0, 1, CAST(0x0000A38C00A86E64 AS DateTime))
SET IDENTITY_INSERT [dbo].[O_SEO] OFF
SET IDENTITY_INSERT [dbo].[O_USER_CUSTOMER] ON 

INSERT [dbo].[O_USER_CUSTOMER] ([CD], [USER_CD], [CUSTOMER_CD], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (1, 2, 1, NULL, 1, CAST(0x0000A38701788CFA AS DateTime))
INSERT [dbo].[O_USER_CUSTOMER] ([CD], [USER_CD], [CUSTOMER_CD], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (2, 3, 2, NULL, 1, CAST(0x0000A387017898FF AS DateTime))
INSERT [dbo].[O_USER_CUSTOMER] ([CD], [USER_CD], [CUSTOMER_CD], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (3, 4, 3, NULL, 1, CAST(0x0000A38701789C5C AS DateTime))
SET IDENTITY_INSERT [dbo].[O_USER_CUSTOMER] OFF
SET IDENTITY_INSERT [dbo].[O_USER_EMPLOYEE] ON 

INSERT [dbo].[O_USER_EMPLOYEE] ([CD], [USER_CD], [EMPLOYEE_CD], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (1, 1, 1, 0, 1, CAST(0x0000A38E009E83EE AS DateTime))
SET IDENTITY_INSERT [dbo].[O_USER_EMPLOYEE] OFF
SET IDENTITY_INSERT [dbo].[O_USER_PST] ON 

INSERT [dbo].[O_USER_PST] ([CD], [USER_CD], [PST_CD], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (1, 1, 1, 0, 1, CAST(0x0000A3880009DB7B AS DateTime))
INSERT [dbo].[O_USER_PST] ([CD], [USER_CD], [PST_CD], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (2, 2, 2, 0, 1, CAST(0x0000A3880009E014 AS DateTime))
INSERT [dbo].[O_USER_PST] ([CD], [USER_CD], [PST_CD], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (3, 3, 3, 0, 1, CAST(0x0000A3880009E207 AS DateTime))
SET IDENTITY_INSERT [dbo].[O_USER_PST] OFF
SET IDENTITY_INSERT [dbo].[S_PST] ON 

INSERT [dbo].[S_PST] ([PST_CD], [PST_CODE], [PST_NAME], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (1, N'PS01', N'Admin', 0, 1, CAST(0x0000A388000979BD AS DateTime))
INSERT [dbo].[S_PST] ([PST_CD], [PST_CODE], [PST_NAME], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (2, N'PS02', N'User_Catalog', 0, 1, CAST(0x0000A388000984D5 AS DateTime))
INSERT [dbo].[S_PST] ([PST_CD], [PST_CODE], [PST_NAME], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (3, N'PS03', N'User_Normal', 0, 1, CAST(0x0000A38800098958 AS DateTime))
SET IDENTITY_INSERT [dbo].[S_PST] OFF
SET IDENTITY_INSERT [dbo].[S_STATISTICS_VISIT] ON 

INSERT [dbo].[S_STATISTICS_VISIT] ([CD], [COUNTER_VISIT], [TIME_ONLINE], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (1, 2, CAST(0x0000A3840176AE14 AS DateTime), 0, 1, CAST(0x0000A384017695C1 AS DateTime))
INSERT [dbo].[S_STATISTICS_VISIT] ([CD], [COUNTER_VISIT], [TIME_ONLINE], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (2, 1, CAST(0x0000A38501731744 AS DateTime), 0, 1, CAST(0x0000A38501731744 AS DateTime))
INSERT [dbo].[S_STATISTICS_VISIT] ([CD], [COUNTER_VISIT], [TIME_ONLINE], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (3, 3, CAST(0x0000A386016CC302 AS DateTime), 0, 1, CAST(0x0000A386015F8CC7 AS DateTime))
SET IDENTITY_INSERT [dbo].[S_STATISTICS_VISIT] OFF
SET IDENTITY_INSERT [dbo].[S_USER] ON 

INSERT [dbo].[S_USER] ([USER_CD], [USER_NAME], [USER_PASS], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (1, N'admin', N'123456', 1, 1, CAST(0x0000A3870175A450 AS DateTime))
INSERT [dbo].[S_USER] ([USER_CD], [USER_NAME], [USER_PASS], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (2, N'user_catalog', N'123456', 2, 1, CAST(0x0000A3870175B8E2 AS DateTime))
INSERT [dbo].[S_USER] ([USER_CD], [USER_NAME], [USER_PASS], [STATUS], [ACTIVE], [CREATEDATE]) VALUES (3, N'user_normal', N'123456', 3, 1, CAST(0x0000A3870175C857 AS DateTime))
SET IDENTITY_INSERT [dbo].[S_USER] OFF
ALTER TABLE [dbo].[D_CITIES_DETAIL] ADD  CONSTRAINT [DF_D_CITIES_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[D_CITIES_DETAIL] ADD  CONSTRAINT [DF_D_CITIES_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[D_CITIES_DETAIL] ADD  CONSTRAINT [DF_D_CITIES_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[D_ORDER_DETAIL] ADD  CONSTRAINT [DF_D_ORDER_DETAIL_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[D_ORDER_DETAIL] ADD  CONSTRAINT [DF_D_ORDER_DETAIL_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[D_ORDER_DETAIL] ADD  CONSTRAINT [DF_D_ORDER_DETAIL_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[D_PRODUCT_DETAIL] ADD  CONSTRAINT [DF_D_PRODUCT_DETAIL_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[D_PRODUCT_DETAIL] ADD  CONSTRAINT [DF_D_PRODUCT_DETAIL_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[D_PRODUCT_DETAIL] ADD  CONSTRAINT [DF_D_PRODUCT_DETAIL_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[M_EMPLOYEE] ADD  CONSTRAINT [DF_M_EMPLOYEE_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[M_EMPLOYEE] ADD  CONSTRAINT [DF_M_EMPLOYEE_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[M_EMPLOYEE] ADD  CONSTRAINT [DF_M_EMPLOYEE_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[M_PAGE] ADD  CONSTRAINT [DF_M_PAGE_CONTRACT_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[M_PAGE] ADD  CONSTRAINT [DF_M_PAGE_CONTRACT_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[M_PAGE] ADD  CONSTRAINT [DF_M_PAGE_CONTRACT_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[O_ADVERTISEMENT] ADD  CONSTRAINT [DF_O_ADVERTISEMENT_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[O_ADVERTISEMENT] ADD  CONSTRAINT [DF_O_ADVERTISEMENT_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[O_ADVERTISEMENT] ADD  CONSTRAINT [DF_O_ADVERTISEMENT_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[O_ALBUM] ADD  CONSTRAINT [DF_O_ALBUM_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[O_ALBUM] ADD  CONSTRAINT [DF_O_ALBUM_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[O_ALBUM] ADD  CONSTRAINT [DF_O_ALBUM_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[O_BANNER] ADD  CONSTRAINT [DF_O_BANNER_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[O_BANNER] ADD  CONSTRAINT [DF_O_BANNER_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[O_BANNER] ADD  CONSTRAINT [DF_O_BANNER_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[O_BRANCH] ADD  CONSTRAINT [DF_O_BRANCH_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[O_BRANCH] ADD  CONSTRAINT [DF_O_BRANCH_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[O_BRANCH] ADD  CONSTRAINT [DF_O_BRANCH_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[O_CATEGORY_ALBUM] ADD  CONSTRAINT [DF_O_CATEGORY_ALBUM_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[O_CATEGORY_ALBUM] ADD  CONSTRAINT [DF_O_CATEGORY_ALBUM_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[O_CATEGORY_ALBUM] ADD  CONSTRAINT [DF_O_CATEGORY_ALBUM_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[O_CATEGORY_GRANULES] ADD  CONSTRAINT [DF_O_CATEGORY_GRANULES_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[O_CATEGORY_GRANULES] ADD  CONSTRAINT [DF_O_CATEGORY_GRANULES_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[O_CATEGORY_GRANULES] ADD  CONSTRAINT [DF_O_CATEGORY_GRANULES_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[O_CATEGORY_NEWS] ADD  CONSTRAINT [DF_O_CATEGORY_NEWS_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[O_CATEGORY_NEWS] ADD  CONSTRAINT [DF_O_CATEGORY_NEWS_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[O_CATEGORY_NEWS] ADD  CONSTRAINT [DF_O_CATEGORY_NEWS_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[O_CATEGORY_PAGE] ADD  CONSTRAINT [DF_O_CATEGORY_PAGE_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[O_CATEGORY_PAGE] ADD  CONSTRAINT [DF_O_CATEGORY_PAGE_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[O_CATEGORY_PAGE] ADD  CONSTRAINT [DF_O_CATEGORY_PAGE_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[O_CATEGORY_PRODUCT] ADD  CONSTRAINT [DF_O_CATEGORY_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[O_CATEGORY_PRODUCT] ADD  CONSTRAINT [DF_O_CATEGORY_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[O_CATEGORY_PRODUCT] ADD  CONSTRAINT [DF_O_CATEGORY_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[O_CATEGORY_PRODUCT_DETAIL] ADD  CONSTRAINT [DF_O_CATEGORY_PRODUCT_DETAIL_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[O_CATEGORY_PRODUCT_DETAIL] ADD  CONSTRAINT [DF_O_CATEGORY_PRODUCT_DETAIL_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[O_CATEGORY_PRODUCT_DETAIL] ADD  CONSTRAINT [DF_O_CATEGORY_PRODUCT_DETAIL_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[O_CITIES] ADD  CONSTRAINT [DF_O_CITIES_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[O_CITIES] ADD  CONSTRAINT [DF_O_CITIES_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[O_CITIES] ADD  CONSTRAINT [DF_O_CITIES_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[O_CUSTOMER] ADD  CONSTRAINT [DF_O_CUSTOMER_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[O_CUSTOMER] ADD  CONSTRAINT [DF_O_CUSTOMER_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[O_CUSTOMER] ADD  CONSTRAINT [DF_O_CUSTOMER_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[O_HOME_GROUP_PHOTO] ADD  CONSTRAINT [DF_O_HOME_GROUP_PHOTO_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[O_HOME_GROUP_PHOTO] ADD  CONSTRAINT [DF_O_HOME_GROUP_PHOTO_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[O_HOME_GROUP_PHOTO] ADD  CONSTRAINT [DF_O_HOME_GROUP_PHOTO_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[O_HOME_INTRODUCTION] ADD  CONSTRAINT [DF_O_HOME_INTRODUCTION_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[O_HOME_INTRODUCTION] ADD  CONSTRAINT [DF_O_HOME_INTRODUCTION_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[O_HOME_INTRODUCTION] ADD  CONSTRAINT [DF_O_HOME_INTRODUCTION_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[O_HOME_SERVICE] ADD  CONSTRAINT [DF_O_HOME_SERVICE_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[O_HOME_SERVICE] ADD  CONSTRAINT [DF_O_HOME_SERVICE_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[O_HOME_SERVICE] ADD  CONSTRAINT [DF_O_HOME_SERVICE_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[O_HOME_SERVICE_DETAIL] ADD  CONSTRAINT [DF_O_HOME_SERVICE_DETAIL_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[O_HOME_SERVICE_DETAIL] ADD  CONSTRAINT [DF_O_HOME_SERVICE_DETAIL_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[O_HOME_SERVICE_DETAIL] ADD  CONSTRAINT [DF_O_HOME_SERVICE_DETAIL_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[O_INFORMATION] ADD  CONSTRAINT [DF_O_INFORMATION_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[O_INFORMATION] ADD  CONSTRAINT [DF_O_INFORMATION_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[O_INFORMATION] ADD  CONSTRAINT [DF_O_INFORMATION_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[O_NEWS] ADD  CONSTRAINT [DF_O_NEWS_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[O_NEWS] ADD  CONSTRAINT [DF_O_NEWS_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[O_NEWS] ADD  CONSTRAINT [DF_O_NEWS_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[O_NEWS_HIGHLIGHTS] ADD  CONSTRAINT [DF_NEWS_HIGHLIGHTS_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[O_NEWS_HIGHLIGHTS] ADD  CONSTRAINT [DF_NEWS_HIGHLIGHTS_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[O_NEWS_HIGHLIGHTS] ADD  CONSTRAINT [DF_NEWS_HIGHLIGHTS_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[O_NEWS_HOME] ADD  CONSTRAINT [DF_O_NEWS_HOME_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[O_NEWS_HOME] ADD  CONSTRAINT [DF_O_NEWS_HOME_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[O_NEWS_HOME] ADD  CONSTRAINT [DF_O_NEWS_HOME_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[O_NEWS_NEW] ADD  CONSTRAINT [DF_O_NEWS_NEW_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[O_NEWS_NEW] ADD  CONSTRAINT [DF_O_NEWS_NEW_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[O_NEWS_NEW] ADD  CONSTRAINT [DF_O_NEWS_NEW_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[O_ORDER] ADD  CONSTRAINT [DF_O_ORDER_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[O_ORDER] ADD  CONSTRAINT [DF_O_ORDER_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[O_ORDER] ADD  CONSTRAINT [DF_O_ORDER_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[O_PRICE_GOLD] ADD  CONSTRAINT [DF_O_PRICE_GOLD_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[O_PRICE_GOLD] ADD  CONSTRAINT [DF_O_PRICE_GOLD_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[O_PRICE_GOLD] ADD  CONSTRAINT [DF_O_PRICE_GOLD_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[O_PRODUCT] ADD  CONSTRAINT [DF_O_PRODUCT_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[O_PRODUCT] ADD  CONSTRAINT [DF_O_PRODUCT_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[O_PRODUCT] ADD  CONSTRAINT [DF_O_PRODUCT_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[O_PRODUCT_CATALOG] ADD  CONSTRAINT [DF_O_PRODUCT_CATALOG_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[O_PRODUCT_CATALOG] ADD  CONSTRAINT [DF_O_PRODUCT_CATALOG_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[O_PRODUCT_CATALOG] ADD  CONSTRAINT [DF_O_PRODUCT_CATALOG_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[O_PRODUCT_HIGHLIGHTS] ADD  CONSTRAINT [DF_O_PRODUCT_HIGHLIGHTS_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[O_PRODUCT_HIGHLIGHTS] ADD  CONSTRAINT [DF_O_PRODUCT_HIGHLIGHTS_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[O_PRODUCT_HIGHLIGHTS] ADD  CONSTRAINT [DF_O_PRODUCT_HIGHLIGHTS_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[O_PRODUCT_NEW] ADD  CONSTRAINT [DF_O_PRODUCT_NEW_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[O_PRODUCT_NEW] ADD  CONSTRAINT [DF_O_PRODUCT_NEW_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[O_PRODUCT_NEW] ADD  CONSTRAINT [DF_O_PRODUCT_NEW_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[O_PRODUCT_SELLING] ADD  CONSTRAINT [DF_O_PRODUCT_SELLING_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[O_PRODUCT_SELLING] ADD  CONSTRAINT [DF_O_PRODUCT_SELLING_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[O_PRODUCT_SELLING] ADD  CONSTRAINT [DF_O_PRODUCT_SELLING_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[O_SEO] ADD  CONSTRAINT [DF_O_SEO_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[O_SEO] ADD  CONSTRAINT [DF_O_SEO_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[O_SEO] ADD  CONSTRAINT [DF_O_SEO_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[O_USER_CUSTOMER] ADD  CONSTRAINT [DF_O_USER_CUSTOMER_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[O_USER_CUSTOMER] ADD  CONSTRAINT [DF_O_USER_CUSTOMER_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[O_USER_CUSTOMER] ADD  CONSTRAINT [DF_O_USER_CUSTOMER_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[O_USER_EMPLOYEE] ADD  CONSTRAINT [DF_O_USER_EMPLOYEE_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[O_USER_EMPLOYEE] ADD  CONSTRAINT [DF_O_USER_EMPLOYEE_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[O_USER_EMPLOYEE] ADD  CONSTRAINT [DF_O_USER_EMPLOYEE_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[O_USER_PST] ADD  CONSTRAINT [DF_O_USER_PST_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[O_USER_PST] ADD  CONSTRAINT [DF_O_USER_PST_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[O_USER_PST] ADD  CONSTRAINT [DF_O_USER_PST_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[S_PST] ADD  CONSTRAINT [DF_S_PST_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[S_PST] ADD  CONSTRAINT [DF_S_PST_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[S_PST] ADD  CONSTRAINT [DF_S_PST_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[S_STATISTICS_VISIT] ADD  CONSTRAINT [DF_S_STATISTICS_VISIT_TIME_ONLINE]  DEFAULT (getdate()) FOR [TIME_ONLINE]
GO
ALTER TABLE [dbo].[S_STATISTICS_VISIT] ADD  CONSTRAINT [DF_S_STATISTICS_VISIT_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[S_STATISTICS_VISIT] ADD  CONSTRAINT [DF_S_STATISTICS_VISIT_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[S_STATISTICS_VISIT] ADD  CONSTRAINT [DF_S_STATISTICS_VISIT_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[S_USER] ADD  CONSTRAINT [DF_M_USER_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[S_USER] ADD  CONSTRAINT [DF_M_USER_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[S_USER] ADD  CONSTRAINT [DF_M_USER_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[W_PRODUCT] ADD  CONSTRAINT [DF_W_PRODUCT_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[W_PRODUCT] ADD  CONSTRAINT [DF_W_PRODUCT_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[W_PRODUCT] ADD  CONSTRAINT [DF_W_PRODUCT_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[D_CITIES_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_D_CITIES_DETAIL_O_CITIES] FOREIGN KEY([CITIES_CD])
REFERENCES [dbo].[O_CITIES] ([CITIES_CD])
GO
ALTER TABLE [dbo].[D_CITIES_DETAIL] CHECK CONSTRAINT [FK_D_CITIES_DETAIL_O_CITIES]
GO
ALTER TABLE [dbo].[D_ORDER_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_D_ORDER_DETAIL_O_ORDER] FOREIGN KEY([ORDER_CD])
REFERENCES [dbo].[O_ORDER] ([ORDER_CD])
GO
ALTER TABLE [dbo].[D_ORDER_DETAIL] CHECK CONSTRAINT [FK_D_ORDER_DETAIL_O_ORDER]
GO
ALTER TABLE [dbo].[D_ORDER_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_D_ORDER_DETAIL_O_PRODUCT] FOREIGN KEY([PRODUCT_CD])
REFERENCES [dbo].[O_PRODUCT] ([PRODUCT_CD])
GO
ALTER TABLE [dbo].[D_ORDER_DETAIL] CHECK CONSTRAINT [FK_D_ORDER_DETAIL_O_PRODUCT]
GO
ALTER TABLE [dbo].[D_PRODUCT_DETAIL]  WITH NOCHECK ADD  CONSTRAINT [FK_D_PRODUCT_DETAIL_O_PRODUCT] FOREIGN KEY([PRODUCT_CD])
REFERENCES [dbo].[O_PRODUCT] ([PRODUCT_CD])
GO
ALTER TABLE [dbo].[D_PRODUCT_DETAIL] CHECK CONSTRAINT [FK_D_PRODUCT_DETAIL_O_PRODUCT]
GO
ALTER TABLE [dbo].[M_PAGE]  WITH CHECK ADD  CONSTRAINT [FK_M_PAGE_O_CATEGORY_PAGE] FOREIGN KEY([CATEGORY_PAGE_CD])
REFERENCES [dbo].[O_CATEGORY_PAGE] ([CATEGORY_PAGE_CD])
GO
ALTER TABLE [dbo].[M_PAGE] CHECK CONSTRAINT [FK_M_PAGE_O_CATEGORY_PAGE]
GO
ALTER TABLE [dbo].[O_ALBUM]  WITH CHECK ADD  CONSTRAINT [FK_O_ALBUM_O_CATEGORY_ALBUM] FOREIGN KEY([CATEGORY_ALBUM_CD])
REFERENCES [dbo].[O_CATEGORY_ALBUM] ([CATEGORY_ALBUM_CD])
GO
ALTER TABLE [dbo].[O_ALBUM] CHECK CONSTRAINT [FK_O_ALBUM_O_CATEGORY_ALBUM]
GO
ALTER TABLE [dbo].[O_BRANCH]  WITH CHECK ADD  CONSTRAINT [FK_O_BRANCH_D_CITIES_DETAIL] FOREIGN KEY([CITIES_DETAIL_CD])
REFERENCES [dbo].[D_CITIES_DETAIL] ([CITIES_DETAIL_CD])
GO
ALTER TABLE [dbo].[O_BRANCH] CHECK CONSTRAINT [FK_O_BRANCH_D_CITIES_DETAIL]
GO
ALTER TABLE [dbo].[O_BRANCH]  WITH CHECK ADD  CONSTRAINT [FK_O_BRANCH_O_CITIES] FOREIGN KEY([CITIES_CD])
REFERENCES [dbo].[O_CITIES] ([CITIES_CD])
GO
ALTER TABLE [dbo].[O_BRANCH] CHECK CONSTRAINT [FK_O_BRANCH_O_CITIES]
GO
ALTER TABLE [dbo].[O_CATEGORY_PRODUCT_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_O_CATEGORY_PRODUCT_DETAIL_O_CATEGORY_PRODUCT] FOREIGN KEY([CATEGORY_PRODUCT_CD])
REFERENCES [dbo].[O_CATEGORY_PRODUCT] ([CATEGORY_PRODUCT_CD])
GO
ALTER TABLE [dbo].[O_CATEGORY_PRODUCT_DETAIL] CHECK CONSTRAINT [FK_O_CATEGORY_PRODUCT_DETAIL_O_CATEGORY_PRODUCT]
GO
ALTER TABLE [dbo].[O_NEWS]  WITH NOCHECK ADD  CONSTRAINT [FK_O_NEWS_M_EMPLOYEE] FOREIGN KEY([EMPLOYEE_CD])
REFERENCES [dbo].[M_EMPLOYEE] ([EMPLOYEE_CD])
GO
ALTER TABLE [dbo].[O_NEWS] CHECK CONSTRAINT [FK_O_NEWS_M_EMPLOYEE]
GO
ALTER TABLE [dbo].[O_NEWS]  WITH CHECK ADD  CONSTRAINT [FK_O_NEWS_O_CATEGORY_NEWS] FOREIGN KEY([CATEGORY_NEWS_CD])
REFERENCES [dbo].[O_CATEGORY_NEWS] ([CATEGORY_NEWS_CD])
GO
ALTER TABLE [dbo].[O_NEWS] CHECK CONSTRAINT [FK_O_NEWS_O_CATEGORY_NEWS]
GO
ALTER TABLE [dbo].[O_NEWS_HIGHLIGHTS]  WITH CHECK ADD  CONSTRAINT [FK_O_NEWS_HIGHLIGHTS_O_NEWS] FOREIGN KEY([NEWS_CD])
REFERENCES [dbo].[O_NEWS] ([NEWS_CD])
GO
ALTER TABLE [dbo].[O_NEWS_HIGHLIGHTS] CHECK CONSTRAINT [FK_O_NEWS_HIGHLIGHTS_O_NEWS]
GO
ALTER TABLE [dbo].[O_NEWS_HOME]  WITH CHECK ADD  CONSTRAINT [FK_O_NEWS_HOME_O_NEWS] FOREIGN KEY([NEWS_CD])
REFERENCES [dbo].[O_NEWS] ([NEWS_CD])
GO
ALTER TABLE [dbo].[O_NEWS_HOME] CHECK CONSTRAINT [FK_O_NEWS_HOME_O_NEWS]
GO
ALTER TABLE [dbo].[O_NEWS_NEW]  WITH CHECK ADD  CONSTRAINT [FK_O_NEWS_NEW_O_NEWS] FOREIGN KEY([NEWS_CD])
REFERENCES [dbo].[O_NEWS] ([NEWS_CD])
GO
ALTER TABLE [dbo].[O_NEWS_NEW] CHECK CONSTRAINT [FK_O_NEWS_NEW_O_NEWS]
GO
ALTER TABLE [dbo].[O_ORDER]  WITH NOCHECK ADD  CONSTRAINT [FK_O_ORDER_M_EMPLOYEE] FOREIGN KEY([EMPLOYEE_CD])
REFERENCES [dbo].[M_EMPLOYEE] ([EMPLOYEE_CD])
GO
ALTER TABLE [dbo].[O_ORDER] CHECK CONSTRAINT [FK_O_ORDER_M_EMPLOYEE]
GO
ALTER TABLE [dbo].[O_ORDER]  WITH NOCHECK ADD  CONSTRAINT [FK_O_ORDER_O_CUSTOMER] FOREIGN KEY([CUSTOMER_CD])
REFERENCES [dbo].[O_CUSTOMER] ([CUSTOMER_CD])
GO
ALTER TABLE [dbo].[O_ORDER] CHECK CONSTRAINT [FK_O_ORDER_O_CUSTOMER]
GO
ALTER TABLE [dbo].[O_PRODUCT]  WITH NOCHECK ADD  CONSTRAINT [FK_O_PRODUCT_O_CATEGORY_GRANULES] FOREIGN KEY([CATEGORY_GRANULES_CD])
REFERENCES [dbo].[O_CATEGORY_GRANULES] ([CATEGORY_GRANULES_CD])
GO
ALTER TABLE [dbo].[O_PRODUCT] CHECK CONSTRAINT [FK_O_PRODUCT_O_CATEGORY_GRANULES]
GO
ALTER TABLE [dbo].[O_PRODUCT]  WITH NOCHECK ADD  CONSTRAINT [FK_O_PRODUCT_O_CATEGORY_PRODUCT] FOREIGN KEY([CATEGORY_PRODUCT_CD])
REFERENCES [dbo].[O_CATEGORY_PRODUCT] ([CATEGORY_PRODUCT_CD])
GO
ALTER TABLE [dbo].[O_PRODUCT] CHECK CONSTRAINT [FK_O_PRODUCT_O_CATEGORY_PRODUCT]
GO
ALTER TABLE [dbo].[O_PRODUCT]  WITH NOCHECK ADD  CONSTRAINT [FK_O_PRODUCT_O_CATEGORY_PRODUCT_DETAIL] FOREIGN KEY([CATEGORY_PRODUCT_DETAIL_CD])
REFERENCES [dbo].[O_CATEGORY_PRODUCT_DETAIL] ([CATEGORY_PRODUCT_DETAIL_CD])
GO
ALTER TABLE [dbo].[O_PRODUCT] CHECK CONSTRAINT [FK_O_PRODUCT_O_CATEGORY_PRODUCT_DETAIL]
GO
ALTER TABLE [dbo].[O_PRODUCT_CATALOG]  WITH CHECK ADD  CONSTRAINT [FK_O_PRODUCT_CATALOG_O_PRODUCT] FOREIGN KEY([PRODUCT_CD])
REFERENCES [dbo].[O_PRODUCT] ([PRODUCT_CD])
GO
ALTER TABLE [dbo].[O_PRODUCT_CATALOG] CHECK CONSTRAINT [FK_O_PRODUCT_CATALOG_O_PRODUCT]
GO
ALTER TABLE [dbo].[O_PRODUCT_HIGHLIGHTS]  WITH NOCHECK ADD  CONSTRAINT [FK_O_PRODUCT_HIGHLIGHTS_O_PRODUCT] FOREIGN KEY([PRODUCT_CD])
REFERENCES [dbo].[O_PRODUCT] ([PRODUCT_CD])
GO
ALTER TABLE [dbo].[O_PRODUCT_HIGHLIGHTS] CHECK CONSTRAINT [FK_O_PRODUCT_HIGHLIGHTS_O_PRODUCT]
GO
ALTER TABLE [dbo].[O_PRODUCT_NEW]  WITH NOCHECK ADD  CONSTRAINT [FK_O_PRODUCT_NEW_O_PRODUCT] FOREIGN KEY([PRODUCT_CD])
REFERENCES [dbo].[O_PRODUCT] ([PRODUCT_CD])
GO
ALTER TABLE [dbo].[O_PRODUCT_NEW] CHECK CONSTRAINT [FK_O_PRODUCT_NEW_O_PRODUCT]
GO
ALTER TABLE [dbo].[O_PRODUCT_SELLING]  WITH NOCHECK ADD  CONSTRAINT [FK_O_PRODUCT_SELLING_O_PRODUCT] FOREIGN KEY([PRODUCT_CD])
REFERENCES [dbo].[O_PRODUCT] ([PRODUCT_CD])
GO
ALTER TABLE [dbo].[O_PRODUCT_SELLING] CHECK CONSTRAINT [FK_O_PRODUCT_SELLING_O_PRODUCT]
GO
ALTER TABLE [dbo].[O_USER_CUSTOMER]  WITH CHECK ADD  CONSTRAINT [FK_O_USER_CUSTOMER_O_CUSTOMER] FOREIGN KEY([CUSTOMER_CD])
REFERENCES [dbo].[O_CUSTOMER] ([CUSTOMER_CD])
GO
ALTER TABLE [dbo].[O_USER_CUSTOMER] CHECK CONSTRAINT [FK_O_USER_CUSTOMER_O_CUSTOMER]
GO
ALTER TABLE [dbo].[O_USER_CUSTOMER]  WITH CHECK ADD  CONSTRAINT [FK_O_USER_CUSTOMER_S_USER] FOREIGN KEY([USER_CD])
REFERENCES [dbo].[S_USER] ([USER_CD])
GO
ALTER TABLE [dbo].[O_USER_CUSTOMER] CHECK CONSTRAINT [FK_O_USER_CUSTOMER_S_USER]
GO
ALTER TABLE [dbo].[O_USER_EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_O_USER_EMPLOYEE_M_EMPLOYEE] FOREIGN KEY([EMPLOYEE_CD])
REFERENCES [dbo].[M_EMPLOYEE] ([EMPLOYEE_CD])
GO
ALTER TABLE [dbo].[O_USER_EMPLOYEE] CHECK CONSTRAINT [FK_O_USER_EMPLOYEE_M_EMPLOYEE]
GO
ALTER TABLE [dbo].[O_USER_EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_O_USER_EMPLOYEE_S_USER] FOREIGN KEY([USER_CD])
REFERENCES [dbo].[S_USER] ([USER_CD])
GO
ALTER TABLE [dbo].[O_USER_EMPLOYEE] CHECK CONSTRAINT [FK_O_USER_EMPLOYEE_S_USER]
GO
ALTER TABLE [dbo].[O_USER_PST]  WITH CHECK ADD  CONSTRAINT [FK_O_USER_PST_S_PST] FOREIGN KEY([PST_CD])
REFERENCES [dbo].[S_PST] ([PST_CD])
GO
ALTER TABLE [dbo].[O_USER_PST] CHECK CONSTRAINT [FK_O_USER_PST_S_PST]
GO
ALTER TABLE [dbo].[O_USER_PST]  WITH CHECK ADD  CONSTRAINT [FK_O_USER_PST_S_USER] FOREIGN KEY([USER_CD])
REFERENCES [dbo].[S_USER] ([USER_CD])
GO
ALTER TABLE [dbo].[O_USER_PST] CHECK CONSTRAINT [FK_O_USER_PST_S_USER]
GO
