@{
    ViewBag.Title = "Tầm nhìn & Sứ mệnh";
}

@section Styles {
    <link href="@Url.Content("~/Content/css/default.css")" rel="stylesheet" type="text/css" />
}

<h2 class="owl-featured margin-bottom-30 margin-top20"><strong>Tầm nhìn & Sứ mệnh</strong></h2>

<div class="newsdt-content">
    <strong style="font-size: 16px; line-height: 1;"><span style="font-size: 18px; color: #ffc000;">TẦM NHÌN :</span></strong><br>
    <span style="color: #595959; font-size: 18px;">&nbsp; &nbsp;</span><span style="font-size: 14px;">
        <span style="color: #595959; font-size: 18px;">
            &nbsp;-<span style="font-size: 18px;">
                Là công ty chế tác và bán lẻ hàng đầu Việt Nam luôn giữ vững vị trí số một trong các phân khúc thị trường mà NTJ nhắm tới tại thị trường Việt Nam.<br>
                &nbsp; &nbsp; - Khẳng định vị trí dẫn đầu về sáng tạo,sự tinh tế và uy tín trong ngành kim hoàn tại Việt Nam.
            </span>
        </span><br>
        <strong style="font-size: 14px; line-height: 1;"><span style="font-size: 18px; color: #ffc000;">SỨ MỆNH:</span></strong><br>
        <span style="color: #595959; font-size: 18px;">
            &nbsp; &nbsp; - NTJ mang đến nhiều niềm kiêu hãnh cho khách hàng bằng các sản phẩm trang sức tinh tế và chất lượng,mẫu mã vượt trội.<br>
        </span>
    </span><span style="color: #595959; font-size: 18px;">&nbsp; &nbsp; - Không ngừng vận động để được sự phát triển bền vững và tinh tế trong môi trường kinh doanh bằng hệ thống quản lý khoa học,đội ngủ nhân viên với trình độ chuyên môn cao và tâm huyết để cung cấp cho khách hàng những sản phẩm và dịch vụ đa dạng với chất lượng tốt nhất,giá cả cạnh tranh nhất.</span><br>
    <strong style="font-size: 16px; line-height: 1;"><span style="font-size: 18px; color: #ffc000;">TRIẾT LÝ KINH DOANH</span></strong><br>
    <span style="color: #595959; font-size: 18px;">
        &nbsp; &nbsp; - Khách hàng là thượng đế<br>
        &nbsp; &nbsp; - Đặt lợi ích xã hội vào doanh nghiệp
    </span><br>
    <span style="line-height: 1; font-size: 18px; color: #ffc000;"><strong>GÍA TRỊ CỐT LỖI:</strong></span><br>
    <div style="text-align: justify;"><span style="line-height: 1; font-size: 18px; color: #595959;">&nbsp; &nbsp; - Trung thực</span></div>
    <span style="font-size: 18px; color: #595959;">
        &nbsp; &nbsp; - Chất lượng<br>
        &nbsp; &nbsp; - Uy tín<br>
        &nbsp; &nbsp; - Đổi mới<br>
        &nbsp; &nbsp; - Sáng tạo
    </span>
</div>

