@{
    ViewBag.Title = "Công ty TNHH Ngọc Thẩm";
}

<h2 class="owl-featured margin-bottom-30 margin-top20"><strong>Công ty TNHH Ngọc Thẩm</strong></h2>

<div class="newsdt-content">
    <span style="text-align: justify">
        <span style="font-size: 36px; color: #ffc000;">
            <span style="font-size: 28px;">KHÔNG NGỪNG KHẲNG ĐỊNH VỊ THẾ VÀ THƯƠNG HIỆU&nbsp;</span><br>
        </span><span style="font-size: 14px;">
            <br>
            &nbsp;
        </span><span style="font-size: 18px;">
            <span style="font-size: 14px; color: #595959;">Trong lĩnh vực kinh doanh vàng bạc,đá quý tại ĐBSCL nói chung và thành phố Cần Thơ nói riêng,Ngọc Thẫm là thương hiệu đã không còn xa lạ.Dù phát triển chưa lâu nhưng với phương châm lấy chất lượng và uy tín làm trọng Công ty Ngọc Thẫm đã nhanh chóng trở thành thương hiệu hàng đầu trên thị trường kinh doanh vàng bạc,đá quý tại khu vực ĐBSCL.Chúng tôi đã có cuộc trao đổi với ông Nguyễn Ngọc Sơn,Giám đốc Công ty TNHH vàng bạc đá quý Ngọc Thẫm xung quanh câu chuyện xây dựng thương hiệu của công ty.</span><br>
            <br>
            <span style="color: #3f3f3f;">
                &nbsp;
            </span><span style="font-weight: bold; color: #3f3f3f;">&nbsp;Thưa ông,xin ông chia sẽ đôi nét về quá trình phát triển và những thành công nổi bật mà Ngọc Thẫm đã đạt được trong thời gian qua?</span><br>
            <span style="font-weight: bold; color: #3f3f3f;">&nbsp;</span><span style="font-weight: bold; color: #bfbfbf;"> </span><span style="color: #595959;">Công ty TNHH vàng bạc đá quý Ngọc Thẫm được thành lập từ năm 2003 với vốn đều lệ 110 tỷ đồng.Tiền thân của công ty Ngọc Thẫm là một cơ sở chuyên gia công các loại trang sức bằng vàng,bạc với 1 của hàng chính ờ TP.Mỹ Tho tỉnh Tiền Giang.Sau hơn 10 năm phát triển,hiện công ty đã có 1 văn phòng,1 nhà xưởng quy mô với hơn 150 thợ bạc và 8 chi nhánh tại các tỉnh Tiền Giang,Vĩnh Long,Cần Thơ và An Giang,chuyên gia công và mua bán vàng miếng,các loại nữ trang bằng vàng,bạc và đá quý.</span><br>
            <span style="color: #595959;">
                &nbsp; Ngọc Thẫm cũng vinh dự đạt chứng nhận hàng Việt Nam chất lượng cao năm 2002,2005,2006;cúp vàng thương hiệu - nhãn hiệu năm 2005,2007.Đặc biệt,trogn năm 2012,Ngọc Thẫm là một trong số ít doanh nghiệp trong cả nước đủ điều kiện được ngân hàng nhà nước cấp phép kinh doanh vàng miếng.
            </span><br>
            <span style="color: #262626;">&nbsp;</span><span style="font-weight: bold; color: #262626;">Là một doanh nghiệp còn rất trẻ nhưng Ngọc Thẫm đã xây dựng được vị thế thương hiệu rất vững chắc trên thị trường ,vậy đâu là động lực và giá trị cốt lõi làm nên thành công đó,thưa ông?</span><br>
            <strong style="color: #595959;">&nbsp;</strong><span style="color: #595959;"> Với việc luôn đặt lợi ích khách hàng và người lao động lên hàng đầu,lấy chất lượng làm nên uy tín,trong nhiều năm chúng tôi đã không ngừng đổi mới công nghệ và đầu tư máy móc ngoại nhập để nâng cao chất lượng sản phẩm,nhờ đó niềm tin của khách hàng với công ty luôn được bồi đắp trong suốt nhiều năm.</span><br>
            <span style="color: #595959;">
                &nbsp; Không chỉ mang đến cho khách hàng những sản phẩm chất lượng cao,niềm đam mê với những giá trị sáng tạo thẫm mỹ luôn được những nghệ nhân của Ngọc Thẫm thể hiện trên từng tác phẩm kim hoàn nên luôn tạo được sự hài lòng cho khách hàng.
            </span><br>
            <strong>
                <span style="color: #262626;">&nbsp; Thị trường vàng thời gian qua vốn rất nhiều biến động về cạnh tranh cũng ngày một gay gắt.Tiếp nối những thành công đã đạt được trong những năm qua công ty Ngọc Thẫm đã xây dựng cho mình những định hướng và chiến lược gì,thưa ông?</span><br>
            </strong><span style="color: #3f3f3f;">
                &nbsp; Khát vọng và mục tiêu của chúng tôi là phát triển công ty thành một doanh nghiệp hàng đầu trong ngành kim hoàn.Với mẫu mã ngày càng đa dạng,chất lượng ngày càng cao,chúng tôi tự tin khẳng định với khách hàng về những giá trị và lợi ích mà chúng tôi mang đến.<br>
                &nbsp; Hướng đến xuất khẩu các mẫu mã sản phẩm chất lượng ra thị trường Châu Á,thị trường vốn rất tiếm năng với nhu cầu rất lớn về các sản phẩm trang sức làm đẹp bằng kim loại quý và đá quý.<br>
                &nbsp; Đặc biệt,chiến lược dài hạn của chúng tôi đến năm 2020 là hình thành nên hai trung tâm thời trang lớn chuyên kinh doanh các loại phụ kiện trang sức bàng vàng,bạc và đá quý.Để làm được đều này,trước mắt công ty sẻ tiền hành xây dựng hoàn chỉnh hệ thống nhận diện thương hiệu vào năm 2014,quảng bá hình ảnh thương hiệu của công ty với mục tiêu nâng độ phủ thương hiệu khắp 13 tỉnh ĐBSCL trước năm 2016.
            </span>
        </span>
    </span>
</div>
