@{
    ViewBag.Title = "News Gold";
}

@section Styles {
    <link href="@Url.Content("~/Self/news/css/mainstyles.css")" rel="stylesheet" type="text/css" />
}


<h2 class="owl-featured">TIN TÀI CHÍNH THẾ GIỚI</h2>
<div class="wrapper" align="center">
    <div id="content" style="margin-top:40px;">
        <!-- InstanceBeginEditable name="ContentThongTin" -->
        <div id="leftpanel_thongtin">
            <div class="enter">
            </div>
            <div id="contentTinTuc">
                <div class="imghomenews"> <img width="300" src="@Url.Content("~/Content")/images/news/small/PNJ_News_320.jpg" align=""> </div>
                <div id="tintuc_home_copy" style="width:260px">
                    <h4><a href="tintuc-co-dau-truong-thi-may-rang-ngoi-ben-chu-re-duy-linh-320-_-2014-08-01">"CÔ DÂU" TRƯƠNG THỊ MAY RẠNG NGỜI BÊN "CHÚ RỂ" DUY LINH</a></h4>
                    Với uy tín của một thương hiệu trong suốt 20 năm được các đôi uyên ương tin tưởng lựa chọn, chào đón mùa cưới 2014, từ ngày 05/08 đến 31/12/2014, BST trang sức cưới Hạnh Phúc Vàng của PNJ sẽ có mặt tại hệ thống cửa hàng PNJ trên toàn quốc, tiếp tục tô điểm thêm vẻ rạng ngời, quyến rũ cho các cô dâu Việt. Đặc biệt, khách hàng mua trang sức cưới HPV dịp này  sẽ nhận được quà tặng là cặp album cưới Long Phụng.<br>
                    <div align="right"><a href="tintuc-co-dau-truong-thi-may-rang-ngoi-ben-chu-re-duy-linh-320-_-2014-08-01">Xem thêm</a></div>
                </div><div class="enter"><br> <hr noshade="noshade" width="90%" style="border:dotted"></div>

                <div class="imghomenews"> <img width="100" src="UserFiles/IMG/small/PNJ_News_319.jpg" align=""> </div>
                <div id="tintuc_home_copy" style="width:410px">
                    <h4><a href="tintuc-pnjsilver-gioi-thieu-bo-suu-tap-dau-an-tinh-ban-toa-sang-319-_-2014-07-31">PNJSILVER GIỚI THIỆU BỘ SƯU TẬP "DẤU ẤN TÌNH BẠN TỎA SÁNG"</a></h4>
                    Được biết đến như một thương hiệu trang sức bạc và phụ kiện thời trang hàng đầu gắn liền với giới trẻ cùng thông điệp “Thế giới Nàng tỏa sáng”, chào mừng ngày tình bạn năm nay: 03/08/2014, PNJSilver trở thành thương hiệu tiên phong giới thiệu BST trang sức “Dấu ấn tình bạn tỏa sáng” với những thiết kế độc đáo hứa hẹn sẽ mang đến những kỷ vật đặc biệt mang ý nghĩa kết nối tình bạn  tuyệt vời.<br>
                    <div align="right"><a href="tintuc-pnjsilver-gioi-thieu-bo-suu-tap-dau-an-tinh-ban-toa-sang-319-_-2014-07-31">Xem thêm</a></div>
                </div><div class="enter"> </div>
                <div class="imghomenews"> <img width="100" src="UserFiles/IMG/small/PNJ_News_318.jpg" align=""> </div>
                <div id="tintuc_home_copy" style="width:410px">
                    <h4><a href="tintuc-kham-pha-dinh-cao-trang-suc-cuoi-hanh-phuc-vang-tai-trien-lam-cuoi-marry-wedding-2014--318-_-2014-07-23">KHÁM PHÁ ĐỈNH CAO TRANG SỨC CƯỚI HẠNH PHÚC VÀNG TẠI TRIỂN LÃM CƯỚI MARRY WEDDING 2014 </a></h4>
                    Chào đón mùa cưới 2014, PNJ hân hạnh là Nhà tài trợ Bạch Kim cho sự kiện cưới Marry Wedding, nhằm giới thiệu đến những đôi uyên ương BST trang sức cưới mới nhất mang đậm dấu ấn và phong cách PNJ, hứa hẹn sẽ tạo nên ấn tượng mới, khẳng định vị trí tiên phong trong ngành trang sức - đặc biệt là trang sức cưới - tại Việt Nam.<br>
                    <div align="right"><a href="tintuc-kham-pha-dinh-cao-trang-suc-cuoi-hanh-phuc-vang-tai-trien-lam-cuoi-marry-wedding-2014--318-_-2014-07-23">Xem thêm</a></div>
                </div><div class="enter"> </div>
                <div class="imghomenews"> <img width="100" src="UserFiles/IMG/small/PNJ_News_317.jpg" align=""> </div>
                <div id="tintuc_home_copy" style="width:410px">
                    <h4><a href="tintuc-tung-bung-khai-truong-trung-tam-kim-hoan-pnj-buon-ma-thuot-317-_-2014-07-18">TƯNG BỪNG KHAI TRƯƠNG TRUNG TÂM KIM HOÀN PNJ BUÔN MA THUỘT</a></h4>
                    Sáng ngày 17/07/2014, PNJ chính thức khai trương chi nhánh- trung tâm kim hoàn (TTKH) PNJ Buôn Ma Thuột tại số C1, C2 Điện Biên Phủ, TP Buôn Ma Thuột, tỉnh Đak Lak. Đây là TTKH thứ 172 của PNJ trên toàn quốc và là TTKH đầu tiên của PNJ tại thị trường Tây nguyên, đặt trụ sở tại Buôn Ma Thuột để cung cấp trang sức, kinh doanh sỷ và lẻ cho thị trường Đak Lak, Gia Lai, Kon Tum, Đak Nông và các thị trường lân cận. <br>
                    <div align="right"><a href="tintuc-tung-bung-khai-truong-trung-tam-kim-hoan-pnj-buon-ma-thuot-317-_-2014-07-18">Xem thêm</a></div>
                </div><div class="enter"> </div>
                <div class="imghomenews"> <img width="100" src="UserFiles/IMG/small/PNJ_News_316.jpg" align=""> </div>
                <div id="tintuc_home_copy" style="width:410px">
                    <h4><a href="tintuc-chi-nhanh-pnj-mien-bac-uu-dai-lon-mung-sinh-nhat-316-_-2014-07-11">CHI NHÁNH PNJ MIỀN BẮC ƯU ĐÃI LỚN MỪNG SINH NHẬT</a></h4>
                    Có mặt tại thị trường miền Bắc đã 20 năm, đến nay, PNJ ngày càng trở nên quen thuộc và được nhiều khách hàng lựa chọn. Nhân dịp mừng sinh nhật hệ thống TTKH PNJ tại miền Bắc, từ 11/07 đến 27/07/2014 PNJ ưu đãi lên đến 20%, trang sức bạc PNJSilver ưu đãi 15% tất cả các sản phẩm. Đặc biệt, khách hàng còn được tham gia các chương trình chăm sóc khách hàng đặc biệt và nhận được nhiều quà tặng độc đáo từ PNJ.<br>
                    <div align="right"><a href="tintuc-chi-nhanh-pnj-mien-bac-uu-dai-lon-mung-sinh-nhat-316-_-2014-07-11">Xem thêm</a></div>
                </div><div class="enter"> </div>
                <div class="imghomenews"> <img width="100" src="UserFiles/IMG/small/PNJ_News_315.jpg" align=""> </div>
                <div id="tintuc_home_copy" style="width:410px">
                    <h4><a href="tintuc-pnj-gieo-mam-hanh-phuc-tu-moi-truong-lam-viec-315-_-2014-07-07">PNJ GIEO MẦM HẠNH PHÚC TỪ MÔI TRƯỜNG LÀM VIỆC</a></h4>
                    Ngày hội gia đình PNJ tại Đại Nam ngày 30/6 vừa qua là cảnh các gia đình trẻ quây quần bên nhau cùng chăm sóc những đứa con nhỏ của mình. Trên 3,000 người tham dự hôm đó, không biết có bao nhiêu gia đình trẻ nhưng nhìn thoáng qua có thể thấy “cư dân PNJ” thuộc dân số trẻ (trên dưới 30) – có thể chiếm hơn 2/3. Điều gây bất ngờ nhất là có nhiều gia đình trẻ ở đây được hình thành từ môi trường làm việc<br>
                    <div align="right"><a href="tintuc-pnj-gieo-mam-hanh-phuc-tu-moi-truong-lam-viec-315-_-2014-07-07">Xem thêm</a></div>
                </div><div class="enter"> </div>

            </div>
        </div>
        <div id="rightpanel_thongtin">
            <div id="thongtin_panel">
                <div id="newsvideo">
                    <div id="newsvideocontent">
                        <div id="videokhac">
                            <h5 class="owl-featured">CÁC VIDEO KHÁC</h5>
                            <ul>
                                <li><a href="tintuc-trinh-dien-bst-trang-suc-kim-cuong-tai-golden-night-40">Trình diễn BST trang sức kim cương tại Golden Night (14/11/2013)</a></li>
                                <li><a href="tintuc-truong-thi-may-trinh-dien-chiec-khan-2-ty-tai-golden-night-39">Trương Thị May trình diễn chiếc khăn 2 tỷ tại Golden Night (14/11/2013)</a></li>
                                <li><a href="tintuc-ton-vinh-phu-nu-viet-nam-38">Tôn vinh phụ nữ Việt Nam (25/10/2013)</a></li>
                                <li><a href="tintuc-hanh-phuc-vang-2013-37">Hạnh Phúc Vàng 2013 (13/08/2013)</a></li>
                                <li><a href="tintuc-hanh-phuc-vang-2012-35">Hạnh Phúc Vàng 2012 (05/09/2012)</a></li>
                                <li><a href="tintuc-bo-suu-tap-0803-34">Bộ sưu tập 08/03 (07/03/2012)</a></li>
                                <li><a href="tintuc-tvc142-33">TVC-14/2 (06/02/2012)</a></li>
                                <li><a href="tintuc-diamond-night-2011-32">Diamond Night 2011 (30/12/2011)</a></li>
                                <li><a href="tintuc-hanh-phuc-vang-2011-31">Hạnh phúc vàng 2011 (01/11/2011)</a></li>
                                <li><a href="tintuc-kim-cuong-thang-4-25">Kim Cương Tháng 4 (21/01/2011)</a></li>
                                <li><a href="tintuc-hanh-phuc-vang-2010-24">Hạnh Phúc Vàng 2010 (21/01/2011)</a></li>
                                <li><a href="tintuc-pnj--dong-hanh-cung-hang-viet--mot-nam-nhin-lai-23">PNJ - Đồng hành cùng hàng Việt - Một năm nhìn lại (21/01/2011)</a></li>
                                <li><a href="tintuc-qua-trinh-che-tac-hoa-atiso-22">Quá trình chế tác Hoa Atiso (21/01/2011)</a></li>
                                <li><a href="tintuc-phim-quang-cao--29">Phim quảng cáo  (10/12/2010)</a></li>
                                <li><a href="tintuc-fbnc--nha-lanh-dao-doanh-nghiep--7">FBNC - Nhà lãnh đạo doanh nghiệp  (03/12/2010)</a></li>
                                <li><a href="tintuc-hoa-hau-trai-dat-6">Hoa hậu trái đất (05/11/2010)</a></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- InstanceEndEditable -->
    </div>
    <div class="enter"> </div>
</div>