@{
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
    ViewBag.Title = "Giới thiệu công ty";
}

@section Styles {
    <link href="@Url.Content("~/Content/css/default.css")" rel="stylesheet" type="text/css" />
}

<h2 class="owl-featured margin-bottom-30 margin-top20"><strong>Giới Thiệu</strong> NGỌC THẨM GOLD</h2>

<div class="newsdt-content">
    <p>
    </p>
    <p>
    </p>
    <p style="text-align: left;"><span style="line-height: 1; font-size: 18px;"><strong><span style="font-size: 18px; color: #ffc000;"></span></strong></span></p>
    <p style="line-height: 8pt;"><strong><span style="font-size: 8pt; border: 1pt none windowtext; padding: 0cm; color: #595959;"></span></strong></p>
    <p><strong><span style="font-size: 16pt; border: 1pt none windowtext; padding: 0cm; color: #595959;"></span></strong></p>
    <p>
        <strong><span style="font-size: 14pt; border: 1pt none windowtext; padding: 0cm; color: #595959;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span><span style="font-size: 14pt; border: 1pt none windowtext; padding: 0cm; color: #ff0000;">&nbsp;TÊN CÔNG TY</span></strong><span style="font-size: 14pt; border: 1pt none windowtext; padding: 0cm;">
            <br>
            <span style="color: #595959;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Tên đầy đủ:</span><span class="apple-converted-space" style="color: #595959;">&nbsp;</span><strong style="color: #595959;">CÔNG TY TNHH VÀNG BẠC ĐÁ QUÝ NGỌC THẪM</strong><br>
            <span style="color: #595959;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Tên tiếng anh:</span><span class="apple-converted-space" style="color: #595959;">&nbsp;</span><strong style="color: #595959;">NGOC THAM JEWELRY COMPANY</strong><br>
            <span style="color: #595959;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Tên viết tắt:</span><span class="apple-converted-space" style="color: #595959;">&nbsp;</span><strong><span style="color: #ffc000;">NTJ</span></strong><br>
            <br>
            <strong><span style="color: #ffc000;">NTJ</span><span style="color: #595959;">&nbsp;</span></strong><span style="color: #595959;">​là thương hiệu cho dòng sản phẩm trang sức cao cấp của công ty vàng bạc đá quý Ngọc Thẫm chuyên về lĩnh vực nhẫn cưới,vàng miếng,kim cương...</span><strong><span style="color: #ffc000;">NTJ</span></strong><span style="color: #595959;">&nbsp;xuất hiện trên thị trường &nbsp; từ hơn một thập kỉ trước,cùng với sự nổ lực hết mình trong việc sáng tạo và hoàn thiện sản phẩm , &nbsp;quảng bá thương hiệu,phục vụ khách hàng,đảm bảo chế độ hậu mãi...đã giúp&nbsp;</span><strong><span style="color: #ffc000;">NTJ</span></strong><strong style="color: #595959;">&nbsp;</strong><span style="color: #595959;">giữ vững được thiện &nbsp; cảm và tin tưởng của người tiêu dùng .</span>
        </span>
    </p>
    <p> </p>
    <p><span style="font-size: 14pt; border: 1pt none windowtext; padding: 0cm;"><span style="color: #595959;">Hiện nay,</span><strong><span style="color: #ffc000;">NTJ&nbsp;</span></strong><span style="color: #595959;">đã mở rộng lĩnh vực kinh doanh gồm : vàng miếng,nhẫn cưới,lắc chân,lắc tay,simen,dây chuyền,kim cương,khắc chữ trên kim cương...</span><strong><span style="color: #ffc000;">NTJ</span></strong><span style="color: #595959;">&nbsp;đã có thể tự hào là một trong những thương hiệu nổi tiếng nhất thị trường trong và ngoài nước và được khách hàng yêu mến và tin tưởng.</span></span></p>
    <p> </p>
    <p><strong><span style="font-size: 14pt; border: 1pt none windowtext; padding: 0cm; color: #ffc000;">NTJ</span></strong><span style="font-size: 14pt; border: 1pt none windowtext; padding: 0cm;"><span style="color: #595959;">&nbsp;luôn mong muốn được đón tiếp tất cả quý vị tại địa chỉ Website</span><span class="apple-converted-space" style="color: #595959;">&nbsp;</span><a href="http://ngocthamgold.com.vn/" target="_top"><span style="color: #ff0000;">www.ngocthamgold.com.vn</span></a><span class="apple-converted-space" style="color: #595959;">&nbsp;</span><span style="color: #595959;">này hoặc tại các cửa hàng của công ty,dù quý vị đến với chúng tôi để mua hàng hay tham quan,tư vấn về mua sắm,sử dụng và bảo quản đồ trang sức...chúng tôi rất hạnh được phục vụ quý vị.</span></span></p>
    <p> </p>
    <p><span style="font-size: 14pt; border: 1pt none windowtext; padding: 0cm;"><span style="color: #595959;">Trân trọng cảm ơn sự quan tâm của quý vị dành cho</span><strong><span style="color: #595959;">&nbsp;</span><span style="color: #ffc000;">NTJ</span><span style="color: #595959;">&nbsp;</span></strong><span style="color: #595959;">!</span></span></p>
    <p><span style="font-size: 14pt; border: 1pt none windowtext; padding: 0cm; color: #595959;">Chúc quý vị sức khỏe và hạnh phúc! Hân hạnh được tạo nên niềm vui,vẻ đẹp và hạnh phúc của quý vị !</span></p>
    <p style="line-height: 8pt;"> </p>
    <div style="text-align: left;">
        <span style="line-height: 8pt; border: 1pt none windowtext; padding: 0cm; font-size: 18px; color: #595959;">
            <br>
            <span style="font-size: 18px;">
                <br>
                <span style="font-size: 18px;"></span>
            </span>
        </span>
    </div>
    <p><span style="border: 1pt none windowtext; padding: 0cm; font-size: 18px; color: #595959;"></span></p>
    <p><span style="border: 1pt none windowtext; padding: 0cm; font-size: 18px; color: #595959;"></span></p>
    <p><span class="apple-converted-space" style="border: 1pt none windowtext; padding: 0cm; font-size: 18px; color: #595959;"></span></p>
    <p><span class="apple-converted-space" style="border: 1pt none windowtext; padding: 0cm; font-size: 18px; color: #595959;"><strong>HỆ THỐNG CHI NHÁNH CỦA CÔNG TY TNHH VÀNG BẠC ĐÁ QUÝ NGỌC THẪM (NGOC THAM JEWELRY (NTJ))</strong></span></p>
    <p>
        <span class="apple-converted-space" style="border: 1pt none windowtext; padding: 0cm; color: #595959;">
            <br>
            <span style="font-size: 16px;">
                <strong>
                    Chi nhánh 1:
                </strong><br>
            </span>
        </span>
        <span style="font-size: 16px;">
            <span style="line-height: 1; font-size: 16px; color: #595959;">
                &nbsp; &nbsp;<strong> Địa chỉ :</strong>25/2 Nguyễn Huỳnh Đức P8-TP.Mỹ Tho -Tiền Giang<br>
            </span>
            <span style="line-height: 1; font-size: 16px; color: #595959;">
                &nbsp; &nbsp; <strong>Điện thoại :</strong>&nbsp;(073) 3 872838<br>
            </span>
            <span style="line-height: 1; font-size: 16px; color: #595959;">
                &nbsp; &nbsp;<strong> Fax:</strong>073.3976723<br>
            </span>
            <span style="line-height: 1; font-size: 16px; color: #595959;">&nbsp; &nbsp; <strong>Website:</strong>&nbsp;</span><span style="line-height: 1; font-size: 16px;">
                <a href="http://ngocthamgold.com.vn/" target="_top" style="text-decoration: none; font-size: 14px; line-height: 1;"><span style="font-size: 16px; color: #ff0000;">www.ngocthamgold.com.vn</span></a><span style="text-decoration: underline;">
                    <br>
                </span>
            </span><span style="line-height: 1; font-size: 16px; color: #595959;">
                &nbsp; &nbsp; <strong>Email: </strong>ngocthamso1@yahoo.com.vn<br>
                <br>
            </span>
            
            <span style="line-height: 1; font-size: 16px; color: #595959;">
                <strong>Chi nhánh 2:&nbsp; &nbsp;</strong><br>
            </span><span style="line-height: 1; font-size: 16px; color: #595959;">
                &nbsp; &nbsp;<strong> Địa chỉ :</strong>Trung Tâm Thương Mại Mỹ Tho<br>
            </span><span style="line-height: 1; font-size: 16px; color: #595959;">
                &nbsp; &nbsp; <strong>Điện thoại :&nbsp;</strong>(073) 3 877858<br>
            </span><span style="line-height: 1; font-size: 16px; color: #595959;">
                &nbsp; &nbsp; <strong>Fax:</strong>073.3885978<br>
            </span><span style="line-height: 1; font-size: 16px; color: #595959;">&nbsp; &nbsp; <strong>Website:</strong>&nbsp;</span><span style="line-height: 1; font-size: 16px;">
                <a href="http://ngocthamgold.com.vn/" target="_top" style="text-decoration: none; font-size: 14px; line-height: 1;"><span style="font-size: 16px; color: #ff0000;">www.ngocthamgold.com.vn</span></a><span style="text-decoration: underline;">
                    <br>
                </span>
            </span><span style="line-height: 1; font-size: 16px; color: #595959;">
                &nbsp; &nbsp; <strong>Email:</strong> ngocthamso1@yahoo.com.vn<br>
                <br>
            </span>
            
            <span style="line-height: 1; font-size: 16px; color: #595959;">
                <strong>Chi nhánh 3: &nbsp;&nbsp;</strong><br>
            </span><span style="line-height: 1; font-size: 16px; color: #595959;">
                &nbsp; &nbsp;<strong> Địa chỉ :</strong>Số 309 Nguyễn Đình Chiểu P5-Quận 3-TP.Hồ Chí Minh<br>
            </span><span style="line-height: 1; font-size: 16px; color: #595959;">
                &nbsp; &nbsp;<strong> Điện thoại :&nbsp;</strong>08.3834637<br>
            </span><span style="line-height: 1; font-size: 16px; color: #595959;">
                &nbsp; &nbsp; <strong>Fax:08.</strong>38342637<br>
            </span><span style="line-height: 1; font-size: 16px; color: #595959;">&nbsp; &nbsp; <strong>Website:</strong></span><span style="line-height: 1; font-size: 16px; color: #ff0000;">&nbsp;</span><span style="line-height: 1; font-size: 16px;">
                <a href="http://ngocthamgold.com.vn/" target="_top" style="text-decoration: none; font-size: 14px; line-height: 1;"><span style="font-size: 16px; color: #ff0000;">www.ngocthamgold.com.vn</span></a><span style="text-decoration: underline;">
                    <br>
                </span>
            </span><span style="line-height: 1; font-size: 16px; color: #595959;">
                &nbsp; &nbsp; <strong>Email:</strong> ngocthamso1@yahoo.com.vn<br>
                <br>
            </span>
            
            <span style="line-height: 1; font-size: 16px; color: #595959;">
                <strong>Chi nhánh 4: &nbsp;&nbsp;</strong><br>
            </span><span style="line-height: 1; font-size: 16px; color: #595959;">
                &nbsp; &nbsp; <strong>Địa chỉ :</strong>Số 160C Lê Thị Hồng Gấm P6-TP.Mỹ Tho -Tiền Giang<br>
            </span><span style="line-height: 1; font-size: 16px; color: #595959;">
                &nbsp; &nbsp; <strong>Điện thoại :</strong>&nbsp;(073) 3 874801<br>
            </span><span style="line-height: 1; font-size: 16px; color: #595959;">
                &nbsp; &nbsp; <strong>Fax:</strong>073.3887334<br>
            </span><span style="line-height: 1; font-size: 16px; color: #595959;">&nbsp; &nbsp; <strong>Website:</strong></span><span style="line-height: 1; font-size: 16px; color: #ff0000;">&nbsp;</span><span style="line-height: 1; font-size: 16px;">
                <a href="http://ngocthamgold.com.vn/" target="_top" style="text-decoration: none; font-size: 14px; line-height: 1;"><span style="font-size: 16px; color: #ff0000;">www.ngocthamgold.com.vn</span></a><span style="text-decoration: underline;">
                    <br>
                </span>
            </span><span style="line-height: 1; font-size: 16px; color: #595959;">
                &nbsp; &nbsp; <strong>Email:</strong> ngocthamso1@yahoo.com.vn<br>
                <br>
            </span>
            
            <span style="line-height: 1; font-size: 16px; color: #595959;">
                <strong>Chi nhánh 6: &nbsp;</strong>&nbsp;<br>
            </span><span style="line-height: 1; font-size: 16px; color: #595959;">
                &nbsp; &nbsp; <strong>Địa chỉ :</strong>Số 35 ẤP Bắc (COOP MART) P5-TP.Mỹ Tho-Tiền Giang<br>
            </span><span style="line-height: 1; font-size: 16px; color: #595959;">
                &nbsp; &nbsp; <strong>Điện thoại :</strong>&nbsp;(073) 3867511<br>
            </span><span style="line-height: 1; font-size: 16px; color: #595959;">
                &nbsp; &nbsp; <strong>Fax:073.</strong>3867511<br>
            </span><span style="line-height: 1; font-size: 16px; color: #595959;">&nbsp; &nbsp; <strong>Website:</strong>&nbsp;</span><span style="line-height: 1; font-size: 16px;">
                <a href="http://ngocthamgold.com.vn/" target="_top" style="text-decoration: none; font-size: 14px; line-height: 1;"><span style="font-size: 16px; color: #ff0000;">www.ngocthamgold.com.vn</span></a><span style="text-decoration: underline;">
                    <br>
                </span>
            </span><span style="line-height: 1; font-size: 16px; color: #595959;">
                &nbsp; &nbsp; <strong>Email:</strong> ngocthamso1@yahoo.com.vn<br>
                <br>
            </span>
            
            <span style="line-height: 1; font-size: 16px; color: #595959;">
                <strong>Chi nhánh 7: </strong>&nbsp;&nbsp;<br>
            </span><span style="line-height: 1; font-size: 16px; color: #595959;">
                &nbsp; &nbsp; <strong>Địa chỉ :</strong>Số 26 Đường 3/2 (COOP MART) Thị Xã Vĩnh Long -Tỉnh Vĩnh Long<br>
            </span><span style="line-height: 1; font-size: 16px; color: #595959;">
                &nbsp; &nbsp; <strong>Điện thoại :</strong>&nbsp;(070)3836730<br>
            </span><span style="line-height: 1; font-size: 16px; color: #595959;">
                &nbsp; &nbsp;<strong> Fax:</strong>070.3836730<br>
            </span><span style="line-height: 1; font-size: 16px; color: #595959;">&nbsp; &nbsp; <strong>Website:</strong>&nbsp;</span><span style="line-height: 1; font-size: 16px;">
                <a href="http://ngocthamgold.com.vn/" target="_top" style="text-decoration: none; font-size: 14px; line-height: 1;"><span style="font-size: 16px; color: #ff0000;">www.ngocthamgold.com.vn</span></a><span style="text-decoration: underline;">
                    <br>
                </span>
            </span><span style="line-height: 1; font-size: 16px; color: #595959;">
                &nbsp; &nbsp; <strong>Email:</strong> ngocthamso1@yahoo.com.vn<br>
                <br>
            </span>
            
            <span style="line-height: 1; font-size: 16px; color: #595959;">
                <strong>Chi nhánh 8: &nbsp;&nbsp;</strong><br>
            </span><span style="line-height: 1; font-size: 16px; color: #595959;">
                &nbsp; &nbsp; <strong>Địa chỉ :</strong>Số 12 Nguyễn Huệ(COOP MART) Phường Mỹ Long-TP.Long Xuyên -Tỉnh An Giang<br>
            </span><span style="line-height: 1; font-size: 16px; color: #595959;">
                &nbsp; &nbsp; <strong>Điện thoại :&nbsp;</strong>(076) 3940017<br>
            </span><span style="line-height: 1; font-size: 16px; color: #595959;">
                &nbsp; &nbsp; <strong>Fax:</strong>076.3940017<br>
            </span><span style="line-height: 1; font-size: 16px; color: #595959;">&nbsp; &nbsp; <strong>Website:</strong>&nbsp;</span><span style="line-height: 1; font-size: 16px;">
                <a href="http://ngocthamgold.com.vn/" target="_top" style="text-decoration: none; font-size: 14px; line-height: 1;"><span style="font-size: 16px; color: #ff0000;">www.ngocthamgold.com.vn</span></a><span style="text-decoration: underline;">
                    <br>
                </span>
            </span><span style="line-height: 1; font-size: 16px; color: #595959;">
                &nbsp; &nbsp; <strong>Email:</strong> ngocthamso1@yahoo.com.vn<br>
                <br>
            </span>
            
            <span style="line-height: 1; font-size: 16px; color: #595959;">
                <strong>Chi nhánh 9: &nbsp;</strong>&nbsp;<br>
            </span><span style="line-height: 1; font-size: 16px; color: #595959;">
                &nbsp; &nbsp; <strong>Địa chỉ :</strong>Số 24 Ngô Quyền Phường Tân An Quận Ninh Kiều -TP.Cần Thơ<br>
            </span><span style="line-height: 1; font-size: 16px; color: #595959;">
                &nbsp; &nbsp; <strong>Điện thoại :</strong>&nbsp;(0710)3817686<br>
            </span><span style="line-height: 1; font-size: 16px; color: #595959;">
                &nbsp; &nbsp; <strong>Fax:</strong>0710.3817721<br>
            </span><span style="line-height: 1; font-size: 16px; color: #595959;">&nbsp; &nbsp; <strong>Website:</strong></span><span style="line-height: 1; font-size: 16px; color: #ff0000;">&nbsp;</span><span style="line-height: 1; font-size: 16px;">
                <a href="http://ngocthamgold.com.vn/" target="_top" style="text-decoration: none; font-size: 14px; line-height: 1;"><span style="font-size: 16px; color: #ff0000;">www.ngocthamgold.com.vn</span></a><span style="text-decoration: underline;">
                    <br>
                </span>
            </span><span style="line-height: 1; font-size: 16px; color: #595959;">
                &nbsp; <strong>&nbsp; Email:</strong> ngocthamso1@yahoo.com.vn<br>
                <br>
            </span>
            
            <span style="line-height: 1; font-size: 16px; color: #595959;">
                <strong>Chi nhánh 10:</strong> &nbsp;&nbsp;<br>
            </span><span style="line-height: 1; font-size: 16px; color: #595959;">
                &nbsp; &nbsp; <strong>Địa chỉ :</strong>Số 13A1 TTTM Cái Khế,Đường Trần Phú P.Cái Khế,Quận Ninh Kiều,TP.Cần Thơ<br>
            </span><span style="line-height: 1; font-size: 16px; color: #595959;">
                &nbsp; &nbsp; <strong>Điện thoại :&nbsp;</strong>(0710)33769399<br>
            </span><span style="line-height: 1; font-size: 16px; color: #595959;">
                &nbsp; &nbsp;<strong> Fax:</strong>0710.33769399<br>
            </span><span style="line-height: 1; font-size: 16px; color: #595959;">&nbsp; &nbsp; <strong>Website:</strong></span><span style="line-height: 1; font-size: 16px; color: #ff0000;"><strong>&nbsp;</strong></span><span style="line-height: 1; font-size: 16px;">
                <a href="http://ngocthamgold.com.vn/" target="_top" style="text-decoration: none; font-size: 14px; line-height: 1;"><span style="font-size: 16px; color: #ff0000;">www.ngocthamgold.com.vn</span></a><span style="text-decoration: underline;">
                    <br>
                </span>
            </span><span style="line-height: 1; font-size: 16px; color: #595959;">
                &nbsp; &nbsp;<strong> Email:</strong> ngocthamso1@yahoo.com.vn<br>
                <br>
            </span>
            
            <span style="line-height: 1; font-size: 16px; color: #595959;">
                <strong>Chi nhánh 11: &nbsp;</strong>&nbsp;<br>
            </span><span style="line-height: 1; font-size: 16px; color: #595959;">
                &nbsp; &nbsp; <strong>Địa chỉ :</strong>Số 15 Nguyễn Huệ-P.Mỹ Long-TP.Long Xuyên-Tỉnh An Giang<br>
            </span><span style="line-height: 1; font-size: 16px; color: #595959;">
                &nbsp; &nbsp; <strong>Điện thoại :</strong>&nbsp;(076)3940821<br>
            </span><span style="line-height: 1; font-size: 16px; color: #595959;">
                &nbsp; &nbsp; <strong>Fax:</strong>076.3940821<br>
            </span><span style="line-height: 1; font-size: 16px; color: #595959;">&nbsp; &nbsp; <strong>Website:</strong>&nbsp;</span><span style="line-height: 1; font-size: 16px;">
                <a href="http://ngocthamgold.com.vn/" target="_top" style="text-decoration: none; font-size: 14px; line-height: 1;"><span style="font-size: 16px; color: #ff0000;">www.ngocthamgold.com.vn</span></a><span style="text-decoration: underline;">
                    <br>
                </span>
            </span><span style="line-height: 1; font-size: 16px; color: #595959;">&nbsp; &nbsp; <strong>Email:</strong> ngocthamso1@yahoo.com.vn</span>
        </span>
    </p>
    <p><span style="font-size: 14px; border: 1pt none windowtext; padding: 0cm; color: #595959;">&nbsp;</span></p>
    <p><span class="apple-converted-space" style="border: 1pt none windowtext; padding: 0cm; font-size: 18px; color: #595959;"></span></p>

</div>