@{
    ViewBag.Title = "Thành tựu";
}

@section Slide {
   <link href="@Url.Content("~/Content/css/default.css")" rel="stylesheet" type="text/css" />
}

<h2 class="owl-featured margin-bottom-30 margin-top20"><strong>Thành Tựu</strong> Của Công Ty</h2>

<div class="newsdt-content">
    <span style="font-size: 16px;">Ngọc Thẫm cũng đã vinh dự đạt được chứng nhận hàng Việt Nam chất lượng cao năm 2002,2005,2006.Cúp vàng thương hiệu-nhãn hiệu 2005,2007.Đặc biệt,trong năm 2012,Ngọc Thẫm là một trong số ít doanh nghiệp trong cả nước đủ điều kiện được ngân hàng nhà nước cấp phép kinh doanh vàng miếng.</span><br>
</div>


