@{
    ViewBag.Title = "News Gold";
}

@section Slide {

}

@section Styles {
    @*<link href="@Url.Content("~/Self/branches/css/default.css")" rel="stylesheet" type="text/css" />*@
}

@section Scripts {

}

@section PageTitle {
    @*<section class="page-title">
            <div class="container">

                <header>

                    <ul class="breadcrumb">
                        <!-- breadcrumb -->
                        <li><a href="page-empty.html#">Trang Chủ</a></li>
                        <li class="active">Trang hiện tại</li>
                    </ul><!-- /breadcrumb -->

                    <h2>
                        <!-- Page Title -->
                        Trang <strong>Hiện Tại</strong>
                    </h2><!-- /Page Title -->

                </header>

            </div>
        </section>*@
}

@section Modal {
    <!-- modal dialog -->
    <div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <!-- modal header -->
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Default Modal</h4>
                </div><!-- /modal header -->
                <!-- modal body -->
                <div class="modal-body">
                    <form>
                        <label>Username</label>
                        <input type="text" name="username" class="form-control">
                    </form>
                </div>
                <!-- /modal body -->

                <div class="modal-footer">
                    <!-- modal footer -->
                    <button class="btn btn-default" data-dismiss="modal">Close</button> <button class="btn btn-primary">Save changes</button>
                </div><!-- /modal footer -->

            </div>
        </div>
    </div>

}

<h2 class="owl-featured">TIN TÀI CHÍNH THẾ GIỚI</h2>
