@{
    ViewBag.Title = "News";
}

<h2 class="owl-featured margin-bottom-30 padding-top20"><strong>Tin Tức</strong></h2>

<div id="blog" class="row">

    <!-- BLOG SIDEBAR -->
    <div class="col-md-3 col-sm-3">

        <!-- blog search -->
        <div class="widget">
            <form method="get" action="blog-sidebar-left.html#" class="input-group">
                <input type="text" class="form-control" name="s" value="" placeholder="Blog Search" />
                <span class="input-group-btn">
                    <button class="btn btn-primary"><i class="fa fa-search"></i></button>
                </span>
            </form>
        </div>

        <!-- RECENT,POPULAR -->
        <div class="widget">

            <!-- TABS -->
            <div class="tabs nomargin-top">

                <!-- tabs -->
                <ul class="nav nav-tabs nav-justified">
                    <li class="active">
                        <a href="blog-sidebar-left.html#tab1" data-toggle="tab">
                            Nổi bật
                        </a>
                    </li>
                    <li>
                        <a href="blog-sidebar-left.html#tab2" data-toggle="tab">
                            Mới nhất
                        </a>
                    </li>
                </ul>

                <!-- tabs content -->
                <div class="tab-content">
                    <div id="tab1" class="tab-pane active">
                        <ul>
                            <li><a href="blog-single-sidebar.html"><i class="fa fa-sign-out"></i> Tin tức 01</a> <small>08/08/2014</small></li>
                            <li><a href="blog-single-sidebar.html"><i class="fa fa-sign-out"></i> Tin tức 02</a> <small>08/08/2014</small></li>
                            <li><a href="blog-single-sidebar.html"><i class="fa fa-sign-out"></i> Tin tức 03</a> <small>08/08/2014</small></li>
                            <li><a href="blog-single-sidebar.html"><i class="fa fa-sign-out"></i> Tin tức 04</a> <small>08/08/2014</small></li>
                            <li><a href="blog-single-sidebar.html"><i class="fa fa-sign-out"></i> Tin tức 05</a> <small>08/08/2014</small></li>
                        </ul>
                    </div>

                    <div id="tab2" class="tab-pane">
                        <!-- tab content -->
                        <ul>
                            <li><a href="blog-single-sidebar.html"><i class="fa fa-sign-out"></i> Tin tức 06</a> <small>08/08/2014</small></li>
                            <li><a href="blog-single-sidebar.html"><i class="fa fa-sign-out"></i> Tin tức 07</a> <small>08/08/2014</small></li>
                            <li><a href="blog-single-sidebar.html"><i class="fa fa-sign-out"></i> Tin tức 08</a> <small>08/08/2014</small></li>
                            <li><a href="blog-single-sidebar.html"><i class="fa fa-sign-out"></i> Tin tức 09</a> <small>08/08/2014</small></li>
                            <li><a href="blog-single-sidebar.html"><i class="fa fa-sign-out"></i> Tin tức 10</a> <small>08/08/2014</small></li>
                        </ul>
                    </div>
                </div>

            </div>
            <!-- /TABS -->

        </div>
        <!-- /RECENT,POPULAR -->
        <!-- categories -->
        <div class="widget">
            <h4>DANH MỤC TIN TỨC</h4>

            <ul class="nav nav-list">
                <li><a href="#"><i class="fa fa-angle-right"></i> Danh mục 01</a></li>
                <li><a href="#"><i class="fa fa-angle-right"></i> Danh mục 02</a></li>
                <li><a href="#"><i class="fa fa-angle-right"></i> Danh mục 03</a></li>
                <li><a href="#"><i class="fa fa-angle-right"></i> Danh mục 04</a></li>
                <li><a href="#"><i class="fa fa-angle-right"></i> Danh mục 05</a></li>
            </ul>
        </div>

        <!-- tags -->
        <div class="widget">
            <h4>TAGS</h4>
            <a class="tag label label-default light" href="blog-sidebar-left.html#"><i class="fa fa-tags"></i> Vàng</a>
            <a class="tag label label-default light" href="blog-sidebar-left.html#"><i class="fa fa-tags"></i> Bạc</a>
            <a class="tag label label-default light" href="blog-sidebar-left.html#"><i class="fa fa-tags"></i> Đá Quý</a>
            <a class="tag label label-default light" href="blog-sidebar-left.html#"><i class="fa fa-tags"></i> Nhẫn</a>
            <a class="tag label label-default light" href="blog-sidebar-left.html#"><i class="fa fa-tags"></i> Kim cương</a>
        </div>


    </div>
    <!-- /BLOG SIDEBAR -->
    <!-- BLOG ARTICLE LIST -->
    <div class="col-md-9 col-sm-9">

        <!-- article - image -->
        <div class="prev-article row">

            <div class="col-md-9 col-sm-9">

                <h2 class="article-title"><a href="blog-single-sidebar.html">This is an <span>Image Post</span></a></h2>

                <!-- image -->
                <figure>
                    <a href="blog-single-sidebar.html">
                        <img src="assets/images/demo/about_1.jpg" class="img-responsive" alt="blog" />
                    </a>
                </figure>

                <!-- blog short preview -->
                <p>
                    Praesent augue arcu, ornare ut tincidunt eu, mattis a libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In elit purus, ullamcorper vel luctus vitae, venenatis eu odio. Vivamus tincidunt, urna quis consectetur venenatis, quam urna tincidunt mi, quis convallis enim dolor sed elit. Pellentesque ultricies congue lacus, eget elementum erat lobortis et. Sed non velit neque.
                </p>

                <!-- read more button -->
                <div class="text-right">
                    <a href="blog-single-sidebar.html" class="read-more btn btn-xs"><i class="fa fa-sign-out"></i> READ MORE</a>
                </div>

            </div>

            <div class="blog-prev-date text-left col-md-3 col-sm-3">
                <span class="date">
                    29 <small>JUN 2014</small>
                </span>
                <span class="info hidden-xs">
                    <span class="block"><i class="fa fa-user"></i> BY <a href="blog-without-sidebar.html">ADMIN</a></span>
                    <span class="block"><i class="fa fa-folder-open-o"></i> POSTED IN <a href="http://theme.stepofweb.com/Epona/v1.0/HTML/blog.html">UNCATEGORIZED</a></span>
                    <span class="block"><i class="fa fa-comments"></i> WITH <a href="blog-single-sidebar.html#comments">3 COMMENTS</a></span>
                    <span class="block"><i class="fa fa-link"></i> <a href="blog-single-sidebar.html">PERMALINK</a></span>
                </span>
            </div>

        </div>
        <!-- /article - image -->
        <!-- article - gallery -->
        <div class="prev-article row">

            <div class="col-md-9 col-sm-9">

                <h2 class="article-title"><a href="blog-single-sidebar.html">This is a <span>Gallery Post</span></a></h2>

                <!-- carousel -->
                <div class="owl-carousel text-center controlls-over" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": true, "autoPlay": true, "transitionStyle":"fadeUp"}'>
                    <!-- transitionStyle: fade, backSlide, goDown, fadeUp,  -->
                    <div class="item">
                        <img src="assets/images/demo/about_2.jpg" class="img-responsive" alt="img" />
                    </div>
                    <div class="item">
                        <img src="assets/images/demo/about_1.jpg" class="img-responsive" alt="img" />
                    </div>
                </div>
                <!-- /carousel -->
                <!-- blog short preview -->
                <p>
                    Praesent augue arcu, ornare ut tincidunt eu, mattis a libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In elit purus, ullamcorper vel luctus vitae, venenatis eu odio. Vivamus tincidunt, urna quis consectetur venenatis, quam urna tincidunt mi, quis convallis enim dolor sed elit. Pellentesque ultricies congue lacus, eget elementum erat lobortis et. Sed non velit neque.
                </p>

                <!-- read more button -->
                <div class="text-right">
                    <a href="blog-single-sidebar.html" class="read-more btn btn-xs"><i class="fa fa-sign-out"></i> READ MORE</a>
                </div>

            </div>

            <div class="blog-prev-date text-left col-md-3 col-sm-3">
                <span class="date">
                    29 <small>JUN 2014</small>
                </span>
                <span class="info hidden-xs">
                    <span class="block"><i class="fa fa-user"></i> BY <a href="blog-without-sidebar.html">ADMIN</a></span>
                    <span class="block"><i class="fa fa-folder-open-o"></i> POSTED IN <a href="http://theme.stepofweb.com/Epona/v1.0/HTML/blog.html">UNCATEGORIZED</a></span>
                    <span class="block"><i class="fa fa-comments"></i> WITH <a href="blog-single-sidebar.html#comments">3 COMMENTS</a></span>
                    <span class="block"><i class="fa fa-link"></i> <a href="blog-single-sidebar.html">PERMALINK</a></span>
                </span>
            </div>

        </div>
        <!-- /article - gallery -->
        <!-- article - video -->
        <div class="prev-article row">

            <div class="col-md-9 col-sm-9">

                <h2 class="article-title"><a href="blog-single-sidebar.html">This is a <span>Video Post</span></a></h2>

                <!-- video -->
                <figure class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="../../../player.vimeo.com/video/93972085_3.htm" width="800" height="450"></iframe>
                </figure>

                <!-- blog short preview -->
                <p>
                    Praesent augue arcu, ornare ut tincidunt eu, mattis a libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In elit purus, ullamcorper vel luctus vitae, venenatis eu odio. Vivamus tincidunt, urna quis consectetur venenatis, quam urna tincidunt mi, quis convallis enim dolor sed elit. Pellentesque ultricies congue lacus, eget elementum erat lobortis et. Sed non velit neque.
                </p>

                <!-- read more button -->
                <div class="text-right">
                    <a href="blog-single-sidebar.html" class="read-more btn btn-xs"><i class="fa fa-sign-out"></i> READ MORE</a>
                </div>

            </div>

            <div class="blog-prev-date text-left col-md-3 col-sm-3">
                <span class="date">
                    03 <small>JUL 2014</small>
                </span>
                <span class="info hidden-xs">
                    <span class="block"><i class="fa fa-user"></i> BY <a href="blog-without-sidebar.html">ADMIN</a></span>
                    <span class="block"><i class="fa fa-folder-open-o"></i> POSTED IN <a href="http://theme.stepofweb.com/Epona/v1.0/HTML/blog.html">UNCATEGORIZED</a></span>
                    <span class="block"><i class="fa fa-comments"></i> WITH <a href="blog-single-sidebar.html#comments">3 COMMENTS</a></span>
                    <span class="block"><i class="fa fa-link"></i> <a href="blog-single-sidebar.html">PERMALINK</a></span>
                </span>
            </div>

        </div>
        <!-- /article - video -->
        <!-- article - text -->
        <div class="prev-article row">

            <div class="col-md-9 col-sm-9">

                <h2 class="article-title"><a href="blog-single-sidebar.html">Simple Blog Post <span>Text Only</span></a></h2>

                <!-- blog short preview -->
                <p>
                    Praesent augue arcu, ornare ut tincidunt eu, mattis a libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In elit purus, ullamcorper vel luctus vitae, venenatis eu odio. Vivamus tincidunt, urna quis consectetur venenatis, quam urna tincidunt mi, quis convallis enim dolor sed elit. Pellentesque ultricies congue lacus, eget elementum erat lobortis et. Sed non velit neque.
                </p>

                <!-- read more button -->
                <div class="text-right">
                    <a href="blog-single-sidebar.html" class="read-more btn btn-xs"><i class="fa fa-sign-out"></i> READ MORE</a>
                </div>

            </div>

            <div class="blog-prev-date text-left col-md-3 col-sm-3">
                <span class="date">
                    12 <small>JUL 2014</small>
                </span>
                <span class="info hidden-xs">
                    <span class="block"><i class="fa fa-user"></i> BY <a href="blog-without-sidebar.html">ADMIN</a></span>
                    <span class="block"><i class="fa fa-folder-open-o"></i> POSTED IN <a href="http://theme.stepofweb.com/Epona/v1.0/HTML/blog.html">UNCATEGORIZED</a></span>
                    <span class="block"><i class="fa fa-comments"></i> WITH <a href="blog-single-sidebar.html#comments">3 COMMENTS</a></span>
                    <span class="block"><i class="fa fa-link"></i> <a href="blog-single-sidebar.html">PERMALINK</a></span>
                </span>
            </div>

        </div>
        <!-- /article - text -->
        <!-- article - audio -->
        <div class="prev-article row">

            <div class="col-md-9 col-sm-9">

                <h2 class="article-title"><a href="blog-single-sidebar.html">This is an <span>Audio Post</span></a></h2>

                <!-- audio -->
                <figure>
                    <iframe class="fullwidth" height="166" src="../../../w.soundcloud.com/player/player.html"></iframe>
                </figure>


                <!-- blog short preview -->
                <p>
                    Praesent augue arcu, ornare ut tincidunt eu, mattis a libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In elit purus, ullamcorper vel luctus vitae, venenatis eu odio. Vivamus tincidunt, urna quis consectetur venenatis, quam urna tincidunt mi, quis convallis enim dolor sed elit. Pellentesque ultricies congue lacus, eget elementum erat lobortis et. Sed non velit neque.
                </p>

                <!-- read more button -->
                <div class="text-right">
                    <a href="blog-single-sidebar.html" class="read-more btn btn-xs"><i class="fa fa-sign-out"></i> READ MORE</a>
                </div>

            </div>

            <div class="blog-prev-date text-left col-md-3 col-sm-3">
                <span class="date">
                    18 <small>JUL 2014</small>
                </span>
                <span class="info hidden-xs">
                    <span class="block"><i class="fa fa-user"></i> BY <a href="blog-without-sidebar.html">ADMIN</a></span>
                    <span class="block"><i class="fa fa-folder-open-o"></i> POSTED IN <a href="http://theme.stepofweb.com/Epona/v1.0/HTML/blog.html">UNCATEGORIZED</a></span>
                    <span class="block"><i class="fa fa-comments"></i> WITH <a href="blog-single-sidebar.html#comments">3 COMMENTS</a></span>
                    <span class="block"><i class="fa fa-link"></i> <a href="blog-single-sidebar.html">PERMALINK</a></span>
                </span>
            </div>

        </div>
        <!-- /article - audio -->
        <!-- pagination -->
        <div class="text-center">

            <ul class="pagination">
                <li class="disabled"><a href="blog-sidebar-left.html#">&laquo;</a></li>
                <li class="active"><a href="blog-sidebar-left.html#">1 <span class="sr-only">(current)</span></a></li>
                <li><a href="blog-sidebar-left.html#">2</a></li>
                <li><a href="blog-sidebar-left.html#">3</a></li>
                <li><a href="blog-sidebar-left.html#">4</a></li>
                <li><a href="blog-sidebar-left.html#">5</a></li>
                <li><a href="blog-sidebar-left.html#">&raquo;</a></li>
            </ul>

        </div>
        <!-- /pagination -->


    </div>
    <!-- /BLOG ARTICLE LIST -->

</div>