CREATE DATABASE GJS

GO

USE [GJS]
GO
/****** Object:  Table [dbo].[D_ORDER_DETAIL]    Script Date: 8/4/2014 11:10:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_ORDER_DETAIL](
	[ORDER_DETAIL_CD] [bigint] IDENTITY(1,1) NOT NULL,
	[ORDER_CD] [bigint] NULL,
	[PRODUCT_CD] [bigint] NULL,
	[QUANTITY] [bigint] NULL,
	[PRICE] [decimal](18, 0) NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_D_ORDER_DETAIL] PRIMARY KEY CLUSTERED 
(
	[ORDER_DETAIL_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[D_PRODUCT_DETAIL]    Script Date: 8/4/2014 11:10:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_PRODUCT_DETAIL](
	[PRODUCT_DETAIL_CD] [bigint] IDENTITY(1,1) NOT NULL,
	[PRODUCT_CD] [bigint] NULL,
	[URL_IMAGE] [nvarchar](max) NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_D_PRODUCT] PRIMARY KEY CLUSTERED 
(
	[PRODUCT_DETAIL_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[M_EMPLOYEE]    Script Date: 8/4/2014 11:10:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_EMPLOYEE](
	[EMPLOYEE_CD] [bigint] IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_CODE] [nvarchar](50) NULL,
	[EMPLOYEE_NAME] [nvarchar](max) NULL,
	[ADDRESS] [nvarchar](max) NULL,
	[EMAIL] [nvarchar](max) NULL,
	[BIRTHDAY] [datetime] NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_M_EMPLOYEE] PRIMARY KEY CLUSTERED 
(
	[EMPLOYEE_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[M_PAGE]    Script Date: 8/4/2014 11:10:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_PAGE](
	[PAGE_COTRACT_CD] [bigint] IDENTITY(1,1) NOT NULL,
	[PAGE_COTRACT_TITLE] [nvarchar](max) NULL,
	[PAGE_COTRACT_CONTENT] [nvarchar](max) NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_M_PAGE_CONTRACT] PRIMARY KEY CLUSTERED 
(
	[PAGE_COTRACT_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[O_BRANCH]    Script Date: 8/4/2014 11:10:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[O_BRANCH](
	[BRANCH_CD] [bigint] IDENTITY(1,1) NOT NULL,
	[BRANCH_CODE] [nvarchar](50) NULL,
	[BRANCH_NAME] [nvarchar](max) NULL,
	[CITIES_CD] [bigint] NULL,
	[ADDRESS] [nvarchar](max) NULL,
	[LONGITUDE] [nvarchar](max) NULL,
	[LATITUDE] [nvarchar](max) NULL,
	[PHONE] [varchar](50) NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_O_BRANCH] PRIMARY KEY CLUSTERED 
(
	[BRANCH_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[O_CATEGORY_NEWS]    Script Date: 8/4/2014 11:10:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[O_CATEGORY_NEWS](
	[CATEGORY_NEWS_CD] [bigint] NOT NULL,
	[CATEGORY_NEWS_CODE] [nvarchar](50) NULL,
	[CATEGORY_NEWS_NAME] [nvarchar](max) NULL,
	[TAG_ALT] [nvarchar](max) NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_O_CATEGORY_NEWS] PRIMARY KEY CLUSTERED 
(
	[CATEGORY_NEWS_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[O_CATEGORY_PAGE]    Script Date: 8/4/2014 11:10:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[O_CATEGORY_PAGE](
	[CATEGORY_PAGE_CD] [bigint] NOT NULL,
	[CATEGORY_PAGE_CODE] [nvarchar](50) NULL,
	[CATEGORY_PAGE_NAME] [nvarchar](max) NULL,
	[TAG_ALT] [nvarchar](max) NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_O_CATEGORY_PAGE] PRIMARY KEY CLUSTERED 
(
	[CATEGORY_PAGE_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[O_CATEGORY_PRODUCT]    Script Date: 8/4/2014 11:10:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[O_CATEGORY_PRODUCT](
	[CATEGORY_PRODUCT_CD] [bigint] IDENTITY(1,1) NOT NULL,
	[CATEGORY_PRODUCT_CODE] [nvarchar](50) NULL,
	[CATEGORY_PRODUCT_NAME] [nvarchar](max) NULL,
	[TAG_ALT] [nvarchar](max) NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_O_CATEGORY] PRIMARY KEY CLUSTERED 
(
	[CATEGORY_PRODUCT_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[O_CITIES]    Script Date: 8/4/2014 11:10:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[O_CITIES](
	[CITIES_CD] [bigint] IDENTITY(1,1) NOT NULL,
	[CITIES_CODE] [nvarchar](50) NULL,
	[CITIES_NAME] [nvarchar](max) NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_O_CITIES] PRIMARY KEY CLUSTERED 
(
	[CITIES_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[O_CUSTOMER]    Script Date: 8/4/2014 11:10:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[O_CUSTOMER](
	[CUSTOMER_CD] [bigint] IDENTITY(1,1) NOT NULL,
	[CUSTOMER_CODE] [nvarchar](50) NULL,
	[CUSTOMER_NAME] [nvarchar](max) NULL,
	[ADDRESS] [nvarchar](max) NULL,
	[EMAIL] [nvarchar](max) NULL,
	[BIRTHDAY] [datetime] NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_O_CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[CUSTOMER_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[O_NEWS]    Script Date: 8/4/2014 11:10:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[O_NEWS](
	[NEWS_CD] [bigint] IDENTITY(1,1) NOT NULL,
	[NEWS_TITLE] [nvarchar](max) NULL,
	[NEWS_CONTENT] [nvarchar](max) NULL,
	[IMAGE_NEWS] [nvarchar](max) NULL,
	[CATEGORY_NEWS_CD] [bigint] NULL,
	[TAG_ALT] [bigint] NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_O_NEWS] PRIMARY KEY CLUSTERED 
(
	[NEWS_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[O_ORDER]    Script Date: 8/4/2014 11:10:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[O_ORDER](
	[ORDER_CD] [bigint] IDENTITY(1,1) NOT NULL,
	[ORDER_CODE] [nvarchar](50) NULL,
	[ORDER_CONTENT] [nvarchar](max) NULL,
	[EMPLOYEE_CD] [bigint] NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_O_ORDER] PRIMARY KEY CLUSTERED 
(
	[ORDER_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[O_PRODUCT]    Script Date: 8/4/2014 11:10:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[O_PRODUCT](
	[PRODUCT_CD] [bigint] IDENTITY(1,1) NOT NULL,
	[PRODUCT_CODE] [nvarchar](50) NULL,
	[PRODUCT_NAME] [nvarchar](max) NULL,
	[PRODUCT_TITLE] [nvarchar](max) NULL,
	[PRODUCT_CONTENT] [nvarchar](max) NULL,
	[CATEGORY_PRODUCT_CD] [bigint] NULL,
	[QUANTITY] [bigint] NULL,
	[PRICE] [decimal](18, 0) NULL,
	[TAG_ALT] [nvarchar](max) NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_O_PRODUCT] PRIMARY KEY CLUSTERED 
(
	[PRODUCT_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[O_SEO]    Script Date: 8/4/2014 11:10:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[O_SEO](
	[CD] [bigint] IDENTITY(1,1) NOT NULL,
	[HREF_ICON] [nvarchar](max) NULL,
	[TITILE] [nvarchar](max) NULL,
	[META_DES] [nvarchar](max) NULL,
	[META_KEYWORDS] [nvarchar](max) NULL,
	[META_ROBOTS] [nvarchar](max) NULL,
	[META_REVISIT] [nvarchar](max) NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_O_SEO] PRIMARY KEY CLUSTERED 
(
	[CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[O_USER_CUSTOMER]    Script Date: 8/4/2014 11:10:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[O_USER_CUSTOMER](
	[CD] [bigint] IDENTITY(1,1) NOT NULL,
	[USER_CD] [bigint] NULL,
	[CUSTOMER_CD] [bigint] NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_O_USER_CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[O_USER_EMPLOYEE]    Script Date: 8/4/2014 11:10:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[O_USER_EMPLOYEE](
	[CD] [bigint] IDENTITY(1,1) NOT NULL,
	[USER_CD] [bigint] NULL,
	[EMPLOYEE_CD] [bigint] NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_O_USER_EMPLOYEE] PRIMARY KEY CLUSTERED 
(
	[CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[O_USER_PST]    Script Date: 8/4/2014 11:10:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[O_USER_PST](
	[CD] [bigint] NOT NULL,
	[USER_CD] [bigint] NULL,
	[PST_CD] [bigint] NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_O_USER_PST] PRIMARY KEY CLUSTERED 
(
	[CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[S_PST]    Script Date: 8/4/2014 11:10:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[S_PST](
	[PST_CD] [bigint] IDENTITY(1,1) NOT NULL,
	[PST_CODE] [nvarchar](50) NULL,
	[PST_NAME] [nvarchar](max) NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_S_PST] PRIMARY KEY CLUSTERED 
(
	[PST_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[S_USER]    Script Date: 8/4/2014 11:10:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[S_USER](
	[USER_CD] [bigint] IDENTITY(1,1) NOT NULL,
	[USER_NAME] [varchar](max) NULL,
	[USER_PASS] [varchar](50) NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_M_USER] PRIMARY KEY CLUSTERED 
(
	[USER_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[W_PRODUCT]    Script Date: 8/4/2014 11:10:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[W_PRODUCT](
	[CD] [bigint] IDENTITY(1,1) NOT NULL,
	[PRODUCT_CD] [bigint] NULL,
	[QUANTITY] [bigint] NULL,
	[STATUS] [bigint] NULL,
	[ACTIVE] [bit] NULL,
	[CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_W_PRODUCT] PRIMARY KEY CLUSTERED 
(
	[CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[D_ORDER_DETAIL] ADD  CONSTRAINT [DF_D_ORDER_DETAIL_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[D_ORDER_DETAIL] ADD  CONSTRAINT [DF_D_ORDER_DETAIL_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[D_ORDER_DETAIL] ADD  CONSTRAINT [DF_D_ORDER_DETAIL_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[D_PRODUCT_DETAIL] ADD  CONSTRAINT [DF_D_PRODUCT_DETAIL_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[D_PRODUCT_DETAIL] ADD  CONSTRAINT [DF_D_PRODUCT_DETAIL_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[D_PRODUCT_DETAIL] ADD  CONSTRAINT [DF_D_PRODUCT_DETAIL_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[M_EMPLOYEE] ADD  CONSTRAINT [DF_M_EMPLOYEE_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[M_EMPLOYEE] ADD  CONSTRAINT [DF_M_EMPLOYEE_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[M_EMPLOYEE] ADD  CONSTRAINT [DF_M_EMPLOYEE_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[M_PAGE] ADD  CONSTRAINT [DF_M_PAGE_CONTRACT_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[M_PAGE] ADD  CONSTRAINT [DF_M_PAGE_CONTRACT_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[M_PAGE] ADD  CONSTRAINT [DF_M_PAGE_CONTRACT_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[O_BRANCH] ADD  CONSTRAINT [DF_O_BRANCH_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[O_BRANCH] ADD  CONSTRAINT [DF_O_BRANCH_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[O_BRANCH] ADD  CONSTRAINT [DF_O_BRANCH_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[O_CATEGORY_NEWS] ADD  CONSTRAINT [DF_O_CATEGORY_NEWS_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[O_CATEGORY_NEWS] ADD  CONSTRAINT [DF_O_CATEGORY_NEWS_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[O_CATEGORY_NEWS] ADD  CONSTRAINT [DF_O_CATEGORY_NEWS_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[O_CATEGORY_PAGE] ADD  CONSTRAINT [DF_O_CATEGORY_PAGE_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[O_CATEGORY_PAGE] ADD  CONSTRAINT [DF_O_CATEGORY_PAGE_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[O_CATEGORY_PAGE] ADD  CONSTRAINT [DF_O_CATEGORY_PAGE_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[O_CATEGORY_PRODUCT] ADD  CONSTRAINT [DF_O_CATEGORY_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[O_CATEGORY_PRODUCT] ADD  CONSTRAINT [DF_O_CATEGORY_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[O_CATEGORY_PRODUCT] ADD  CONSTRAINT [DF_O_CATEGORY_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[O_CITIES] ADD  CONSTRAINT [DF_O_CITIES_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[O_CITIES] ADD  CONSTRAINT [DF_O_CITIES_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[O_CITIES] ADD  CONSTRAINT [DF_O_CITIES_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[O_CUSTOMER] ADD  CONSTRAINT [DF_O_CUSTOMER_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[O_CUSTOMER] ADD  CONSTRAINT [DF_O_CUSTOMER_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[O_CUSTOMER] ADD  CONSTRAINT [DF_O_CUSTOMER_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[O_NEWS] ADD  CONSTRAINT [DF_O_NEWS_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[O_NEWS] ADD  CONSTRAINT [DF_O_NEWS_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[O_NEWS] ADD  CONSTRAINT [DF_O_NEWS_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[O_ORDER] ADD  CONSTRAINT [DF_O_ORDER_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[O_ORDER] ADD  CONSTRAINT [DF_O_ORDER_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[O_ORDER] ADD  CONSTRAINT [DF_O_ORDER_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[O_PRODUCT] ADD  CONSTRAINT [DF_O_PRODUCT_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[O_PRODUCT] ADD  CONSTRAINT [DF_O_PRODUCT_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[O_PRODUCT] ADD  CONSTRAINT [DF_O_PRODUCT_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[O_SEO] ADD  CONSTRAINT [DF_O_SEO_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[O_SEO] ADD  CONSTRAINT [DF_O_SEO_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[O_SEO] ADD  CONSTRAINT [DF_O_SEO_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[O_USER_CUSTOMER] ADD  CONSTRAINT [DF_O_USER_CUSTOMER_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[O_USER_CUSTOMER] ADD  CONSTRAINT [DF_O_USER_CUSTOMER_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[O_USER_CUSTOMER] ADD  CONSTRAINT [DF_O_USER_CUSTOMER_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[O_USER_EMPLOYEE] ADD  CONSTRAINT [DF_O_USER_EMPLOYEE_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[O_USER_EMPLOYEE] ADD  CONSTRAINT [DF_O_USER_EMPLOYEE_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[O_USER_EMPLOYEE] ADD  CONSTRAINT [DF_O_USER_EMPLOYEE_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[O_USER_PST] ADD  CONSTRAINT [DF_O_USER_PST_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[O_USER_PST] ADD  CONSTRAINT [DF_O_USER_PST_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[O_USER_PST] ADD  CONSTRAINT [DF_O_USER_PST_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[S_PST] ADD  CONSTRAINT [DF_S_PST_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[S_PST] ADD  CONSTRAINT [DF_S_PST_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[S_PST] ADD  CONSTRAINT [DF_S_PST_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[S_USER] ADD  CONSTRAINT [DF_M_USER_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[S_USER] ADD  CONSTRAINT [DF_M_USER_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[S_USER] ADD  CONSTRAINT [DF_M_USER_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[W_PRODUCT] ADD  CONSTRAINT [DF_W_PRODUCT_STATUS]  DEFAULT ((0)) FOR [STATUS]
GO
ALTER TABLE [dbo].[W_PRODUCT] ADD  CONSTRAINT [DF_W_PRODUCT_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[W_PRODUCT] ADD  CONSTRAINT [DF_W_PRODUCT_CREATEDATE]  DEFAULT (getdate()) FOR [CREATEDATE]
GO
ALTER TABLE [dbo].[D_ORDER_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_D_ORDER_DETAIL_O_ORDER] FOREIGN KEY([ORDER_CD])
REFERENCES [dbo].[O_ORDER] ([ORDER_CD])
GO
ALTER TABLE [dbo].[D_ORDER_DETAIL] CHECK CONSTRAINT [FK_D_ORDER_DETAIL_O_ORDER]
GO
ALTER TABLE [dbo].[D_ORDER_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_D_ORDER_DETAIL_O_PRODUCT] FOREIGN KEY([PRODUCT_CD])
REFERENCES [dbo].[O_PRODUCT] ([PRODUCT_CD])
GO
ALTER TABLE [dbo].[D_ORDER_DETAIL] CHECK CONSTRAINT [FK_D_ORDER_DETAIL_O_PRODUCT]
GO
ALTER TABLE [dbo].[D_PRODUCT_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_D_PRODUCT_DETAIL_O_PRODUCT] FOREIGN KEY([PRODUCT_CD])
REFERENCES [dbo].[O_PRODUCT] ([PRODUCT_CD])
GO
ALTER TABLE [dbo].[D_PRODUCT_DETAIL] CHECK CONSTRAINT [FK_D_PRODUCT_DETAIL_O_PRODUCT]
GO
ALTER TABLE [dbo].[O_BRANCH]  WITH CHECK ADD  CONSTRAINT [FK_O_BRANCH_O_CITIES] FOREIGN KEY([CITIES_CD])
REFERENCES [dbo].[O_CITIES] ([CITIES_CD])
GO
ALTER TABLE [dbo].[O_BRANCH] CHECK CONSTRAINT [FK_O_BRANCH_O_CITIES]
GO
ALTER TABLE [dbo].[O_NEWS]  WITH CHECK ADD  CONSTRAINT [FK_O_NEWS_O_CATEGORY_NEWS] FOREIGN KEY([CATEGORY_NEWS_CD])
REFERENCES [dbo].[O_CATEGORY_NEWS] ([CATEGORY_NEWS_CD])
GO
ALTER TABLE [dbo].[O_NEWS] CHECK CONSTRAINT [FK_O_NEWS_O_CATEGORY_NEWS]
GO
ALTER TABLE [dbo].[O_ORDER]  WITH CHECK ADD  CONSTRAINT [FK_O_ORDER_M_EMPLOYEE] FOREIGN KEY([EMPLOYEE_CD])
REFERENCES [dbo].[M_EMPLOYEE] ([EMPLOYEE_CD])
GO
ALTER TABLE [dbo].[O_ORDER] CHECK CONSTRAINT [FK_O_ORDER_M_EMPLOYEE]
GO
ALTER TABLE [dbo].[O_PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK_O_PRODUCT_O_CATEGORY_PRODUCT] FOREIGN KEY([CATEGORY_PRODUCT_CD])
REFERENCES [dbo].[O_CATEGORY_PRODUCT] ([CATEGORY_PRODUCT_CD])
GO
ALTER TABLE [dbo].[O_PRODUCT] CHECK CONSTRAINT [FK_O_PRODUCT_O_CATEGORY_PRODUCT]
GO
ALTER TABLE [dbo].[O_USER_CUSTOMER]  WITH CHECK ADD  CONSTRAINT [FK_O_USER_CUSTOMER_O_CUSTOMER] FOREIGN KEY([CUSTOMER_CD])
REFERENCES [dbo].[O_CUSTOMER] ([CUSTOMER_CD])
GO
ALTER TABLE [dbo].[O_USER_CUSTOMER] CHECK CONSTRAINT [FK_O_USER_CUSTOMER_O_CUSTOMER]
GO
ALTER TABLE [dbo].[O_USER_CUSTOMER]  WITH CHECK ADD  CONSTRAINT [FK_O_USER_CUSTOMER_S_USER] FOREIGN KEY([USER_CD])
REFERENCES [dbo].[S_USER] ([USER_CD])
GO
ALTER TABLE [dbo].[O_USER_CUSTOMER] CHECK CONSTRAINT [FK_O_USER_CUSTOMER_S_USER]
GO
ALTER TABLE [dbo].[O_USER_EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_O_USER_EMPLOYEE_M_EMPLOYEE] FOREIGN KEY([EMPLOYEE_CD])
REFERENCES [dbo].[M_EMPLOYEE] ([EMPLOYEE_CD])
GO
ALTER TABLE [dbo].[O_USER_EMPLOYEE] CHECK CONSTRAINT [FK_O_USER_EMPLOYEE_M_EMPLOYEE]
GO
ALTER TABLE [dbo].[O_USER_EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_O_USER_EMPLOYEE_S_USER] FOREIGN KEY([USER_CD])
REFERENCES [dbo].[S_USER] ([USER_CD])
GO
ALTER TABLE [dbo].[O_USER_EMPLOYEE] CHECK CONSTRAINT [FK_O_USER_EMPLOYEE_S_USER]
GO
ALTER TABLE [dbo].[O_USER_PST]  WITH CHECK ADD  CONSTRAINT [FK_O_USER_PST_S_PST] FOREIGN KEY([PST_CD])
REFERENCES [dbo].[S_PST] ([PST_CD])
GO
ALTER TABLE [dbo].[O_USER_PST] CHECK CONSTRAINT [FK_O_USER_PST_S_PST]
GO
ALTER TABLE [dbo].[O_USER_PST]  WITH CHECK ADD  CONSTRAINT [FK_O_USER_PST_S_USER] FOREIGN KEY([USER_CD])
REFERENCES [dbo].[S_USER] ([USER_CD])
GO
ALTER TABLE [dbo].[O_USER_PST] CHECK CONSTRAINT [FK_O_USER_PST_S_USER]
GO
